---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Стихи о таблице умножения"
h1="Стихи о таблице умножения"
description="Стихи, выученные в детстве, впоследствии остаются с человеком на всю жизнь. Рифма - это еще и отличный помощник в изучении таблице умножения."
keywords="Стихи о таблице умножения"
section="Стихи"
section_url="poetry"
img="poetry.jpg"
>


<h3>Содержание</h3>

<ul>
	<li><a href="#1">Немного о геймификации</a></li>
	<li><a href="#2">Стихи для таблицы умножения</a></li>
	<li><a href="/poetry/usachev/">Таблица умножения в стихах - Андрей Усачев</a></li>
	<li><a href="/poetry/kazarina/">Таблица умножения - Марина Казарина</a></li>
	<li><a href="/poetry/sobakin/">Таблица умножения - Тим Собакин</a></li>
	<li><a href="/poetry/trofimov/">Двойка за урок &ndash; беда - Владимир Трофимов</a></li>
	<li><a href="/poetry/prok/">Умножения таблицу - Юлия Прокопьева</a></li>
	<li><a href="/poetry/music/">Музыкальные таблицы умножения</a></li>
	<li><a href="#3">Несколько советов па заучиванию стихов</a></li>
</ul>



<p>Педагоги считают, что стихи, выученные в детстве, впоследствии остаются с человеком на всю жизнь. Они формируют его отношение к миру и людям вокруг, расширяют словарный запас и, конечно же, прочно закрепляют в сознании информацию.</p>

<p>Плюс ко всему, если учить таблицу умножения в форме стихов, это привносит элемент игры, а дети (да и люди вообще) любят игры и то, что весело. К тому же, такой способ закрепления информации относится к разделу мнемотехник, а мнемотехники, как вы наверняка знаете, позволяют что угодно заучивать быстрее и легче.</p>

<p>Но давайте сведем все преимущества заучивания стихотворений воедино:</p>

<ul>
<li><strong>Развитие памяти.</strong> Причем взрослые, которые в детстве учили стихи, намного лучше запоминают большие объемы информации, чем те, кто стихов не учил.</li>
<li><strong>Развитие фонетического слуха. </strong>Заучивая стихотворения, дети начинают лучше различать звуки в словах.</li>
<li><strong>Увеличение словарного запаса и развитие кругозора. </strong>Тут все просто: чем больше стихов знает ребенок, тем больше знает и слов и тем шире его знания о мире.</li>
<li><strong>Помощь в решении проблем логопедического характера</strong> (к примеру, когда есть трудности с произношением определенных букв).</li>
<li><strong>Формирование чувства языка. </strong>Благодаря стихотворениям речь ребенка становится более литературной, грамотной и правильной.</li>
<li><strong>Структурирование информации.</strong> В стихах всегда есть конкретная структура, и постепенно систематизации подчиняется и мышление в целом.</li>
<li><strong>Стремление доводить дело до конца. </strong>Как правило, стихи не бросают учить на полпути. И впоследствии это желание закончить начатое становится частью натуры.</li>
<li><strong>Тяга к знаниям и пониманию.</strong> Заучивая стихотворение, ребенок стремится понять то, что ему непонятно, а значит, и узнать то, чего не знал раньше.</li>
<li><strong>Здоровье мозга.</strong> Это относится не столько к детям, сколько к людям вообще, ведь регулярная интеллектуальная активность позволяет сохранять в тонусе мозг.</li>
<li><strong>Развитие креативности.</strong> При заучивании стихов мышление становится образным и ярким, более нестандартным. Также развивается умение строить ассоциации.</li>
</ul>


<p>Думаем, что этого вполне достаточно, чтобы понять, почему же так хорошо учить стихи. Однако нас в большей степени интересует именно практический аспект изучения таблицы умножения с помощью стихов, поэтому переходим непосредственно к теме.</p>

<h2 id="1">Немного о геймификации</h2>

<p>Перед тем, как мы приступим к самим стихотворениям, хотелось бы сказать о том, как вы уже на начальном этапе можете помочь своему ребенку выучить таблицу умножения.</p>

<p>Для начала дайте задание своему ребенку сделать свою таблицу умножения. К примеру, он может срисовать ее с оригинала цветными карандашами, фломастерами или даже красками, а также добавить собственные иллюстрации.</p>

<p>Это уже поможет малышу познакомиться с новой для себя информацией, а сама таблица понемногу начнет откладываться в его памяти. Да и интереса учить &laquo;свою&raquo; красочную таблицу у него будет намного больше.</p>

<p>Далее можно переходить к процессу изучения. Начинать лучше с самого понятного. Для начала можно объяснить, что значит умножать на единицу, а после этого &ndash; что значит умножать на 10. Таким образом уже совсем скоро вы освоите 20 примеров. При этом желательно &laquo;привлекать&raquo; к действу любимые игрушки, книжки и предметы ребенка.</p>

<p>Дальше стоит объяснить, что примеры будут чуть сложнее, и как раз для этого ребенку предстоит учить стихи. Но важно дать понять, что все это будет очень весело и интересно, а также объяснить, почему это будет полезно и как пригодится малышу в его малышовой жизни.</p>

<p>Чем больше игровых элементов вы привнесете в процесс, тем с большим интересом ребенок будет заниматься. При желании вы можете даже устроить домашнее представление, главным героем которого будет рассказчик таблицы умножения.</p>

<p>Теперь же приступаем к стихам.</p>

<h2 id="3">Стихи для таблицы умножения</h2>

<p>Ниже мы предлагаем вам небольшую подборку стихов по таблице умножения от разных авторов. Вы можете выбирать то, что вам по душе, но мы рекомендуем составлять список для заучивания так, чтобы в него входило максимальное количество примеров из таблиц.</p>


<h3><a href="/poetry/usachev/">Таблица умножения в стихах - Андрей Усачёв</a></h3>

<p>Что такое умножение?<br />
Это умное сложение.<br />
Ведь умней &ndash; умножить раз,<br />
Чем слагать все целый час.<br />
<br />
Один пингвин гулял средь льдин.<br />
Одиножды один &ndash; один.<br />
<br />
Один в поле не воин.<br />
Одиножды два двое.<br />
<br />
Два атлета взяли гири.<br />
Это: дважды два &ndash; четыре.<br />
<br />
Сел петух до зари<br />
На высокий шест:<br />
- Кукареку!.. Дважды три,<br />
Дважды три &ndash; шесть!<br />
<br />
В пирог вонзилась пара вилок:<br />
Два на четыре &ndash; восемь дырок.<br />
<br />
Двух слонов решили взвесить:<br />
Дважды пять &ndash; получим десять.<br />
То есть весит каждый слон<br />
Приблизительно пять тонн.<br />
<br />
Повстречался с раком краб:<br />
Дважды шесть &ndash; двенадцать лап.<br />
<br />
Дважды семь мышей &ndash;<br />
Четырнадцать ушей!<br />
<br />
Осьминоги шли купаться:<br />
Дважды восемь ног &ndash; шестнадцать.<br />
<br />
Вы видали подобное чудо?<br />
Два горба на спине у верблюда.<br />
Стали девять верблюдов считаться:<br />
Дважды девять горбов &ndash; восемнадцать.<br />
<br />
Дважды десять &ndash; два десятка!<br />
Двадцать, если скажем кратко.<br />
<br />
Кофе пили две букашки<br />
И разбили по три чашки.<br />
Что разбито, то не склеить&hellip;<br />
Трижды три &ndash; выходит девять.</p>

<p>Прочитать всё стихотворение Андрея Усачёва можно на <a href="/poetry/usachev/">этой странице</a>.</p>







<h3><a href="/poetry/kazarina/">Таблица умножения - Марина Казарина</a></h3>

<p>Ученики и ученицы!<br />
Чтоб было проще вам считать,<br />
Мы Пифагорову таблицу<br />
В стихах решили написать.</p>

<p>По ней легко найти решенье,<br />
Куплет достаточно прочесть,<br />
А чтоб запомнить вычисленья,<br />
Везде своя подсказка есть!</p>

<p>Ну что ж, откладывать не станем,<br />
Тетрадь и карандаш достанем<br />
И примемся за дело бойко.<br />
Итак, на старт выходит ДВОЙКА!</p>

<p>Умножив два на единицу,<br />
Получим ДВОЙКУ &ndash; лебедь-птицу,<br />
Спасает каждый ученик<br />
От этих &laquo;птичек&raquo; свой дневник.</p>

<p>Известно детям в целом мире,<br />
Что дважды два равно ЧЕТЫРЕ.<br />
Им также следует учесть,<br />
Что дважды три получим ШЕСТЬ.</p>

<p>Два на четыре &ndash; будет ВОСЕМЬ.<br />
И всех ребят мы очень просим<br />
Забыть капризы, ссоры, лень<br />
Восьмого марта &ndash; в мамин день!</p>

<p>Нам два на пять умножить нужно,<br />
И если все возьмемся дружно,<br />
Да поднатужимся, ребятки,<br />
То сразу попадем в ДЕСЯТКУ!</p>

<p>Прочитать всё стихотворение Марины Казариной можно на <a href="/poetry/kazarina/">этой странице</a>.</p>







<h3><a href="/poetry/sobakin/">Таблица умножения - Тим Собакин</a></h3>

<p>Что такое умножение?<br />
Это действие сложения.<br />
Но не слишком-то приятное,<br />
потому что мно-го-крат-ное&hellip;</p>

<p><strong>НУЛЕВОЙ столбец (умножение на 0)</strong></p>

<p>Умножая число на ноль,<br />
Вы получите без сомнения<br />
тот же самый пузатый 0 &ndash;<br />
пусть не более,<br />
но и не менее.</p>

<p>К тебе бегут 500 врагов,<br />
И каждый воевать готов.<br />
А ты не плач,<br />
А ты не ной &ndash;<br />
Умножь число врагов на ноль.<br />
На поле битвы станет пусто.<br />
Вот суть военного искусства!</p>

<p><strong>ПЕРВЫЙ столбец (умножение на 1)</strong></p>

<p>Запомни: любое число,<br />
умноженное на единицу,<br />
должно в результате назло<br />
в само же себя превратиться.</p>

<p><strong>ВТОРОЙ столбец (умножение на 2)</strong></p>

<p>2Х2=?<br />
Дважды два будет пять &ndash;<br />
это каждый должен знать!<br />
(шутка)</p>

<p>2Х9=18<br />
Очень умная Горилла<br />
ежедневно говорила:<br />
&laquo;Можете не сомневаться:<br />
ДВАЖДЫ ДЕВЯТЬ &ndash;<br />
ВОСЕМНАДЦАТЬ&raquo;.</p>

<p><strong>ТРЕТИЙ столбец (умножение на 3)</strong></p>

<p>3Х3=9<br />
По ТРИ чумазых трубочиста<br />
случайно в ТРИ трубы свалилось.<br />
Давайте перемножим числа &ndash;<br />
В итоге ДЕВЯТЬ получилось.</p>

<p>Хоть светит солнышко лучисто,<br />
я их нигде не обнаружу:<br />
пока никто из трубочистов<br />
так и не выбрался наружу.</p>

<p>Прочитать всё произведение Тима Собакина можно на <a href="/poetry/sobakin/">этой странице</a>.</p>









<h3><a href="/poetry/trofimov/">Двойка за урок &ndash; беда - Владимир Трофимов</a></h3>

<p><strong>Цифра 2</strong></p>

<p>Двойка за урок-беда<br />
Только выход есть всегда<br />
Два на два перемножаем<br />
И четверку получаем.</p>

<p>Двойке хочется вперед<br />
Двойка цифру три зовет<br />
Перемножим два и три<br />
Вот шестерка, посмотри.</p>

<p>Но и это не предел<br />
Ведь четыре не у дел<br />
Перемножь их, поспеши<br />
Цифру восемь запиши.</p>

<p>Двойка крутится опять<br />
Хочет цифру пять поймать<br />
Перемножить их осталось<br />
Чтобы десять насчиталось.</p>

<p>Два галчонка, шесть синиц<br />
Перемножим этих птиц<br />
Только действие свершилось<br />
Их двенадцать очутилось.</p>

<p>Два удода, семь ворон<br />
Сели прямо на балкон<br />
Перемножим, как бывало<br />
И четырнадцать их стало.</p>

<p>Два мангуста, восемь змей<br />
Ой! Решаем поскорей!<br />
Надо, надо поспешить<br />
Да шестнадцать получить.</p>

<p>Две монетки, золотые<br />
Девять медные, простые<br />
Если их перемножаем<br />
Восемнадцать получаем.</p>

<p>Два крота копали ход<br />
Десять червяков ползет<br />
Умноженье применяем<br />
Сразу двадцать получаем.</p>

<p>Прочитать весь стих Владимира Трофимова можно на <a href="/poetry/trofimov/">этой странице</a>.</p>





<h3><a href="/poetry/prok/">Умножения таблицу - Юлия Прокопьева</a></h3>

<p><strong>Умножение на 1</strong></p>

<p>Умножения таблицу<br />
Начинаем с единицы.</p>

<p>Умножать на единицу<br />
Очень просто и легко,<br />
Ведь в итоге получаем<br />
То же самое число.</p>

<p>Один умножить на один,<br />
А в результате что? Один.</p>

<p>Теперь добавим мастерства &ndash;<br />
Один, умножив мы на два,<br />
И результат получим два.</p>

<p>Один на три, лишь посмотри,<br />
Мы получаем ровно три!</p>

<p>Один умножить на четыре &ndash;<br />
В ответе, что у нас? Четыре!</p>

<p>Не сложно также посчитать,<br />
Один на пять выходит пять.</p>

<p>Нам также следует учесть,<br />
Один на шесть &ndash; получим шесть.</p>

<p>И легче легкого совсем,<br />
Один на семь, что будет? Семь!</p>

<p>Теперь, все зная, смело спросим:<br />
Один на восемь? Верно &ndash; восемь!</p>

<p>В таблице можем мы проверить,<br />
Один на девять будет девять.</p>

<p>И чтобы все уравновесить,<br />
Один на десять &ndash; это десять.</p>

<p><strong>Умножение на 2</strong></p>

<p>Дважды два равно четыре,<br />
Жили-были мыши в сыре!</p>

<p>Дважды три получим шесть,<br />
Сколько их &ndash; совсем не счесть!</p>

<p>Прочитать всё стихотворение Юлии Прокопьевой можно на <a href="/poetry/prok/">этой странице</a>.</p>




<p>Также сегодня можно найти немало коротких стихотворений с наиболее сложными для детей примерами. Вот несколько таковых:</p>

<h3>Это всем известно в мире - Ал Еф</h3>

<p>Дважды два равно четыре,<br />
Трижды девять &ndash; двадцать семь.<br />
Это всем известно в мире,<br />
И давно известно всем.</p>

<p>Шестью восемь &ndash; сорок восемь,<br />
Пятью девять &ndash; сорок пять.<br />
Это где кого ни спросим,<br />
Знают все и будут знать.</p>

<p>Ну, а если кто-нибудь<br />
Скажет вдруг, что это муть,<br />
Не запустит он ракету,<br />
Не построит самолет,<br />
И я спорю на конфету &ndash;<br />
На волшебную планету<br />
Ни за что не попадет!</p>

<h3>Было в песне той нот семь - Алена Амелина</h3>

<p>Было в песне то нот семь<br />
С этой песней грустно всем,<br />
Увеличим их в шесть раз,<br />
Нотки СОРОК ДВЕ у нас.<br />
<br />
Вот глядим, сидят лягушки<br />
Вдоль тропинки на опушке.<br />
Шесть рядов по восемь штук.<br />
Сколько получается<br />
&ndash; СОРОК ВОСЕМЬ, но никак<br />
Тропка не кончается.<br />
<br />
Есть аквариум у нас &ndash;<br />
Девять рыбок, просто класс!<br />
Больше в шесть раз есть у Толи,<br />
Сосчитаем их сейчас.<br />
Их в его квартире &ndash;<br />
ПЯТЬДЕСЯТ ЧЕТЫРЕ.<br />
<br />
Будет мне уж десять лет,<br />
В шесть раз старше меня дед,<br />
ШЕСТЬДЕСЯТ ему уж скоро,<br />
Он ужасно любит скорость,<br />
Сядет на велосипед и умчится<br />
Вот так дед!</p>

<h3>Дважды два всегда четыре&hellip; - Владимир Воднев</h3>

<p><strong>Дважды два</strong> &ndash; всегда четыре,<br />
Это всем известно в мире!<br />
<strong>Дважды три</strong>, прошу учесть,<br />
Неизменно будет шесть!</p>

<p><strong>Два умножить на четыре</strong> &ndash;<br />
Будет восемь, руки шире &ndash;<br />
Вот настолько, милый друг,<br />
Восемь больше просто двух!</p>

<p><strong>Дважды пять</strong> &ndash; десяток целый:<br />
Пять &ndash; на правой, пять &ndash; на левой,<br />
<strong>Дважды&nbsp;шесть</strong>, хочу признаться,<br />
Как и месяцев &ndash; двенадцать.</p>

<p><strong>Дважды семь</strong>, спешу заметить,<br />
Не тринадцать и не десять,<br />
А четырнадцать, поверьте,<br />
А не верите &ndash; проверьте!</p>

<p><strong>Дважды восемь</strong> &ndash; все шестнадцать,<br />
<strong>Дважды девять</strong> &ndash; восемнадцать,<br />
<strong>Дважды десять</strong>, милый друг &ndash;<br />
Двадцать пальцев ног и рук!</p>

<p>Эти и другие стихотворения для запоминания таблицы умножения можно не просто заучивать, а накладывать на какую-нибудь незамысловатую музыку, чтобы получались песенки или просто легкие запоминалки. А еще можете придумывать для каждого примера маленькие сказки, главными героями которых будут числа.</p>

<h2><a href="/poetry/music/">Музыкальные таблицы умножения</a></h2>

<p>Помимо прочего, сегодня на том же YouTube есть уже готовые музыкальные таблицы умножения, с помощью которых детям усваивать информацию намного веселее и легче. Предлагаем вашему вниманию несколько толковых вариантов.</p>

<p>Вот пример музыкальной таблицы умножения на 2, а больше вариантов мы собрали на <a href="/poetry/music/">этой странице.</a></p>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/5wX3bboa0Bk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>


<h2 id="3">Несколько советов па заучиванию стихов </h2>

<p>И в заключение хотим дать несколько рекомендаций, которые помогут вашем ребенку освоить таблицу умножения с помощью стихов быстрее.</p>

<p>Начинать заниматься лучше всего с самого раннего возраста, даже когда ребенок еще не совсем понимает смысла того, что учит, но начинает более-менее осознанно говорить, т.е. в 2-3 года. Впоследствии объяснить ему смысл того, что он уже знает, будет гораздо проще, да и сама такая активность будет способствовать развитию мозга.</p>

<p>Сначала показывайте ребенку, как должно звучать стихотворение. Произносите все с выражением и расстановками. Старайтесь объяснять то, что ему непонятно. Причем заниматься можно не только дома, но и на прогулке, по пути в магазин или по дороге в садик. Когда ребенок начнет осваивать стихи, просите его заканчивать предложения вместо вас.</p>

<p>Интересуйтесь у малыша, понимает ли он, о чем идет речь. Для лучшего понимания используйте игрушки, картинки, фотографии и предметы, вызывающие нужные образы и ассоциации. Также будет замечательно, если у ребенка будет мотивация понять и запомнить стих. Так, вы можете сказать, что сегодня хотите удивить дедушку или поднять настроение папе.</p>

<p>И, конечно же, не забывайте повторять с ребенком стихи и саму таблицу умножения. При этом избегайте бездумной и скучной зубрежки, иначе интерес быстро пропадет, а вернуть его будет очень сложно.</p>

<p>Давайте простые примеры из повседневной жизни, учите малыша применять знания на практике, просите его помогать вам посчитать что-нибудь. Это поможет ему почувствовать, что новые знания ему действительно нужны.</p>

<p>И обязательно проявляйте терпение, если у ребенка что-то не получается. Результат обязательно будет, просто иногда его нужно немного подождать. Желаем удачи!</p>



</Layout_article>
