---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Стих Таблица умножения Марины Казариной"
h1="Стих Таблица умножения Марины Казариной"
description="Это простое и увлекательное стихотворение, помогающее детям легче запомнить Пифагорову таблицу."
keywords="марина казарина, стих, таблица умножения"
url="kazarina"
section="Стихи"
section_url="poetry"
img="kazarina.jpg"
>

<p>Марина Казарина &ndash; поэтесса, у которой есть такие известные детские произведения, как &laquo;Наступает Новый год&raquo;, &laquo;День учителя&raquo; и &laquo;Таблица умножения&raquo;. На данной странице мы разместим последнее.</p>

<p>В интернете о Марине Казариной достаточно мало информации, однако ее стихи для детей, наверное, лучше говорят о человеке и его внутреннем мире, чем любая информация.</p>

<p>Ученики и ученицы!<br />
Чтоб было проще вам считать,<br />
Мы Пифагорову таблицу<br />
В стихах решили написать.</p>

<p>По ней легко найти решенье,<br />
Куплет достаточно прочесть,<br />
А чтоб запомнить вычисленья,<br />
Везде своя подсказка есть!</p>

<p>Ну что ж, откладывать не станем,<br />
Тетрадь и карандаш достанем<br />
И примемся за дело бойко.<br />
Итак, на старт выходит ДВОЙКА!</p>

<p>Умножив два на единицу,<br />
Получим ДВОЙКУ &ndash; лебедь-птицу,<br />
Спасает каждый ученик<br />
От этих &laquo;птичек&raquo; свой дневник.</p>

<p>Известно детям в целом мире,<br />
Что дважды два равно ЧЕТЫРЕ.<br />
Им также следует учесть,<br />
Что дважды три получим ШЕСТЬ.</p>

<p>Два на четыре &ndash; будет ВОСЕМЬ.<br />
И всех ребят мы очень просим<br />
Забыть капризы, ссоры, лень<br />
Восьмого марта &ndash; в мамин день!</p>

<p>Нам два на пять умножить нужно,<br />
И если все возьмемся дружно,<br />
Да поднатужимся, ребятки,<br />
То сразу попадем в ДЕСЯТКУ!</p>

<p>О том, что дважды шесть &ndash; ДВЕНАДЦАТЬ,<br />
Вам календарь расскажет, братцы,<br />
А в нем подсказку вам дадут<br />
Двенадцать месяцев в году!</p>

<p>Красиво два на семь умножить<br />
Февральский праздник нам поможет,<br />
День всех влюбленных, помню я, &ndash;<br />
ЧЕТЫРНАДЦАТОГО, друзья!</p>

<p>А сколько будет дважды восемь,<br />
Десятиклассников мы спросим.<br />
Они подскажут нам ответ,<br />
Ведь им уже ШЕСТНАДЦАТЬ лет!</p>

<p>Запомнить надо постараться,<br />
Что дважды девять &ndash; ВОСЕМНАДЦАТЬ.<br />
И очень просто догадаться,<br />
Что дважды десять &ndash; будет ДВАДЦАТЬ!</p>

<p>Мы хорошенько постарались<br />
И с двойкой быстро разобрались.<br />
Теперь, друзья, держитесь стойко,<br />
В игру уже вступает ТРОЙКА!</p>

<p>Умножив три на единичку,<br />
Мы попадаем на страничку<br />
Из книги сказок для ребят<br />
Про ТРЕХ веселых поросят!</p>

<p>Что трижды два равно ШЕСТИ,<br />
Ответ в шпаргалке подглядим!<br />
А трижды три, решим и сами,<br />
Равно ШЕСТЕРКЕ ВВЕРХ НОГАМИ.</p>

<p>Три на четыре умножая,<br />
Я циферблат воображаю<br />
И представляю я тотчас,<br />
Как бьют часы ДВЕНАДЦАТЬ раз.</p>

<p>Что трижды пять равно ПЯТНАДЦАТЬ,<br />
Легко должно запоминаться.<br />
Представь, как в школе первоклашки<br />
Играют весело в пятнашки!</p>

<p>Умножим три на шесть в два счета,<br />
Скорее взрослым стать охота!<br />
Ты знаешь, годы быстро мчатся,<br />
Глядишь, тебе уж ВОСЕМНАДЦАТЬ!</p>

<p>Умножить три на семь придется,<br />
И это нам легко дается,<br />
Ведь трижды семь &ndash; ответ один,<br />
Получится ДВАДЦАТЬ ОДИН!</p>

<p>А сколько будет трижды восемь,<br />
За сутки справимся с вопросом,<br />
Ведь в сутках, как известно в мире,<br />
Часов всего ДВАДЦАТЬ ЧЕТЫРЕ!</p>

<p>Мы по секрету скажем всем,<br />
Что трижды девять &ndash; ДВАДЦАТЬ СЕМЬ.<br />
И надо ж было так случиться,<br />
Что трижды десять будет ТРИДЦАТЬ!</p>

<p>Ну, вот и тройку одолели,<br />
Устать мы, к счастью, не успели.<br />
А дел еще невпроворот,<br />
Нас впереди ЧЕТВЕРКА ждет!</p>

<p>Четверку на один умножив,<br />
Мы изменить ее не сможем,<br />
В произведенье с единицей<br />
Должна ЧЕТВЕРКА получиться!</p>

<p>Четыре на два &ndash; будет ВОСЕМЬ,<br />
Восьмерку на нос мы набросим,<br />
Вдруг подойдет тебе и мне<br />
Восьмерка в качестве пенсне?</p>

<p>Четыре на три как умножить?<br />
Придется в зимний лес идти,<br />
ДВЕНАДЦАТЬ месяцев помогут<br />
Зимой подснежники найти!</p>

<p>Умножь четыре на четверку,<br />
Такой пример легко решить!<br />
В произведении этом только<br />
ШЕСТНАДЦАТЬ можно получить!</p>

<p>Для вас четыре на пятерку<br />
Умножат ловко мушкетеры,<br />
С врагами шпаги вновь скрестя<br />
В романе &laquo;ДВАДЦАТЬ лет спустя&raquo;.</p>

<p>Четыре мы на шесть умножим<br />
И в результате будет что же?<br />
Идут часы, бегут минутки&hellip;<br />
ДВАДЦАТЬ ЧЕТЫРЕ &ndash; ровно сутки!</p>

<p>Четыре на семь &ndash; ДВАДЦАТЬ ВОСЕМЬ &ndash;<br />
Деньков обычно в феврале.<br />
А для проверки всех попросим<br />
Искать ответ в календаре!</p>

<p>Умножь четыре на восьмерку,<br />
И ТРИДАТЬ ДВА &ndash; звучит ответ.<br />
У человека ровно столько<br />
Во рту зубов в расцвете лет!</p>

<p>Умножь четыре на девятку &ndash;<br />
Получишь ровно ТРИДЦАТЬ ШЕСТЬ,<br />
Ну, а умножишь на десятку,<br />
Пиши смелее СОРОК здесь!</p>

<p>Черверка позади осталась,<br />
Другая цифра показалась&hellip;<br />
И предстоит запоминать<br />
Нам умноженье с цифрой ПЯТЬ!</p>

<p>Умножив пять на единицу,<br />
Мы без труда получим ПЯТЬ!<br />
И нашу складную таблицу<br />
Продолжим дальше изучать.</p>

<p>А пять на два, хочу заметить,<br />
Умножить просто &ndash; будет ДЕСЯТЬ!<br />
Ответ всегда в твоих руках:<br />
Он &ndash; в рукавичках и в носках!</p>

<p>Умножим пять на тройку дружно,<br />
Немного времени нам нужно.<br />
ПЯТНАДЦАТЬ получили сразу &ndash;<br />
Управились за четверть часа!</p>

<p>Как пять умножить на четыре,<br />
Дадут ответ в телеэфире!<br />
Смотрите на экране вы<br />
ДВАДЦАТКУ клипов МузТV!</p>

<p>А пятью пять &ndash; ответ известный,<br />
О нем поется в детской песне,<br />
И каждый школьник должен знать,<br />
Что здесь получим ДВАДЦАТЬ ПЯТЬ!</p>

<p>Пять на шестерку умножаем,<br />
В итоге ТРИДЦАТЬ получаем.<br />
И пятью семь &ndash; легко считать &ndash;<br />
Ответ короткий: ТРИДЦАТЬ ПЯТЬ!</p>

<p>А сколько будет пятью восемь,<br />
Али-Бабу из сказки спросим.<br />
Когда к разбойникам попал,<br />
Он их все СОРОК насчитал!</p>

<p>Друзья, хочу вам подсказать,<br />
Что пятью девять &ndash; СОРОК ПЯТЬ,<br />
И знает каждый из ребят,<br />
Что пятью десять &ndash; ПЯТЬДЕСЯТ!</p>

<p>Пятерку враз мы рассчитали<br />
И совершенно не устали.<br />
Решаем дальше! Силы есть!<br />
Теперь займемся цифрой ШЕСТЬ!</p>

<p>Шесть на один &ndash; ШЕСТЕРКА вышла,<br />
А за окном гитару слышно!<br />
И льются песни ночью лунной<br />
Под переливы шестиструнной.</p>

<p>Шестерку на два умножаем &ndash;<br />
ДВЕНАДЦАТЬ ровно получаем.<br />
В двенадцать ночи каждый год<br />
К нам в дом приходит Новый Год!</p>

<p>Шесть на три &ndash; только ВОСЕМНАДЦАТЬ!<br />
В такие годы можно, братцы,<br />
Жениться, замуж выходить,<br />
Самим автомобиль водить!</p>

<p>Простой пример &laquo;шестью четыре&raquo;<br />
Его мы с вами походили!<br />
Подумать надо с полминутки&hellip;<br />
ДВАДЦАТЬ ЧЕТЫРЕ &ndash; снова сутки!</p>

<p>А шестью пять &ndash; получим ТРИДЦАТЬ,<br />
Здесь циферблат нам пригодится:<br />
Большая стрелка на часах<br />
Покажет ровно полчаса!</p>

<p>А, верно, шесть на шесть умножить<br />
Нам снова песенка поможет,<br />
В ее словах решенье есть:<br />
Шесть на шесть будет ТРИДЦАТЬ ШЕСТЬ.</p>

<p>&laquo;Шесть на семь&raquo; умноженье учим,<br />
Подсказку в обувном получим,<br />
Ведь носят многие мужчины<br />
СОРОК ВТОРОЙ размер ботинок!</p>

<p>Что шестью восемь &ndash; СОРОК ВОСЕМЬ,<br />
Удав мартышке объяснял,<br />
Но сам в длину &ndash; лишь тридцать восемь<br />
Он &laquo;в попугаях&raquo; составлял!</p>

<p>А шестью девять &ndash; мы решили.<br />
Получим ПЯТЬДЕСТЯТ ЧЕТЫРЕ!<br />
И каждый нам ответить рад,<br />
Что шестью десять &ndash; ШЕСТЬДЕСЯТ!</p>

<p>Друзья, отличная работа!<br />
С шестеркой справились в два счета!<br />
А дальше предлагаем всем<br />
Решить примеры с цифрой СЕМЬ!</p>

<p>&laquo;Семью один&raquo; &ndash; найти ответик<br />
Поможет цветик-семицветик!<br />
Ведь у таких, как он цветков,<br />
СЕМЬ разноцветных лепестков!</p>

<p>Семь на два мы умножим просто,<br />
ЧЕТЫРНАДЦАТЬ &ndash; хороший возраст,<br />
Ведь в этом возрасте прекрасном<br />
Ребята получают паспорт!</p>

<p>Что семью три &ndash; ДВАДЦАТЬ ОДИН,<br />
Сказал нам важный господин,<br />
Давайте у него же спросим:<br />
&laquo;Cемью четыре?&raquo; &ndash; ДВАДЦАТЬ ВОСЕМЬ!</p>

<p>Умножим семь на пять! Готово!<br />
Ответ знакомый &ndash; ТРИДЦАТЬ ПЯТЬ!<br />
Попросим тридцать три коровы<br />
Его погромче промычать!</p>

<p>Для всех пропел Валерий Сюткин,<br />
Что шестью семь &ndash; ответ простой,<br />
Проводит СОРОК ДВЕ минутки<br />
Он ежедневно над землей!</p>

<p>Хотите семь на семь умножить?<br />
Мы всем подсказку можем дать:<br />
Взгляните, &laquo;СОРОК ДЕВЯТЬ&raquo; можно<br />
Лишь раз в таблице повстречать!</p>

<p>А умножая семь на восемь,<br />
ПЯТЬДЕСЯТ ШЕСТЬ ответ дадим!<br />
Людей по городу развозит<br />
Автобус с номером таким!</p>

<p>Семь умножаем на девятку,<br />
Получится ШЕСТЬДЕСЯТ ТРИ.<br />
И с &laquo;семью десять&raquo; все в порядке,<br />
Здесь ровно СЕМЬДЕСЯТ, смотри!</p>

<p>Итак, с семеркой мы в расчете,<br />
А цифра ВОСЕМЬ на подходе!<br />
Чтоб даром время не терять,<br />
Начнем-ка, братцы, умножать!</p>

<p>Восьмерку на один умножит<br />
Подводный житель осьминог,<br />
Ходить по суше он не может,<br />
Хоть и имеет ВОСЕМЬ ног!</p>

<p>А восемь на два &ndash; знайте, братцы,<br />
Решенье верное &ndash; ШЕСТНАДЦАТЬ!<br />
А восемь на три &ndash; не забыли?<br />
Ответ &laquo;в часах&raquo; &ndash; ДВАДЦАТЬ ЧЕТЫРЕ!</p>

<p>Умножим восемь на четыре,<br />
Здесь только ТРИДЦАТЬ ДВА, друзья,<br />
Хоть в Лукоморье говорили<br />
Про тридцать три богатыря!</p>

<p>Умножим восемь на пятерку &ndash;<br />
Здесь СОРОК, вариантов нет!<br />
А вот подсказка-поговорка:<br />
&laquo;За сорок бед &ndash; один ответ!&raquo;</p>

<p>Восьмерочку на шесть умножим &ndash;<br />
Выходит СОРОК ВОСЕМЬ здесь!<br />
Ну а на семь помножив, сможем<br />
Мы получить &ndash; ПЯТЬДЕСЯТ ШЕСТЬ!</p>

<p>На восемь восемь научились<br />
Мы без ошибок умножать,<br />
И ровно ШЕСТЬДЕСЯТ ЧЕТЫРЕ<br />
Должны в ответе указать!</p>

<p>На девять восемь умножаем.<br />
Вот результат: СЕМЬДЕСЯТ ДВА!<br />
На десять восемь &ndash; отвечаем:<br />
Здесь ВОСЕМЬДЕСЯТ, господа!</p>

<p>Ура! Восьмерку одолели!<br />
Еще рывок, и мы у цели!<br />
Но для начала по порядку<br />
Беремся умножать ДЕВЯТКУ!</p>

<p>Умножим девять на один,<br />
Историю страны листая,<br />
Пусть помнит каждый гражданин<br />
О славном дне &ndash; ДЕВЯТОМ мая!</p>

<p>Умножить девять на два просто,<br />
А чтоб не забывать ответ,<br />
Запомни: твой &laquo;гражданский&raquo; возраст<br />
Начнется в ВОСЕМНАДЦАТЬ лет!</p>

<p>&laquo;Девятка на три&raquo;, вслух считаем,<br />
Здесь ДВАДЦАТЬ СЕМЬ &ndash; решенье есть!<br />
А на четыре умножаем &ndash;<br />
Получим ровно ТРИДЦАТЬ ШЕСТЬ!</p>

<p>Совсем не сложно научиться<br />
На пять девятку умножать!<br />
Должно в итоге получиться<br />
Произведенье СОРОК ПЯТЬ!</p>

<p>А чтоб на шесть умножить девять,<br />
Нам ничего не нужно делать!<br />
Мы с вами это проходили,<br />
В ответе &ndash; ПЯТЬДЕСЯТ ЧЕТЫРЕ!</p>

<p>А вот и умница Мальвина<br />
Прилежно учит Буратино,<br />
И говорит ему: &laquo;Смотри,<br />
Девятью семь &ndash; ШЕСТЬДЕСЯТ ТРИ&raquo;!</p>

<p>Девятью восемь &ndash; вот задача,<br />
Давай, работай, голова!<br />
Но нас не подвела удача,<br />
Даем ответ &ndash; СЕМЬДЕСЯТ ДВА!</p>

<p>На девять девять умножаем,<br />
Ответ в таблице проверяем,<br />
А равен, судя по всему,<br />
Он ВОСЕМЬДЕСЯТ ОДНОМУ!</p>

<p>Пример последний остается,<br />
И он нам сразу поддается!<br />
Девятью десять &ndash; это просто!<br />
В ответе &ndash; ровно ДЕВЯНОСТО!</p>



</Layout_article>
