---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Музыкальные таблицы умножения"
h1="Музыкальные таблицы умножения"
description="Cегодня на том же YouTube есть уже готовые музыкальные таблицы умножения."
keywords="Умножения таблицу, музыкальные, видео"
url="music"
section="Стихи"
section_url="poetry"
img="music.jpg"
>

<p>Предлагаем вашему вниманию несколько толковых вариантов.</p>

<h3>Музыкальная таблица умножения на 2:</h3>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/5wX3bboa0Bk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h3>Музыкальная таблица умножения на 3:</h3>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/9FzlIApsWSI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h3>Музыкальная таблица умножения на 4:</h3>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/exP8OtnhIRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h3>Музыкальная таблица умножения на 5:</h3>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/TunMX78V0M0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h3>Музыкальная таблица умножения на 6:</h3>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/qRAciT-Kt_E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h3>Музыкальная таблица умножения на 7:</h3>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/Z5tOOcbUT0s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h3>Музыкальная таблица умножения на 8:</h3>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ssad7FKFVlI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<h3>Музыкальная таблица умножения на 9:</h3>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/3D1V2maRJvQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<p>При желании вы можете придумать свои варианты, например, записать рэп с незамысловатыми четверостишиями и вместе с ребенком устраивать тематические вечеринки. Уверены, что удовольствие от процесса получите и вы сами.</p>


</Layout_article>
