---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Умножения таблицу - Юлия Прокопьева"
h1="Умножения таблицу - Юлия Прокопьева"
description="Стихотворение, в котором на каждый множитель есть своё двустишие."
keywords="Умножения таблицу, Юлия Прокопьева, стих, двустишия, таблица умножения"
url="prok"
section="Стихи"
section_url="poetry"
img="prok.jpg"
>

<p>Юлия Прокофьева &ndash; поэтесса, у которой на Стихи.ру более 38 тысяч читателей и более 200 рецензий. Её детские стихотворения затрагивают различные темы: от времён года и подводного мира океана до правил этикета и изучения таблицы умножения.</p>

<p>Произведения Юлии очень простые и удобные для того, чтобы быстро запоминать даже самые сложные примеры таблицы Пифагора.</p>

<p><strong>Умножение на 1</strong></p>

<p>Умножения таблицу<br />
Начинаем с единицы.</p>

<p>Умножать на единицу<br />
Очень просто и легко,<br />
Ведь в итоге получаем<br />
То же самое число.</p>

<p>Один умножить на один,<br />
А в результате что? Один.</p>

<p>Теперь добавим мастерства &ndash;<br />
Один, умножив мы на два,<br />
И результат получим два.</p>

<p>Один на три, лишь посмотри,<br />
Мы получаем ровно три!</p>

<p>Один умножить на четыре &ndash;<br />
В ответе, что у нас? Четыре!</p>

<p>Не сложно также посчитать,<br />
Один на пять выходит пять.</p>

<p>Нам также следует учесть,<br />
Один на шесть &ndash; получим шесть.</p>

<p>И легче легкого совсем,<br />
Один на семь, что будет? Семь!</p>

<p>Теперь, все зная, смело спросим:<br />
Один на восемь? Верно &ndash; восемь!</p>

<p>В таблице можем мы проверить,<br />
Один на девять будет девять.</p>

<p>И чтобы все уравновесить,<br />
Один на десять &ndash; это десять.</p>

<p><strong>Умножение на 2</strong></p>

<p>Дважды два равно четыре,<br />
Жили-были мыши в сыре!</p>

<p>Дважды три получим шесть,<br />
Сколько их &ndash; совсем не счесть!</p>

<p>Два умножим на четыре &ndash;<br />
Будет восемь дырок в сыре,<br />
Дырок в сыре ровно восемь,<br />
Как попасть к мышам мы спросим?</p>

<p>Дважды пять выходит десять,<br />
Как на небо выйдет месяц.</p>

<p>Дважды шесть равно двенадцать,<br />
Нужно в полночь собираться.</p>

<p>Дважды семь, кто быстро учит &ndash;<br />
Тот четырнадцать получит.</p>

<p>Дважды восемь &ndash; ведь шестнадцать<br />
Сможет в сырный дом добраться.</p>

<p>Дважды девять восемнадцать,<br />
Вкусным сыром объедаться.</p>

<p>Дважды десять будет двадцать<br />
Мышки в гости ждут вас, братцы!</p>

<p>К мышке Норушке<br />
Пришли две подружки.<br />
Всем принесли они<br />
По две ватрушки.<br />
Мышки ватрушки начали есть.<br />
Сколько же было ватрушек всех?</p>

<p>Пять сереньких мышек на лапки<br />
Надели пушистые тапки.<br />
Чтобы тапки сосчитать,<br />
Умножаем два на пять.</p>

<p>Сколько у шести мышей<br />
На макушке есть ушей?<br />
Тут не трудно догадаться,<br />
Что ушей всего &hellip;</p>

<p><strong>Умножение на 3</strong></p>

<p>Трижды три выходит девять,<br />
Маша шла на пруд с медведем.</p>

<p>Три, умножив на четыре,<br />
Мы двенадцать получили.</p>

<p>Трижды пять равно пятнадцать,<br />
Повстречали волка-братца.</p>

<p>Трижды шесть &ndash; ведь восемнадцать,<br />
&laquo;Без меня пошли купаться?!&raquo;</p>

<p>Трижды семь &ndash; двадцать один,<br />
&laquo;Злиться вовсе нет причин!&raquo;</p>

<p>Трижды восемь мы умножим,<br />
Как восьмерку трижды сложим,<br />
Выйдет так двадцать четыре,<br />
&laquo;Волк, не место здесь задире!</p>

<p>Трижды девять двадцать семь,<br />
Станешь вежливым совсем.</p>

<p>Трижды десять будет тридцать,<br />
&laquo;Сможешь с нами подружиться!&raquo;</p>

<p><strong>Умножение на 4</strong></p>

<p>Вот: четыре на четыре,<br />
Всем вниманье, мы в эфире!</p>

<p>Получается шестнадцать,<br />
Скоро должен матч начаться!</p>

<p>Пять умножим на четверку,<br />
Двадцать полевых на горку.</p>

<p>Шесть умножим на четыре<br />
Весь состав &ndash; двадцать четыре.</p>

<p>А четыре-то на семь,<br />
Двадцать восемь знают все!</p>

<p>Восемь множим на четыре,<br />
Стали игроки пошире,<br />
Тридцать два мы получаем<br />
И мяч с центра выбиваем.</p>

<p>А четыре на девятку,<br />
Мяч защитнику на пятку,<br />
Тридцать шесть &ndash; забили гол!!!<br />
Так играем мы в футбол!</p>

<p>Десять на четыре &ndash; сорок,<br />
Победим без оговорок!</p>

<p><strong>Умножение на 5</strong></p>

<p>Пятью пять двадцать пять,<br />
В темный лес пошли гулять.</p>

<p>Пятью шесть тридцать,<br />
Братик и сестрица.</p>

<p>Пятью семь тридцать пять<br />
Заблудились &ndash; и кричать!</p>

<p>Пятью восемь сорок,<br />
Подлетел к ним ворон:</p>

<p>&laquo;Пятью девять сорок пять,<br />
Перестанете кричать,</p>

<p>Пятью десять пятьдесят,<br />
Отведу домой назад!&raquo;</p>

<p><strong>Умножение на 6</strong></p>

<p>Шестью шесть &ndash; тридцать шесть,<br />
Мишки сели мед свой есть.</p>

<p>Шестью семь &ndash; сорок два,<br />
Подлетела к ним сова.</p>

<p>Шестью восемь &ndash; сорок восемь,<br />
Мед с малиной у них просит.</p>

<p>Шестью девять ровно будет,<br />
Это каждый не забудет,<br />
Ровно пятьдесят четыре,<br />
Ведь совята-то простыли.</p>

<p>Шестью десять &ndash; шестьдесят,<br />
&laquo;Мед бери &ndash; лечи совят!&raquo;</p>

<p><strong>Умножение на 7</strong></p>

<p>Семью семь &ndash; сорок девять,<br />
На большом медведе едем!</p>

<p>Мы медведя дружно спросим:<br />
&laquo;Сколько будет семью восемь?&raquo;</p>

<p>&laquo;Пятьдесят, конечно, шесть,<br />
Не треплите мою шерсть!&raquo;</p>

<p>&laquo;Ну а семью девять сколько?&raquo; -<br />
Мы медведя спросим бойко.<br />
&laquo;Семью девять? Повтори!<br />
Шестьдесят, конечно, три!</p>

<p>Семью десять, если учишь,<br />
Семьдесят тогда получишь!&raquo;</p>

<p><strong>Умножение на 8</strong></p>

<p>Восемью восемь шестьдесят четыре,<br />
Феи эльфов просят сделать круг пошире,</p>

<p>Восемью девять семьдесят два,<br />
Чтобы составить круг волшебства,</p>

<p>Восемь на десять умножим легко,<br />
Феи взлетят в небеса высоко,<br />
Восемьдесят мы получим ответ,<br />
В круге волшебном эльфов уж нет!</p>

<p><strong>Умножение на 9</strong></p>

<p>Девятью девять восемьдесят один,<br />
А в подводном мире учится дельфин:<br />
&laquo;Умноженье &ndash; это просто,<br />
Девятью десять девяносто!&raquo;</p>

<p>Девочки и мальчики,<br />
Приготовьте пальчики!<br />
Чтоб на девять умножать,<br />
Нужно пальцы загибать!</p>

<p>Один на девять умножаем,<br />
Первый пальчик загибаем,<br />
И считаем &ndash; ровно девять!<br />
Чтоб сомнения развеять,</p>

<p>Два на девять умножаем,<br />
Пальчик Два мы загибаем,<br />
Слева раз, а справа восемь &ndash;<br />
Восемнадцать! &laquo;Трудно?&raquo; &ndash; спросим.</p>

<p>Три на девять умножаем,<br />
Третий пальчик загибаем,<br />
Слева два, а справа семь,<br />
Это будет двадцать семь!</p>

<p>А четыре-то на девять,<br />
Сможем мы легко проверить,<br />
Слева три, а справа шесть,<br />
Это будет тридцать шесть!</p>

<p>Пять на девять умножаем,<br />
Пятый пальчик загибаем,<br />
Тут четыре, а там пять,<br />
Это будет сорок пять!</p>

<p>Если дальше все понятно,<br />
Упражнение занятно,<br />
То без дела не сиди,<br />
Умножай до десяти!</p>

<p><strong>Умножение на 10</strong></p>

<p>Чтоб на десять все умножить,<br />
В этом нолик нам поможет!<br />
Чтоб на десять умножать,<br />
Нужно нолик дописать.</p>

<p>Ноль допишем к единице &ndash;<br />
И десятка на странице,<br />
К двойке ноль добавим, братцы &ndash;<br />
Получаем ровно двадцать,</p>

<p>С тройкой нужно потрудиться &ndash;<br />
Пишем ноль, что будет? &mdash; Тридцать!<br />
Дорисуем ноль к четверке &ndash;<br />
Это сорок, а к пятерке?</p>

<p>Получаем пятьдесят.<br />
Ноль к шести &ndash; то шестьдесят.<br />
А к семи ноль &ndash; семьдесят,<br />
Ноль к восьми &ndash; восемьдесят.</p>

<p>Дальше все легко и просто<br />
Ноль к девятке &ndash; девяносто.<br />
Сто &ndash; ноль пишем к десяти,<br />
Можем мы гулять идти!</p>


</Layout_article>
