---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Стих Таблица умножения Тима Собакина"
h1="Стих Таблица умножения Тима Собакина"
description="Что такое умножение? Это действие сложения. Но не слишком-то приятное, потому что многократное."
keywords="Стих Таблица умножения Тима Собакина"
url="sobakin"
section="Стихи"
section_url="poetry"
img="sobakin.jpg"
>


<p>Тим Собакин &ndash; известный советский и российский детский писатель, поэт, журналист и редактор. Его настоящее имя &ndash; Андрей Викторович Иванов.</p>

<h2>Немного об авторе</h2>

<p>Андрей Викторович окончил Московский инженерно-физический институт в 1981 году, и даже работал программистом. В 1985 году сменил профессию, став журналистом, в 1987 году окончил факультет журналистики МГУ.</p>

<p>Тим Собакин публикуется с 1983 года. С 1988 года занимается только литературным трудом, пишет стихи и рассказы для детей, публиковался в журналах &laquo;Весёлые картинки&raquo;, &laquo;Мурзилка&raquo;, &laquo;Пионер&raquo;, &laquo;Октябрь&raquo;. В 1990&mdash;1995 годах был главным редактором детского журнала &laquo;Трамвай&raquo;, затем литературным редактором журналов &laquo;Колобок&raquo;, &laquo;Куча мала&raquo;, &laquo;Филя&raquo;, &laquo;Синдбад&raquo;. Автор нескольких книг, выходивших в крупных издательствах &laquo;Детская литература&raquo;, &laquo;Дрофа&raquo; и других.</p>

<p>Главный художественный принцип Собакина &mdash; интеллектуальная игра. Автор предлагает читателю изменить привычные представления о реальности, представить мир иным. Вот и стихотворение о таблице умножения не является исключением.</p>

<p>Что такое умножение?<br />
Это действие сложения.<br />
Но не слишком-то приятное,<br />
потому что мно-го-крат-ное&hellip;</p>

<p><strong>НУЛЕВОЙ столбец (умножение на 0)</strong></p>

<p>Умножая число на ноль,<br />
Вы получите без сомнения<br />
тот же самый пузатый 0 &ndash;<br />
пусть не более,<br />
но и не менее.</p>

<p>К тебе бегут 500 врагов,<br />
И каждый воевать готов.<br />
А ты не плач,<br />
А ты не ной &ndash;<br />
Умножь число врагов на ноль.<br />
На поле битвы станет пусто.<br />
Вот суть военного искусства!</p>

<p><strong>ПЕРВЫЙ столбец (умножение на 1)</strong></p>

<p>Запомни: любое число,<br />
умноженное на единицу,<br />
должно в результате назло<br />
в само же себя превратиться.</p>

<p><strong>ВТОРОЙ столбец (умножение на 2)</strong></p>

<p>2Х2=?<br />
Дважды два будет пять &ndash;<br />
это каждый должен знать!<br />
(шутка)</p>

<p>2Х9=18<br />
Очень умная Горилла<br />
ежедневно говорила:<br />
&laquo;Можете не сомневаться:<br />
ДВАЖДЫ ДЕВЯТЬ &ndash;<br />
ВОСЕМНАДЦАТЬ&raquo;.</p>

<p><strong>ТРЕТИЙ столбец (умножение на 3)</strong></p>

<p>3Х3=9<br />
По ТРИ чумазых трубочиста<br />
случайно в ТРИ трубы свалилось.<br />
Давайте перемножим числа &ndash;<br />
В итоге ДЕВЯТЬ получилось.</p>

<p>Хоть светит солнышко лучисто,<br />
я их нигде не обнаружу:<br />
пока никто из трубочистов<br />
так и не выбрался наружу.</p>

<p>3Х4=12<br />
ТРИ месяца включает время года.<br />
Времен ЧЕТЫРЕ в годовом ряду.<br />
Вот почему различная погода<br />
нас ждет ДВЕНАДЦАТЬ месяцев в году.</p>

<p>3Х5=15<br />
Жил печальный Крокодил<br />
в безопасных водах Нила.<br />
И купальщикам твердил<br />
он печально и уныло:</p>

<p>&laquo;Я напомню вам опять,<br />
если будете купаться:<br />
как ни странно,<br />
ТРИЖДЫ ПЯТЬ &ndash;<br />
получается ПЯТНАДЦАТЬ&raquo;.</p>

<p>3Х6=18<br />
У ТРЕХ свиноматок по ШЕСТЬ поросят<br />
в свинарнике шумно резвятся.<br />
Легко подсчитает любой из ребят:<br />
Всего поросят &ndash; ВОСЕМНАДЦАТЬ.</p>

<p>3Х7=21<br />
Шел пугливый Гражданин<br />
через переход,<br />
торопился в магазин<br />
&laquo;Минеральных вод&raquo;.</p>

<p>- Подскажите, Гражданин,<br />
сколько ТРИЖДЫ СЕМЬ?<br />
- ДВАДЦАТЬ, кажется, ОДИН&hellip;<br />
напугал совсемЬ.</p>

<p>3Х8=24<br />
У каждой из ТРЕХ симпатичных букашек<br />
хранится в чулане по ВОСЕМЬ рубашек.<br />
Поэтому часто меняют букашки<br />
все ДВАДЦАТЬ ЧЕТЫРЕ нарядных рубашки.</p>

<p>3Х9=27<br />
Бродит по лесу Олень<br />
и бормочет целый день:<br />
&laquo;ТРИЖДЫ ДЕВЯТЬ &ndash;<br />
ДВАДЦАТЬ СЕМ-М-М&hellip;<br />
Впрочем, это ясно всем&raquo;.</p>

<p><strong>ЧЕТВЕРТЫЙ столбец (умножение на 4)</strong></p>

<p>4Х4=16<br />
Вот стоят ЧЕТЫРЕ сундука.<br />
В каждом спят ЧЕТЫРЕ индюка.<br />
Сколько их всего?<br />
Ответ таков:<br />
В сундуках ШЕСТНАДЦАТЬ индюков.</p>

<p>4Х5=20<br />
На глубине, никому не мешая,<br />
Можно спокойно подумать о многом&hellip;<br />
Плавала в море Акула большая<br />
и приставала ко всем осьминогам:</p>

<p>&laquo;Если, допустим, цифра ЧЕТЫРЕ<br />
будет на цифру ПЯТЬ умножаться,<br />
Каждый вам скажет в подводном мире,<br />
что в результате получится ДВАДЦАТЬ&raquo;.</p>

<p>4Х6=24<br />
ЧЕТЫРЕЖДЫ ШЕСТЬ<br />
и шестью четыре &ndash;<br />
ответ одинаковый:<br />
ДВАДЦАТЬ ЧЕТЫРЕ.</p>

<p>Вывод: от чисел переставления<br />
не изменяется произведение!</p>

<p>4Х7=28<br />
ЧЕТЫРЕ дня брожу возле скал<br />
и в день ловлю по СЕМЬ комаров.<br />
Уже ДВАДЦАТЬ ВОСЕМЬ<br />
в банку поймал &ndash;<br />
Такой у меня комариный улов.</p>

<p>4Х8=32<br />
Едва начинается вторник,<br />
из дома (одет и побрит)<br />
выходит с лопатою Дворник<br />
и ласково всем говорит:</p>

<p>- Весна на дворе или осень,<br />
запомните эти слова:<br />
умножив ЧЕТЫРЕ на ВОСЕМЬ,<br />
получите вы ТРИДЦАТЬ ДВА.</p>

<p>4Х9=36<br />
У девочки Нюры<br />
ЧЕТЫРЕ кармана,<br />
и в каждом кармане &ndash;<br />
по ДЕВЯТЬ конфет.</p>

<p>Всего ТРИДЦАТЬ ШЕСТЬ<br />
их должно быть,<br />
но странно,<br />
что этих конфет<br />
и в помине уж нет!</p>

<p><strong>ПЯТЫЙ столбец (умножение на 5)</strong></p>

<p>5Х5=25<br />
ПЯТЬ<br />
плюс ПЯТЬ<br />
плюс ПЯТЬ<br />
плюс ПЯТЬ<br />
и еще плюс ПЯТЬ&hellip;<br />
Если верно подсчитать,<br />
выйдет ДВАДЦАТЬ ПЯТЬ.</p>

<p>5Х6=30<br />
ПЯТЬ снарядов пролетели<br />
из ШЕСТИ военных пушек,<br />
но попали мимо цели &ndash;<br />
будто выстрелы хлопушек.</p>

<p>Командир весьма встревожен,<br />
хоть приходится смириться:<br />
если ПЯТЬ на ШЕСТЬ умножим,<br />
то промашек &ndash; целых ТРИДЦАТЬ!</p>

<p>5Х7=35<br />
Композитор<br />
написал<br />
произведение<br />
в ритме пять седьмых &ndash;<br />
и лег поспать.</p>

<p>Математик<br />
подсчитал<br />
произведение:<br />
ПЯТЬЮ СЕМЬ равнялось<br />
ТРИДЦАТЬ ПЯТЬ.</p>

<p>5Х8=40<br />
Вот летят орлы<br />
и кричат: &laquo;Курлыыыыы!&raquo;<br />
Взгляд из очень зорок.<br />
А Собакин Тим<br />
отвечает им:</p>

<p>&laquo;ПЯТЬЮ ВОСЕМЬ &ndash; СОРОК.<br />
Пятью восемь &ndash; сорок.<br />
Пятью восемь &ndash; сорок.<br />
Пятью восемь &ndash; со&hellip;&raquo;</p>

<p>5Х9=45<br />
Удивляется всему<br />
дядя Академик &ndash;<br />
интересно все ему<br />
(хоть живет без денег).</p>

<p>Повторяет он опять<br />
до изнеможения:<br />
&laquo;ПЯТЬЮ ДЕВЯТЬ &ndash;<br />
СОРОК ПЯТЬ&hellip;<br />
Чудо умножения!&raquo;</p>

<p><strong>ШЕСТОЙ столбец (умножение на 6)</strong></p>

<p>6Х6=36<br />
На блюдцах для шести ежат<br />
по шесть сухариков лежат.<br />
Но смогут ли они их съесть?<br />
Ведь ШЕСТЬЮ ШЕСТЬ &ndash;<br />
аж ТРИДЦАТЬ ШЕСТЬ!</p>

<p>6Х7=42<br />
Умножал неустанно<br />
восточный мудрец,<br />
а потом сам себе<br />
прошептал наконец:</p>

<p>&laquo;Да запомнит навеки<br />
твоя голова:<br />
ШЕСТЬЮ СЕМЬ &ndash;<br />
СОРОК ДВА&hellip;<br />
семью шесть &ndash;<br />
сорок два&hellip;&raquo;</p>

<p>6Х8=48<br />
Жил в лесу один Лесник.<br />
Даже в лютые морозы<br />
с детства он считать привык<br />
елки, сосны и березы.</p>

<p>Лесника давайте спросим:<br />
- Сколько будет<br />
ШЕСТЬЮ ВОСЕМЬ?<br />
Он ответит:<br />
- СОРОК ВОСЕМЬ&hellip;<br />
то ли елок,<br />
то ли сосен.</p>

<p>6Х9=54<br />
Бегемот кружился<br />
в небе жарким летом<br />
и простую песню<br />
напевал при этом:</p>

<p>&laquo;Пусть об этом знают<br />
дети в целом мире:<br />
ШЕСТЬЮ ДЕВЯТЬ будет<br />
ПЯТЬДЕСЯТ ЧЕТЫРЕ!&raquo;</p>

<p><strong>СЕДЬМОЙ столбец (умножение на 7)</strong></p>

<p>7Х7=49<br />
Плавали в озере<br />
СЕМЬ лебедей.<br />
Смотрели на каждого<br />
по СЕМЬ людей.</p>

<p>И гордо думал<br />
Главный Лебедь:<br />
&laquo;Количество зрителей &mdash;<br />
СОРОК ДЕВЯТЬ&raquo;.</p>

<p>7Х8=56<br />
Под кустом сидит бандит<br />
(семь на восемь,<br />
восемь на семь).<br />
У него свирепый вид,<br />
а зовут его Герасим.</p>

<p>Кто узнает эту весть,<br />
тут же шлепается наземь:<br />
СЕМЬ на ВОСЕМЬ,<br />
восемь на семь &ndash;<br />
ПЯТЬДЕСЯТ, однако, ШЕСТЬ!</p>

<p>7Х9=63<br />
На ужин семь жуков,<br />
обув сандали,<br />
по девять вкусных листьев<br />
обглодали.</p>

<p>И жук сказал товарищу:<br />
&laquo;Смотри!<br />
Ведь СЕМЬЮ ДЕВЯТЬ &ndash;<br />
ШЕСТЬДЕСЯТ плюс ТРИ&raquo;.</p>

<p><strong>ВОСЬМОЙ столбец (умножение на 8)</strong></p>

<p>Давай немного отдохнем<br />
от цифр<br />
и их произведений:<br />
представим ясно<br />
день весенний<br />
и станем шахматным конем<br />
скакать, скакать, скакать, скакать&hellip;<br />
скакать по черно-белым клеткам,<br />
как скачут воробьи по веткам,<br />
не размышляя ни о чем.</p>

<p>8Х8=64<br />
ВОСЕМЬ вдоль<br />
и ВОСЕМЬ поперек&hellip;<br />
И на что же это так похоже?<br />
- Шахматы, &ndash;<br />
ответит вам игрок.</p>

<p>&laquo;Домино&raquo;, -подумает прохожий.<br />
А на карточном столе<br />
ШЕСТЬДЕСЯТ ЧЕТЫРЕ кле&hellip;<br />
(клетки, разумеется,<br />
на доске имеются).</p>

<p>8Х9=72<br />
Кошка гуляет<br />
по влажной траве.<br />
Ветер гуляет<br />
у нас в голове.<br />
В мире гуляет такая молва:<br />
ВОСЕМЬЮ ДЕВЯТЬ<br />
СЕМЬДЕСЯТ ДВА!</p>

<p><strong>ДЕВЯТЫЙ столбец (умножение на 9)</strong></p>

<p>9Х9=81<br />
В Мексике или в Италии,<br />
в Дели ли, в Париже ли<br />
(даже в далекой Австралии)<br />
белые, черные, рыжие &ndash;<br />
самые разные люди<br />
скажут вам как один:<br />
&laquo;ДЕВЯТЬЮ ДЕВЯТЬ будет<br />
ВОСЕМЬДЕСЯТ ОДИН&raquo;.</p>

<p>Много чудес на планете<br />
ТАМ существует<br />
и ЗДЕСЬ&hellip;<br />
Но умножение, дети, &ndash;<br />
тоже одно из чудес.</p>

<p>Помните твердо Таблицу<br />
хоть наяву, хоть во сне!<br />
В жизни она пригодится.<br />
Как пригодилась и мне.</p>


</Layout_article>
