---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Двойка за урок - беда"
h1="Двойка за урок - беда"
description="Стихотворение Владимира Трофимова отличное произведение для запоминания таблицу умножения."
keywords="Двойка за урок - беда, таблица умножения, Владимир Трофимов, таблица умножения"
url="trofimov"
section="Стихи"
section_url="poetry"
img="trofimov.jpg"
>

<p>Как пишет автор <a href="https://stihi.ru/avtor/vladimir1964">о себе</a> на портале Стихи.ру: &laquo;русский, москвич, 58 лет, учился, работаю, в общем живу. Стихи пишу с детства. А какие получаются, заходите, увидите, прочтёте&raquo;.</p>

<p>Давайте прочтём:</p>


<p><strong>Цифра 2</strong></p>

<p>Двойка за урок-беда<br />
Только выход есть всегда<br />
Два на два перемножаем<br />
И четверку получаем.</p>

<p>Двойке хочется вперед<br />
Двойка цифру три зовет<br />
Перемножим два и три<br />
Вот шестерка, посмотри.</p>

<p>Но и это не предел<br />
Ведь четыре не у дел<br />
Перемножь их, поспеши<br />
Цифру восемь запиши.</p>

<p>Двойка крутится опять<br />
Хочет цифру пять поймать<br />
Перемножить их осталось<br />
Чтобы десять насчиталось.</p>

<p>Два галчонка, шесть синиц<br />
Перемножим этих птиц<br />
Только действие свершилось<br />
Их двенадцать очутилось.</p>

<p>Два удода, семь ворон<br />
Сели прямо на балкон<br />
Перемножим, как бывало<br />
И четырнадцать их стало.</p>

<p>Два мангуста, восемь змей<br />
Ой! Решаем поскорей!<br />
Надо, надо поспешить<br />
Да шестнадцать получить.</p>

<p>Две монетки, золотые<br />
Девять медные, простые<br />
Если их перемножаем<br />
Восемнадцать получаем.</p>

<p>Два крота копали ход<br />
Десять червяков ползет<br />
Умноженье применяем<br />
Сразу двадцать получаем.</p>

<p><strong>Цифра 3</strong></p>

<p>Тройка двойку вызывает<br />
Умница перемножает<br />
Не вопрос, а благодать<br />
Шесть запишется в тетрадь.</p>

<p>Тройка троечку схватила<br />
И умножив закрутила<br />
Но кружение прервАлось<br />
И девятка оказалась.</p>

<p>Тройка вышла погулять<br />
Чтоб четыре повстречать<br />
Перемножим цифры эти<br />
И двенадцать есть в ответе</p>

<p>Три на пять, легко совсем<br />
И не нужно сложных схем<br />
Три на пять, да легкота!<br />
Ведь пятнадцать же, всегда.</p>

<p>Ну, а ежели на шесть<br />
Разве сложности тут есть?<br />
Восемнадцать будет значит<br />
Немудреная задача.</p>

<p>Не крутись и не зевай<br />
Три на семь перемножай<br />
Потрудились, решено<br />
Двадцать и еще одно.</p>

<p>Углубляемся в науку<br />
Три на восемь, разве мука?<br />
Умножение в эфире<br />
Слышится, двадцать четыре.</p>

<p>Три на девять &ndash; это шик<br />
Три на девять, не тупик<br />
То докажем сразу всем<br />
Ну конечно двадцать семь.</p>

<p>Мы теперь и больше можем<br />
Три с десяткой перемножим<br />
Три с десяткой &ndash; три десятка<br />
Это тридцать, все в порядке.</p>

<p><strong>Цифра 4</strong></p>

<p>Вот четыре, вот и два<br />
Призадумались едва<br />
Оцените, очень просим<br />
Умножаем, будет восемь.</p>

<p>Чтоб четыре не скучало<br />
Три перемножаться стала<br />
Как двенадцать получила<br />
Сразу скуку та забыла.</p>

<p>Тут четыре, там четыре<br />
Будто мы стреляем в тире<br />
На курок свой нажимаем<br />
И шестнадцать выбиваем.</p>

<p>Ждет четыре: где же пять?<br />
Чтоб умножиться опять<br />
Вроде бы пока их мало<br />
Умножаем, двадцать стало.</p>

<p>Здесь четыре, рядом шесть<br />
Их умножить &ndash; это честь<br />
Совершаем, что решили<br />
И уже двадцать четыре.</p>

<p>Тут семерка прибежала<br />
И с четверкой тоже встала<br />
Умножайте! Умножайте!<br />
Двадцать восемь получайте.</p>

<p>Раззадорилась четверка<br />
Закричала: где восьмерка?<br />
Умножай нас голова<br />
И получишь тридцать два.</p>

<p>Разобиделась девятка<br />
Что играете то в прятки<br />
Я с четверкой, я уж здесь<br />
Умножаем, тридцать шесть.</p>

<p>А теперь выходит мы<br />
Десять отыскать должны<br />
На четыре перемножь<br />
Сорок! Ах, ответ хорош!</p>

<p><strong>Цифра 5</strong></p>

<p>Цифру пять, конечно, знаем<br />
С двойкою перемножаем<br />
Тут и сложности то нет<br />
Десять запиши в ответ.</p>

<p>Двойка &ndash; это лишь начало<br />
Время цифре три настало<br />
Станем умножать стараться<br />
Получается пятнадцать.</p>

<p>И с четверкою мы сразу<br />
Цифру пять, не для показа<br />
Перемножим, а для дела<br />
Двадцать этого хотела.</p>

<p>Цифра пять и цифра пять<br />
Как легко их умножать<br />
Будем помнить, будем знать<br />
Получаем двадцать пять.</p>

<p>Продолжаем разговор<br />
Цифра шесть спешит в дозор<br />
Чтоб с пятеркой отличиться<br />
В цифру тридцать превратиться.</p>

<p>А семерка, разве плохо?<br />
Цифра семь уже не кроха<br />
Снова надо умножать<br />
Получаем тридцать пять.</p>

<p>Смотрит пять на цифру восемь<br />
Эту цифру в гости просим<br />
Умноженья путь не долог<br />
Вот уже и цифра сорок.</p>

<p>А девяточка ликует<br />
Вальс с пятеркою танцует<br />
Закружились, закружились<br />
В сорок пять оборотились.</p>

<p>Десять важно выступает<br />
И пятерку подзывает<br />
Перемножь, они кричат<br />
Пусть нас будет пятьдесят.</p>

<p><strong>Цифра 6</strong></p>

<p>Цифра шесть играет в прятки<br />
Ищет, рыщет по порядку<br />
Двойку сразу отыскала<br />
Хоп! И их двенадцать стало!</p>

<p>Ищет дальше цифру три<br />
Вон она сидит, смотри 6Х3=18<br />
Перемножим цифры снова<br />
Восемнадцать! Все готово!</p>

<p>Продолжается игра<br />
Ей четверочку пора<br />
Отыскать в огромном мире<br />
Стало бы двадцать четыре.</p>

<p>Оглянулась цифра шесть<br />
Есть пятерка, тоже есть<br />
Начинаем умножать<br />
Тридцать будет шесть на пять.</p>

<p>Тезку шесть искать устала<br />
С чердака ее достала<br />
Это неплохая весть<br />
Умножаем &ndash; тридцать шесть.</p>

<p>Семь запряталась в кусты<br />
Шесть нашла, а вот и ты<br />
Арифметика права<br />
Перемножим &ndash; сорок два.</p>

<p>Шесть восьмерку углядела<br />
Будет прок и будет дело<br />
В голове пересчитаем<br />
Сорок восемь получаем.</p>

<p>А девятка где у нас?<br />
Отыщу ее сейчас<br />
Как сказала, отыскала<br />
Пятьдесят четыре стало.</p>

<p>Шесть на десять, вот вопрос<br />
Мы решим! Не вешай нос!<br />
Цифры сами говорят<br />
Шесть десятков, шестьдесят.</p>

<p><strong>Цифра 7</strong></p>

<p>Цифра семь, она такая<br />
При подсчете, непростая<br />
С двойкой если перемножим<br />
На четырнадцать итожим.</p>

<p>Семь на три, выходит круто<br />
Не промедлим ни минуты<br />
За мгновенье решено<br />
Двадцать это и одно.</p>

<p>Семь четверку прихватила<br />
Умножением купила<br />
Какова цена, мы спросим<br />
Заплатила двадцать восемь.</p>

<p>Будем далее считать<br />
Перемножим семь и пять<br />
Тридцать пять, таков итог<br />
Отвечаем точно в срок.</p>

<p>Темпа больше не теряем<br />
Семь и шесть перемножаем<br />
И опомнились едва<br />
А уже их сорок два.</p>

<p>Ну а если невтерпеж<br />
Семь на семь-ка ты умножь<br />
Это и не трудно, кстати<br />
Сорок девять в результате.</p>

<p>Семь и восемь, господа<br />
Крепкие, вот это да!<br />
Им костюмчик например<br />
Пятьдесят шестой размер.</p>

<p>Семь и девять, жили дружно<br />
Их умножить срочно нужно<br />
Головою помудри<br />
Стало аж шестьдесят три.</p>

<p>Семь с десяткою сцепились<br />
И ругались, и бранились<br />
Но, лишь только помирились<br />
В семь десятков превратились.</p>

<p><strong>Цифра 8</strong></p>

<p>Восемь приумножить надо<br />
Два помочь ей в этом рада<br />
Чтоб она преобразилась<br />
И в шестнадцать превратилась.</p>

<p>Тройка, видя это дело<br />
Подошла довольно смело<br />
А моя возможность шире<br />
Будет ведь двадцать четыре.</p>

<p>Разобиделась четверка<br />
Закричала очень звонко<br />
Ты, трояшка, не права<br />
Ведь со мною тридцать два.</p>

<p>Тут пятерочка вмешалась<br />
И в лицо им рассмеялась<br />
Мы с восьмеркою вдвоем<br />
Целых сорок создаем.</p>

<p>Ах! Скажите-ка, как много!<br />
Молвит тут шестерка строго<br />
А со мною, между прочим<br />
Станет сразу сорок восемь.</p>

<p>Семь насупилась совсем<br />
Обозлилась цифра семь<br />
Слабаки вы, все кто есть<br />
Ведь со мной пятьдесят шесть.</p>

<p>Восемь просто хохотала<br />
Это мало, мало, мало!<br />
Если б нас соединили<br />
Стало б шестьдесят четыре.</p>

<p>Ты совсем уже зазналась<br />
Цифра девять тут вмешалась<br />
Напрягись-ка, голова<br />
А со мной семьдесят два.</p>

<p>Показалася десятка<br />
Это что за беспорядки<br />
Больше всех дадим итог<br />
Восемьдесят не чутОк.</p>

<p><strong>Цифра 9</strong></p>

<p>Цифра девять не боится<br />
В восемнадцать превратиться<br />
Но для этого она<br />
Двойку подождать должна.</p>

<p>Цифра девять помечтала<br />
Умножаться снова стала<br />
Цифру три зовет затем<br />
Чтобы вышло двадцать семь.</p>

<p>И четверка тут снует<br />
Видно, очереди ждет<br />
Получилось то, что есть<br />
Получилось тридцать шесть.</p>

<p>Пять опять не опоздала<br />
К цифре девять подбежала<br />
Будем их перемножать<br />
И получим сорок пять.</p>

<p>Цифра шесть летит, спешит<br />
Сделав горделивый вид<br />
Словно главная в квартире<br />
С нею пятьдесят четыре.</p>

<p>Семь совсем наоборот<br />
Очень медленно идет<br />
Говори, не говори<br />
С нею ведь шестьдесят три.<br />
&nbsp;</p>

<p>Восемь к девяти прижалась<br />
Верною такой казалась<br />
Да к чему теперь слова<br />
Стало семьдесят и два.</p>

<p>Девять для девятки &ndash; друг<br />
Перемножим этих двух<br />
Получился господин<br />
Восемьдесят и один.</p>

<p>Как звезда горит десятка<br />
Где кричит моя девятка<br />
Девяносто из двоих<br />
Мы обгоним остальных.</p>


</Layout_article>
