---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Таблица умножения в стихах Андрея Усачёва"
h1="Таблица умножения в стихах Андрея Усачёва"
description="Это одно из самых известных и удобных стихотворения для запоминания  умножения в начальных классах."
keywords="Таблица умножения в стихах Андрея Усачёва"
url="usachev"
section="Стихи"
section_url="poetry"
img="usachev.jpg"
>

<p>Андрей Усачёв &ndash; известный отечественный писатель. Среди его произведений есть наверняка известные вам, например, &laquo;Умная собачка Соня&raquo; и &laquo;Чудеса в Дедморозовке&raquo;. А также у этого автора есть великолепное произведение, которое поможет выучить базовую арифметику в начальных классах &laquo;Таблица умножения в стихах&raquo;.</p>

<h2>Об авторе стихотворения</h2>

<p class="author"><img src="/images/poetry/ausachev.jpg" alt="Андрей Усачёв - автор стиха"><strong>Андрей Алексеевич Усачёв</strong> родился в 1958 в Москва, а публикуется с 1985 года. Книги автора переведены на английский, французский, немецкий, голландский, китайский, японский, корейский, иврит, вьетнамский, тайский, румынский, польский, сербский и украинский языки. Учебник &laquo;Основы безопасности жизнедеятельности&raquo; для 1&mdash;4 классов, книги &laquo;Декларация Прав Человека&raquo; и &laquo;Мои географические открытия&raquo; были рекомендованы для изучения в школах Министерством образования России.</p>

<p>Андрей учился в Московском институте электронной техники, после четвёртого курса ушёл в Советскую армию, позднее окончил филологический факультет Тверского государственного университета. Работал на телевидении &mdash; писал сценарии и песни для передачи &laquo;Кварьете Весёлая квампания&raquo; (вместе с Петром Синявским), для многосерийного художественного фильма &laquo;Дракоша и компания&raquo;. На протяжении нескольких лет вёл детские радиопередачи &laquo;Весёлая радиокомпания&raquo; и &laquo;Летающий диван&raquo;.</p>

<p>Усачёв выпустил более 300 книг, считая переиздания. Кроме детских книг много написал для театра, в основном, для кукольного и музыкального. Единолично и в соавторстве создано около 15 пьес. Пьесы идут в 50 театрах России, а также в Украине и Белоруссии. Является также председателем Попечительского совета Российской государственной детской библиотеки (Москва) и патроном русско-английского фонда &laquo;Азбука&raquo; (Лондон).</p>

<h2>Стихотворение про таблицу умножения</h2>

<p>&laquo;Таблица умножения в стихах&raquo; - это отличный пример детской книги, где собраны интересные стихи, которые не только развлекут вашего ребенка, но и помогут освоить базовую арифметику. На каждый пример из таблицы Андрей Алексеевич придумал короткие рифмованные строчки - четверостишья и двустишья, - которые просто запоминаются даже самыми маленькими.</p>

<p>Попробуйте сделать так: начните читать ребенку стихотворенье, а он пусть закончит его зарифмованным верным ответом, например:</p>

<ul>
	<li>Вы: &laquo;Осьминоги шли купаться: / Дважды восемь ног&raquo;</li>
	<li>Ребёнок: &laquo;шестнадцать&raquo;</li>
</ul>

<p>Итак, вот само стихотворение.</p>



<p>Что такое умножение?<br />
Это умное сложение.<br />
Ведь умней &ndash; умножить раз,<br />
Чем слагать все целый час.<br />
<br />
Один пингвин гулял средь льдин.<br />
Одиножды один &ndash; один.<br />
<br />
Один в поле не воин.<br />
Одиножды два двое.<br />
<br />
Два атлета взяли гири.<br />
Это: дважды два &ndash; четыре.<br />
<br />
Сел петух до зари<br />
На высокий шест:<br />
- Кукареку!.. Дважды три,<br />
Дважды три &ndash; шесть!<br />
<br />
В пирог вонзилась пара вилок:<br />
Два на четыре &ndash; восемь дырок.<br />
<br />
Двух слонов решили взвесить:<br />
Дважды пять &ndash; получим десять.<br />
То есть весит каждый слон<br />
Приблизительно пять тонн.<br />
<br />
Повстречался с раком краб:<br />
Дважды шесть &ndash; двенадцать лап.<br />
<br />
Дважды семь мышей &ndash;<br />
Четырнадцать ушей!<br />
<br />
Осьминоги шли купаться:<br />
Дважды восемь ног &ndash; шестнадцать.<br />
<br />
Вы видали подобное чудо?<br />
Два горба на спине у верблюда.<br />
Стали девять верблюдов считаться:<br />
Дважды девять горбов &ndash; восемнадцать.<br />
<br />
Дважды десять &ndash; два десятка!<br />
Двадцать, если скажем кратко.<br />
<br />
Кофе пили две букашки<br />
И разбили по три чашки.<br />
Что разбито, то не склеить&hellip;<br />
Трижды три &ndash; выходит девять.<br />
<br />
Целый день твердит в квартире<br />
Говорящий какаду:<br />
- Три умножить на четыре,<br />
Три умножить на четыре&hellip;<br />
Двенадцать месяцев в году.<br />
<br />
Школьник стал писать в тетрадь:<br />
Сколько будет &laquo;трижды пять&raquo;?..<br />
Был он страшно аккуратен:<br />
Трижды пять &ndash; пятнадцать пятен!<br />
<br />
Стал Фома оладьи есть:<br />
Восемнадцать &ndash; трижды шесть.<br />
<br />
Трижды семь &ndash; двадцать один:<br />
На носу горячий блин.<br />
<br />
Прогрызли мыши дыры в сыре:<br />
Трижды восемь &ndash; двадцать четыре.<br />
<br />
Трижды девять &ndash; двадцать семь.<br />
Это нужно помнить всем.<br />
<br />
Три девицы под окном<br />
Наряжались вечерком.<br />
Перстни меряли девицы:<br />
Трижды десять &ndash; будет тридцать.<br />
<br />
Четыре милых свинки<br />
Плясали без сапог:<br />
Четырежды четыре &ndash;<br />
Шестнадцать голых ног.<br />
<br />
Четыре ученых мартышки<br />
Ногами листали книжки&hellip;<br />
На каждой ноге &ndash; пять пальцев:<br />
Четырежды пять &ndash; двадцать.<br />
<br />
Шла на парад<br />
Картошка-в-мундире:<br />
Четырежды шесть &ndash; двадцать четыре!<br />
<br />
Цыплят считают под осень:<br />
Четырежды семь &ndash; двадцать восемь!<br />
<br />
У Бабы Яги сломалась ступа:<br />
Четырежды восемь<br />
&ndash; тридцать два зуба!<br />
Меж зубов ей нечем есть:<br />
Четырежды девять &ndash; тридцать шесть!<br />
<br />
Гуляли сорок сорок,<br />
Нашли творожный сырок.<br />
И делят на части творог:<br />
Четырежды десять &ndash; сорок.<br />
<br />
Вышли зайцы погулять:<br />
Пятью пять &ndash; двадцать пять.<br />
<br />
Забежала в лес лисица:<br />
Пятью шесть &ndash; выходит тридцать.<br />
<br />
Пять медведей из берлоги<br />
Шли по лесу без дороги &ndash;<br />
За семь верст кисель хлебать:<br />
Пятью семь &ndash; тридцать пять!<br />
<br />
Влезть сороконожке<br />
Трудно на пригорок:<br />
Утомились ножки &ndash;<br />
Пятью восемь &ndash; сорок.<br />
<br />
Встали пушки на пригорок:<br />
Пятью восемь &ndash; вышло сорок.<br />
Пушки начали стрелять:<br />
Пятью девять &ndash; сорок пять.<br />
<br />
Если лаптем щи хлебать:<br />
Пятью девять &ndash; сорок пять&hellip;<br />
Будет этот лапоть<br />
Всем на брюки капать!</p>

<p><br />
Рыли грядку кабачков<br />
Пять десятков пятачков.<br />
И хвостов у поросят:<br />
Пятью десять &ndash; пятьдесят!<br />
<br />
Шесть старушек пряли шерсть:<br />
Шестью шесть &ndash; тридцать шесть.<br />
<br />
Шесть сетей по шесть ершей &ndash;<br />
Это тоже тридцать шесть.<br />
А попалась в сеть плотва:<br />
Шестью семь &ndash; сорок два.<br />
<br />
Бегемоты булок просят:<br />
Шестью восемь &ndash; сорок восемь.<br />
<br />
Нам не жалко булок.<br />
Рот откройте шире:<br />
Шестью девять будет &ndash;<br />
Пятьдесят четыре.<br />
<br />
Шесть гусей ведут гусят:<br />
Шестью десять &ndash; шестьдесят.<br />
<br />
Дураков не жнут, не сеют,<br />
Сами нарождаются:<br />
Семью семь &ndash; сорок девять...<br />
Пусть не обижаются!<br />
<br />
Раз олень спросил у лося:<br />
- Сколько будет семью восемь?<br />
Лось не стал в учебник лезть:<br />
- Пятьдесят, конечно, шесть!<br />
<br />
У семи матрешек<br />
Вся семья внутри:<br />
Семью девять крошек &ndash;<br />
Шестьдесят три.<br />
<br />
Учат в школе семь лисят:<br />
Семью десять &ndash; семьдесят!<br />
<br />
Пылесосит носом<br />
Слон ковры в квартире:<br />
Восемь на восемь &ndash;<br />
Шестьдесят четыре.<br />
<br />
Восемь медведей рубили дрова.<br />
Восемью девять &ndash; семьдесят два.<br />
<br />
Самый лучший в мире счет<br />
Наступает Новый год...<br />
В восемь рядов игрушки висят:<br />
Восемью десять &ndash; восемьдесят!<br />
<br />
Свинка свиненка решила проверить:<br />
- Сколько получится &laquo;девять на девять&raquo;?<br />
- Восемьдесят &ndash; хрю &ndash; один!<br />
- Так ответил юный свин.<br />
<br />
Невелик кулик, а нос-то:<br />
Девятью десять &ndash; девяносто.<br />
<br />
На лугу кротов десяток,<br />
Каждый роет десять грядок.<br />
А на десять десять &ndash; сто:<br />
Вся земля как решето!</p>





</Layout_article>
