---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="О проекте"
h1="О проекте"
description="Этот проект посвящен изучению математики, в частности таблицы умножения. Несмотря на то, что это весьма несложно, многие дети, родители и педагоги испытывают трудности, когда приходит время зубрить таблицу Пифагора."
keywords="проект, Евгений Буянов, timestable.ru"
section="О проекте"
section_url="about"
img="me.jpg"
>

	<p>Этот проект посвящен изучению математики, в частности таблицы умножения. Несмотря на то что это весьма несложно, многие дети, родители и педагоги испытывают трудности, когда приходит время зубрить таблицу Пифагора.</p>

	<p>Меня зовут <strong>Евгений Буянов</strong>, и я являюсь основателем данного проекта. Кроме него я ещё:</p>

	<ul>
		<li>Преподаватель Кафедры экономики инноваций ЭФ МГУ имени М.В. Ломоносова.</li>
		<li>CEO и co-founder 4brain.ru (топ 100 edTech проектов СНГ с 2020 года по версии HolonIQ).</li>
		<li>Номинант премии Google за лучший образовательный проект на GoTech 2017.</li>
		<li>Получил инвестиции ФРИИ (один из лидирующих венчурных инвесторов в Европе по числу сделок) и прошёл акселерацию с проектом 4brain в 2016 году.</li>
		<li>Автор видеоблогов в youtube и tiktok по теме развития soft skills.</li>
	</ul>

	<h2 id="news">📰 Новости проекта</h2>
	
	<p>📅&nbsp;<strong>12 февраля 2023.</strong> Загрузил порцию новых материалов: <a href="/study/why/">зачем учить таблицу умножения</a>, <a href="/types/degree/">умножение степеней</a>, <a href="/types/fraction/">умножение дробей</a>, <a href="/types/reduction/">сокращённое умножение</a>, <a href="/types/column/">умножение в столбик</a> и <a href="/print/cards/">карточки с таблицей умножения</a>.</p>
	
	<p>📅&nbsp;<strong>16 января 2023.</strong> 🐒 Существует такая игрушка «Monkey Multiplier», которая помогает выучить умножение до 12. Нужно просто передвигать ноги обезьяны, чтобы большие пальцы указывали на множители, а в руках появится ответ. <a href="/games/monkey/">https://timestable.ru/games/monkey/</a></p>
	
	<p>📅&nbsp;<strong>10 января 2023.</strong> Если вы учитель в начальной школе, то вам могут пригодиться слайды для презентации по таблице умножения. Разные идеи таких слайдов мы собрали на этой странице: <a href="/study/slides/">https://timestable.ru/study/slides/</a></p>
	
	<p>📅&nbsp;<strong>9 января 2023.</strong> <a href="/study/multiplication/">Умножение</a> - это увлекательный процесс, у которого есть свои <a href="/study/laws/">законы</a> и <a href="/study/prop/">свойства</a>. Разбираем их в новых материалах на timestable.ru</p>
	
	<p>📅&nbsp;<strong>8 января 2023.</strong> В <a href="/types/china/">Китае</a> и <a href="/types/japan/">Японии</a> есть свои способы умножения. А вы знали?</p>
	
	<p>📅&nbsp;<strong>7 января 2023.</strong> А вот и мемы с таблицей умножения подъехали: <a href="/photo/memes/">https://timestable.ru/photo/memes/</a></p>
	
	<p>📅&nbsp;<strong>6 января 2023.</strong> Теперь на сайте есть отдельная страница под каждый множитель (<a href="/factor/2/">2</a>, <a href="/factor/3/">3</a>, <a href="/factor/4/">4</a>, <a href="/factor/5/">5</a>, <a href="/factor/6/">6</a>, <a href="/factor/7/">7</a>, <a href="/factor/8/">8</a> и <a href="/factor/9/">9</a>) &ndash; с тренажёрами, лайфхаками, задачами и т.п.</p>

	<p>📅&nbsp;<strong>5 января 2023. </strong>Всех с Новым годом. В этом году уже можно тренироваться на отличном <a href="/train/">тренажёре по умножению</a>, который я разработал помощью Кирилла Баталкина, автора подкаста &laquo;<a href="https://pc.st/1546372653">Эффект наблюдателя</a>&raquo;.</p>
	
	<p>📅&nbsp;<strong>19 декабря 2022.</strong> Сегодня очень продуктивный день. На сайте появились следующие новые материалы: стихи <a href="/poetry/usachev/">Усачёва</a>, <a href="/poetry/kazarina/">Казаркиной</a>, <a href="/poetry/sobakin/">Собакина</a>, <a href="/poetry/trofimov/">Трофимова</a> и <a href="/poetry/prok/">Прокопьевой</a>. А также доступны <a href="/history/facts/">интересные факты</a>, <a href="/history/who/">поиска автора таблицы</a> и <a href="/factor/20-30-100/">устный счёт до 100</a>.</p>
	
	<p>📅&nbsp;<strong>16 декабря 2022.</strong>&nbsp;На сайте появился первый тренажёр, а скоро их будет больше: <a href="/train/">https://timestable.ru/train/</a>.</p>
	
	<p>📅&nbsp;<strong>14 декабря 2022.</strong>&nbsp;А теперь на сайте есть ещё статьи про <a href="/types/">виды таблиц</a> и <a href="/print/">распечатки</a>.</p>

	<p>📅&nbsp;<strong>11 декабря 2022.</strong>&nbsp;Продолжаю загружать ключевые разделы сайта: <a href="/study/">как выучить</a>, <a href="/poetry/">стихи</a>, <a href="/games/">игры</a>.</p>

	<p>📅&nbsp;<strong>8 декабря 2022.</strong>&nbsp;Начинаю загружать первые материалы: <a href="/photo/">фото</a>, <a href="/video/">видео</a>, <a href="/history/">история</a>.</p>

	<p>📅&nbsp;<strong>7 декабря 2022.</strong>&nbsp;Запущены страницы timestable в социальных сетях: <a href="https://vk.com/timestable">Вконтакте</a>, <a href="https://t.me/timestable_ru">Телеграм</a>, <a href="https://ok.ru/group/70000001528389">Одноклассники</a>.</p>

	<p>📅&nbsp;<strong>1 декабря 2022.</strong>&nbsp;Я запустил данный проект, доступный по адресу <a href="/">timestable.ru</a></p>

</Layout_article>

