---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Фото таблицы умножения"
h1="Фото таблицы умножения"
description="В этом разделе мы собираем различные фотографии таблиц умножения, мемы, гифки, ведь это тоже часть современной культуры изучения пифагоровой таблицы."
keywords="фото таблицы умножения"
section="Фото"
section_url="photo"
img="photo.jpg"
>


<h3>Содержание</h3>

<p>Ниже будут представлены фотографии таблиц умножения <a href="/history/">разных времен</a>, начиная от самых древних и заканчивая современными таблицами.</p>

<ul>
	<li><a href="#1">Древние версии таблицы умножения на камнях</a></li>
	<li><a href="#2">Таблица умножения на папирусе в Древнем Китае</a></li>
	<li><a href="#3">Таблица на костях Непера</a></li>
	<li><a href="#4">Таблица Пифагора</a></li>
	<li><a href="#5">Древнерусская таблица умножения</a></li>
	<li><a href="#6">Машина Паскаля</a></li>
	<li><a href="#7">Арифмометры, помогающие умножать</a></li>
	<li><a href="#8">Таблица умножения на задней стороне тетради</a></li>
	<li><a href="#9">Как выглядела таблица умножения в СССР</a></li>
	<li><a href="#10">Как умножают в Китае</a></li>
	<li><a href="#11">Футболки с таблицей умножения</a></li>
	<li><a href="#12">Настольные игры для запоминания таблицы умножения</a></li>
	<li><a href="#13">Компьютерные игры</a></li>
	<li><a href="#14">Игры и приложения для смартфонов</a></li>
	<li><a href="#15">Кубики с таблицей умножения</a></li>
	<li><a href="#16">Распечатки для изучения таблиц умножения</a></li>
	<li><a href="#17">&laquo;Лягушка&raquo; игра на пальцы</a></li>
	<li><a href="#18">Круги для умножения</a></li>
	<li><a href="#19">Шпаргалки с таблицей умножения</a></li>
	<li><a href="/photo/memes/">Мемы с таблицей умножения</a></li>
</ul>

<h2 id="1">Древние версии таблицы умножения на камнях</h2>

<p>Древневавилонская система счисления имеет 2 особенности:</p>

<p>а) В ней представлены числа в системе местоимений с основанием 60 - шестидесятеричной, по которой и до настоящего времени измеряются углы, градусы, время, часы, минуты и секунды.</p>

<p>б) Отсутствие &laquo;десятичных точек&raquo;, поскольку вавилонские цифры записывались целыми, но их предполагаемое значение может быть&nbsp; &laquo;номинальным&raquo; и умноженным как на отрицательную так и на положительную степень.</p>

<p><img src="/images/photo/1.jpg" alt="Древние версии таблицы умножения на камнях"/></p>

<h2 id="2">Таблица умножения на папирусе в Древнем Китае</h2>

<p>Китайские ученые восстановили древнейшую в мире таблицу умножения, использовавшуюся 2300 лет назад. В ее основании - число 10. Таблица просто поражает широтой познаний древних китайцев. На фрагментах бамбуковых полосок примерно 50 см в длину и 13 мм в ширину черными чернилами нанесены китайские каллиграфические записи.</p>

<p>Одна полоска имеет отличия от всех остальных - на ней нанесены только цифры, которые образуют матричную структуру. Правый столбик и верхний ряд содержат 19 цифр, расположенных сверху вниз и справа налево: 0.5, далее от 1 до 9, и от 10 до 90.</p>

<p><img src="/images/photo/2.jpg" alt="Таблица умножения на папирусе в Древнем Китае"/></p>

<h2 id="3">Таблица на костях Непера</h2>

<p>Это самая старая греческая таблица, которая сохранилась на восковой табличке и находится в Британском музее. Она датируется 1 веком нашей эры. Кости Непера &mdash; это своего рода счетное устройство, имеющее ручное управление, созданное для вычисления частных чисел и произведений в 1617 году.</p>

<p>Если использовать встроенные в стержни таблицы умножения, то его можно свести к операциям сложения, а к вычитаниям - деления. При расширенном использовании стержней есть возможность даже извлекать квадратные корни.</p>

<p><img src="/images/photo/3.jpg" alt="Таблица на костях Непера"/></p>

<h2 id="1">Таблица Пифагора</h2>

<p>Здесь столбики и строчки озаглавлены <a href="/factor/">множителями</a>, а в ячейках стоит произведение. Данная таблица используется в школах для обучения умножению.</p>

<p>Таблицу Пифагора можно до бесконечности расширять вправо и вниз при соблюдении единственного условия: каждое число этой таблицы является произведением номера строки и номера столбика, в котором оно находится.</p>

<p><img src="/images/photo/4.jpg" alt="Таблица Пифагора"/></p>

<h2 id="5">Древнерусская таблица умножения</h2>

<p>Данный способ употреблялся в обиходе великорусских крестьян. Он унаследован их глубокой древности.</p>

<p>Его смысл в том, что умножение любых 2 чисел всегда сводится к ряду последовательных делений одного числа пополам при удвоении другого числа в одно время.</p>

<p><img src="/images/photo/5.jpg" alt="Древнерусская таблица умножения"/></p>

<h2 id="6">Машина Паскаля</h2>

<p>Устройство представляло механическую машину в виде ящичка со множеством шестеренок, связанными между собой. Все числа нужно было вводить в устройство при помощи наборных колесиков.</p>

<p>Каждое колесико соответствовало одному десятичному разряду числа и на нем были нанесены деления от 0 до 9. Все колесики при вводе чисел прокручивались до нужной цифры.</p>

<p><img src="/images/photo/6.jpg" alt="Машина Паскаля"/></p>

<h2 id="7">Арифмометры, помогающие умножать</h2>

<p>Представляет собой механическую машину для вычисления. Она выполняет сложение, вычитание, умножение и деление. Это самая настоящая механическая модель, позволяющая работать с большими числами.</p>

<p>Для работы применялся механический привод, т.е необходимо было самостоятельно поворачивать рукоятку. Позже процесс был оптимизирован до электрических счетных машинок, на которых производились автоматические или полуавтоматические действия.</p>

<p><img src="/images/photo/7.jpg" alt="Арифмометры, помогающие умножать"/></p>

<h2 id="8">Таблица умножения на задней стороне тетради</h2>

<p>В отличие от таблицы Пифагора эта таблица не такая интересная. Детям совсем не нравится учить примеры, прописанные в столбик. И даже самый гениальный ребенок вряд ли сможет найти здесь какие-то интересные фишки или закономерности.</p>

<p>Когда ребенок узнает, что эту таблицу надо выучить, он понимает, что зубрить придется много и долго и при этом понять все будет не так просто.</p>

<p><img src="/images/photo/8.jpg" alt="Таблица умножения на задней стороне тетради"/></p>

<h2 id="9">Как выглядела таблица умножения в СССР</h2>

<p>Таблицу умножения в СССР знали наизусть. В те времена также была таблица Пифагора и примеры, а на некоторых тетрадях были напечатаны законы юных пионеров.</p>

<p>Но в то время заставляли запоминать наизусть именно примеры, поэтому они были изображены на пеналах, линейках и других предметах.</p>

<p><img src="/images/photo/9-1.jpg" alt="Как выглядела таблица умножения в СССР"/></p>
<p><img src="/images/photo/9-2.jpg" alt="Пенал с таблицей умножения из советского союза"/></p>

<h2 id="10">Как умножают в Китае</h2>

<p>Кажется, что способы в этой таблице очень запутаны и сложны, но это только на первый взгляд, поскольку главную роль здесь играет визуализация, т. е, изображение точек пересечения множителей на одной плоскости.</p>

<p>Это дает зрительную поддержку, в отличие от традиционного способа умножения, который подразумевает арифметические действия только в уме.</p>

<p><img src="/images/photo/10.jpg" alt="Как умножают в Китае"/></p>

<h2 id="11">Футболки и кофты с таблицей умножения</h2>

<p>Для того, чтобы запомнить таблицу умножения, существует много разных пособий, интересных мнемонических упражнений и <a href="/games/">игр</a>.</p>

<p>Но на помощь также могут прийти интересные изображения на футболках, где есть рисунки с таблицей умножения в ярких красках. Это необходимо&nbsp; для лучшего запоминания.</p>

<p><img src="/images/photo/11-1.jpg" alt="Кофта с таблицей умножения"/></p>
<p><img src="/images/photo/11-2.jpg" alt="Футболка с таблицей умножения"/></p>
<p><img src="/images/photo/11-3.jpg" alt="Футболка с кругом умножения"/></p>

<h2 id="12">Настольные игры для запоминания таблицы умножения</h2>

<p>Сегодня в продаже имеются разные интересные игры, которые пользуются большой популярностью как у детей, так и у их родителей, которые считают, что выучить таблицу умножения можно только зубрежкой.</p>

<p>Настольные игры предлагают более приятный эквивалент заучивания таблицы, более того, дети с удовольствием вовлечены в процесс, который выглядит уже не так страшно, как стандартный метод запоминания.</p>

<p><img src="/images/photo/12.jpg" alt="Настольные игры для запоминания таблицы умножения"/></p>

<h2 id="13">Компьютерные игры</h2>

<p>Таблица умножения в виде серии развивательных игр предлагают различные онлайн-сервисы, которые бесплатно могут познакомить детей с основами математики.</p>

<p>Также разного рода игры можно скачивать непосредственно на компьютер и с успехом изучать при их помощи таблицу умножения.</p>

<p><img src="/images/photo/13.jpg" alt="Компьютерные игры"/></p>

<h2 id="14">Игры и приложения для смартфонов</h2>

<p>Позволяют усовершенствовать навыки таблицы умножения, соответствующие учебному плану. С помощью них можно воспользоваться пояснительной анимацией некоторых видов умножения.</p>

<p>Весь процесс основан на повторении интервалов и техники запоминания. Кроме того, он включает в себя алгоритм, который адаптируется под каждого ребенка, анализируя задачи в соответствии с его уровнем обучения.</p>

<p><img src="/images/photo/14.jpg" alt="Игры и приложения для смартфонов"/></p>

<h2 id="15">Кубики с таблицей умножения</h2>

<p>Еще одна развивающая игра в копилку обучения таблицы. Позволяет развивать внимание и лучше запоминать примеры в увлекательном игровом процессе.</p>

<p><img src="/images/photo/15.jpg" alt="Кубики с таблицей умножения"/></p>

<h2 id="16">Распечатки для изучения таблиц умножения</h2>

<p><a href="/print/">Распечатки</a> можно оформлять на отдельных листах. Изучение таблицы умножения нужно начинать в классическом виде с ответами.</p>

<p>А после некоторого углубления в знания лучше использовать таблицы без ответов. Таким образом ребенок будет самостоятельно вписывать правильные ответы сразу на листок.</p>

<p><img src="/images/photo/16.jpg" alt="Распечатки для изучения таблиц умножения"/></p>

<h2 id="17">&laquo;Лягушка&raquo; игра на пальцы</h2>

<p>Если на листе бумаги прописать таблицу умножения с ответами и сложить ее, как обычную бумажную лягушку из оригами, тогда таблицу можно выучить гораздо быстрей.</p>

<p>Этот интересный способ поможет избавиться от нудной зубрежки.</p>

<p><img src="/images/photo/17.jpg" alt="Лягушка - игра на пальцы"/></p>

<h2 id="18">Круги для умножения</h2>

<p>В такой таблице последовательно соединяются точки и получается в итоге пятиконечная звезда.</p>

<p><img src="/images/photo/18.jpg" alt="Круги для умножения"/></p>

<h2 id="19">Шпаргалки с таблицей умножения</h2>

<p>В интернете есть сайты, на которых в таблице имеются подсказки. При наведении мышкой на нужную цифру внизу страницы сразу же показывается правильный ответ.</p>

<p>Такая система подсказок позволит выучить таблицу умножения быстрее.</p>

<p><img src="/images/photo/19.jpg" alt="Шпаргалки с таблицей умножения"/></p>


<h2><a href="/photo/memes/">Мемы про математику и умножение</a></h2>

<p  id="19">В настоящее время существует множество различных мемов, но есть мемы которые стали культовыми и узнаваемыми. И на <a href="/photo/memes/">этой странице</a> мы рассмотрели самые популярные мемы в рунете (и не только), посвященные таблице умножения, математике, урокам алгебры в начальной и средней школе.</p>



</Layout_article>
