---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Мемы с таблицей умножения"
h1="Мемы с таблицей умножения"
description="На этой странице собраны смешные мемы про умножение и математику."
keywords="Мемы с таблицей умножения"
url="memes"
section="Фото"
section_url="photo"
img="memes.jpg"
>

<h2>Что такое мемы?</h2>

<p class="opredelenie"><strong>Мемы</strong> &mdash; это картинки, видео, картинки с надписями, картинки без надписей, картинки из игр, картинки со словами, картинки в стихах, картинки-розыгрыши, картинки по теме, которые становятся популярными в определённом сообществе в определённое время.</p>

<p>Мем является культурным феноменом в интернете, чаще всего в социальных сетях.</p>

<p>Понятие &laquo;мем&raquo; и его понимание были введены известным биологом Ричардом Докинзом в 1970 года, в частности в книге &laquo;Эгоистичный ген&raquo;, вышедшей в тираж в 1976 году. Ученый предложил концепцию о том, что вся важная для культуры информация состоит из основных частей &mdash; мемов, точно так же как биологическая информация состоит из генов</p>

<p>И так же, как и гены, в живых организмах, мемы подвержены естественному отбору, мутации, а также селекции. В результате этой концепции возникло целое исследовательское направление - &laquo;меметика&raquo;.</p>

<h2>Мемы про математику и умножение</h2>

<p>В настоящее время существует множество различных мемов, но есть мемы которые стали культовыми и узнаваемыми. И сейчас мы рассмотрим самые популярные мемы в рунете (и не только), посвященные таблице умножения, математике, урокам алгебры в начальной и средней школе.</p>

<h3>Чтобы тебя ночью разбудили, и ты&hellip;</h3>

<p><img src="/images/memes/1.jpg" alt="Чтобы тебя ночью разбудили - мем с таблицей умножения">

<p>Первый мем основан на известном выражении: &quot;знать, как таблицу умножения&quot; - то есть наизусть, и чтобы тебя могли разбудить ночь, а ты мгновенно решил любой пример.</p>

<h3>ЕГЭ, что ты делаешь?</h3>

<p><img src="/images/memes/2.jpg" alt="ЕГЭ, что ты делаешь - мем с таблицей умножения">

<p>Среди старшего поколения, часто с советским образованием, бытует мнение, что единый государственный экзамен &ndash; это зло, которое мешает получать качественное образование. В этот меме, в таблице умножения на оборотной стороне тетради есть явные ошибки. Автор мема предполагает, что их сделали именно молодые сотрудники, которые сдавали ЕГЭ, а значит с плохим образованием</p>

<p>Редакция timestable.ru может не разделять мнение авторов этого и других мемов.</p>

<h3>Таблица умножения в СССР</h3>

<p><img src="/images/memes/3.jpg" alt="Таблица умножения в СССР - мем с таблицей умножения">

<p>А как учили таблицу умножения в СССР? Конечно, без проблем, только непонятно, зачем тогда ее размещали везде: на тетрадях, линейках, над доской 🤷.</p>

<h3>А как же Кличко?</h3>

<p><img src="/images/memes/4.jpg" alt="А как же Кличко - мем с таблицей умножения">

<p>Советское образование получали многие известные люди. А вообще ни одна мемная тема не обходит стороной Владимира Кличко.</p>

<h3>Не только у нас</h3>

<p><img src="/images/memes/5.jpg" alt="Мем с таблицей умножения в Америке">

<p>Проблемы с изучение пифагоровой таблицы есть по всему миру, о чём говорит этот англоязычный мем.</p>

<h3>Что только не сделаешь, чтобы её выучить</h3>

<p><img src="/images/memes/6.jpg" alt="Тапки - мем с таблицей умножения">

<p>Чтобы запомнить таблицу умножения, её печатают не только на тетрадках, в учебниках математики, но даже и на одежде и обуви.</p>

<h3>И другие</h3>

<p>А также дополним нашу подборку и другими математическими и арифметическими мемами.</p>

<p><img src="/images/memes/7.jpg" alt="Отвернулся на алгебре - мем с таблицей умножения">

<p><img src="/images/memes/8.jpg" alt="Сокращаем синус - мем с таблицей умножения">

<p><img src="/images/memes/9.jpg" alt="Луи де Финес - мем с таблицей умножения">

<p><img src="/images/memes/10.jpg" alt="Найдите икс - мем с таблицей умножения">

<h3>Когда всё выучил</h3>

<p>И напоследок мем, который хорошо описывает ощущения, когда вся таблица умножения запомнена и мама отпустила погулять.</p>

<p><img src="/images/memes/11.jpg" alt="Мем с Панасенковым, когда выучил всю таблицу умножения">

</Layout_article>
