---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Игра: обезьянка с таблицей умножения"
h1="Игра: обезьянка с таблицей умножения"
description="Существует такая игрушка «Monkey Multiplier», которая помогает выучить умножение до 12. Нужно просто передвигать ноги обезьяны, чтобы большие пальцы указывали на множители, а в руках появится ответ."
keywords="Monkey Multiplier, игра, игрушка, таблицу умножение, обезьянка"
url="monkey"
section="Игры"
section_url="games"
img="monkey.jpg"
>

<h2>🐒 Что такое &laquo;Обезьяна Умножитель&raquo;?</h2>

<p class="opredelenie"><strong>Monkey Multiplier</strong> &ndash; это такая детская игрушка, в которой нужно просто передвигать ноги обезьяны, чтобы большие пальцы указывали на множители, а в руках появится ответ.</p>


<p>Это хорошо видно в этом видеоролике.</p>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/HAQpbu1MEvg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>

<p>Вот что пишут создатели детской игрушки в дословном переводе: &laquo;Эта удивительная маленькая обезьянка поможет научить вашего ребенка полной таблице умножения для чисел от одного до двенадцати. Просто сдвиньте ноги обезьяны так, чтобы ее большие пальцы были прямо над двумя числами, которые вы хотите умножить. Как по волшебству, правильный ответ появится между руками обезьяны. Чтобы умножить число само по себе, поместите один большой палец над числом, которое вы хотите умножить, а другой большой палец над квадратом. Откуда наш маленький умный друг знает ответ? Это секрет!&nbsp;Но мы знаем, что его волшебное механическое движение заставит вашего ребенка сосредоточиться и улыбаться, когда он изучит важные основы простого умножения&raquo;.</p>

<h3>Когда придумали эту игру?</h3>

<p>Это любопытный механический калькулятор, был придуман и выпущен в США в 1908 году. Вот как он выглядел раньше:</p>

<p><img src="/images/games/monkey2.jpg" alt="Monkey Multiplier старая игра"/></p>

<h2>Как учить таблицу умножения с помощью этой игры?</h2>

<p>Если такая игрушка попала вам в руки, и вы хотите её использовать, чтобы учить таблицу умножения с ребенком, то есть несколько вариантов.</p>

<p><strong>Вариант 1.</strong> Просто дайте эту игру ребёнку и покажите, как её можно использовать. Если ваше чадо увлечётся игрой &ndash; просто не приставайте лишний раз, пусть ребёнок сам учится.</p>

<p><strong>Вариант 2.</strong> Если же вы хотите сами поучаствовать в игре, то можно играть следующим образом:</p>

<ol>
	<li>Вы задаёте пример и просите ребенка ответить на него. Например, сколько будет 2 умножить на 3.</li>
	<li>Ребенок отвечает: шесть. И вы предлагаете проверить, а знает ли обезьянка правильный ответ.</li>
	<li>Для этого обезьянке нужно помочь: передвинуть пальцы на ногах на нужные множители.</li>
	<li>Ребенок передвигает и проверяет, на какое число указывают руки примата.</li>
	<li>И так далее.</li>
</ol>

<p>А также вы можете придумать свои варианты игры, и даже дать имя обезьяне &ndash; всё что угодно, чтобы играть было ещё интереснее.</p>

<h2>Что еще важно?</h2>

<p>Ещё важно знать несколько вещей перед тем, как использовать эту игру.</p>

<p>Во-первых, обезьяна не знает квадраты чисел. Другими словами, вы не множите пальцами указать на 2 одинаковых множителя (например, 5 на 5). Поэтому квадраты нужно учить как-то иначе.</p>

<p>Во-вторых, ребенку нужно объяснить переместительных <a href="/study/laws/">закон умножения</a>, в соответствии с которым от перемены мест множителей произведение не меняется. То есть 5 x 2 = 2 x 5. Если этого не сделать у ребенка может возникнуть резонный вопрос: &laquo;А как поставить макаке ноги крест-накрест?&raquo;.</p>

<p>А вообще игра интересная. Жаль, что у нас такую не выпускают.</p>



</Layout_article>
