---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Умножение на 10"
h1="Умножение на 10"
description="Умножение на 10 – это не только приписать ноль в конце, а чуть сложнее."
keywords="Умножение на 10, множители таблицы умножения, умножение на"
url="10"
section="Множители"
section_url="factor"
img="10.png"
>

<h2>Умножение целого числа на 10</h2>

<p>Умножение числа на 10 эквивалентно добавлению к нему нуля справа. Например, умножение числа 123 на 10 дает 1230, что эквивалентно добавлению нуля к 123, получаем 1230. Это работает потому, что в системе счисления с основанием 10 каждая позиция справа от десятичной точки соответствует уменьшению значения этой позиции в 10 раз.</p>

<p><strong>Десятичная система счисления </strong>- это система счисления, в которой используется база 10, то есть в ней используются 10 различных цифр, которые могут использоваться для записи чисел: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9. Десятичная система счисления является самой распространенной системой счисления в мире и используется в большинстве стран для записи чисел.</p>

<p>В десятичной системе счисления каждая позиция справа от десятичной точки соответствует уменьшению значения этой позиции в 10 раз. Например, цифра 4 в позиции единиц равна 4, цифра 4 в позиции десятков равна 40, цифра 4 в позиции сотен равна 400 и так далее.</p>

<p>Поэтому добавление нуля к числу эквивалентно умножению этого числа на 10.</p>

<h2>Если умножить на 10 целое отрицательное число</h2>

<p>Правило работает таже. Нужно просто дописать ноль, а минус перед числом никуда не денется.</p>

<p>Например, умножение числа -123 на 10 даст -1230, что эквивалентно добавлению нуля справа к -123, что дает -1230.</p>

<p>Следует также отметить, что умножение отрицательного числа на 10 эквивалентно сдвигу разрядов этого числа на одну позицию влево. Например, умножение числа -123 на 10 эквивалентно сдвигу разрядов этого числа на одну позицию влево, что дает -1230.</p>

<h2>Если число нецелое (дробное)?</h2>

<p>Важно отметить, что это справедливо только для целого числа. Если же число будет дробным, то умножение просто сдвинет запятую (или точку &ndash; знак, разделяющий целую и дробную часть) на 1 знак вправо. При умножении дробного числа на 10 десятичная часть этого числа не изменится, а целая часть увеличится в 10 раз.</p>

<p>Например, умножение числа 12.34 на 10 даст 123.4. Это эквивалентно добавлению нуля справа к 12.34, что дает 123.4.</p>

<p>Следует также отметить, что умножение числа на 10 эквивалентно сдвигу разрядов этого числа на одну позицию влево. Например, умножение числа 123 на 10 эквивалентно сдвигу разрядов этого числа на одну позицию влево, что дает 1230.</p>

<h2>А что даёт деление на 10?</h2>

<p>При делении числа на 10 результат будет соответственно уменьшаться в 10 раз. Например, если разделить число 100 на 10, то получим 10. Если разделить число 1000 на 10, то получим 100. И так далее. То есть нужно просто убрать ноль справа.</p>

<p>Если же целое число заканчивается, не на ноль, то чтобы его разделить на 10 нужно, добавить запятую (разделитель разрядов) перед последней цифрой числа. Если разделить число 321 на 10, то результатом будет число 32.1. Это так, потому что деление числа на 10 эквивалентно уменьшению значения этого числа в 10 раз.</p>

<p>Следует также отметить, что при делении дробного числа на 10 целая часть этого числа уменьшится в 10 раз, а десятичная часть увеличится в 10 раз. Например, если разделить число 12.34 на 10, то получим 1.234. То есть разделитель смещается на 1 разряд (одну цифру) влево.</p>

<h2>Примеры и задачи для проверки</h2>

<p>А теперь давайте проверим, как вы освоили эту тему.</p>

<? echo file_get_contents('https://timestable.ru/train/play.html');?><script>const $select = document.querySelector('#quizelevel');$select.value = '10';</script>

<p>Материалы про другие множители доступны по ссылкам:</p>

<ul>
	<li><a href="/factor/0/">Умножение на 0</a></li>
	<li><a href="/factor/1/">Умножение на 1</a></li>
	<li><a href="/factor/2/">Умножение на 2</a></li>
	<li><a href="/factor/3/">Умножение на 3</a></li>
	<li><a href="/factor/4/">Умножение на 4</a></li>
	<li><a href="/factor/5/">Умножение на 5</a></li>
	<li><a href="/factor/6/">Умножение на 6</a></li>
	<li><a href="/factor/7/">Умножение на 7</a></li>
	<li><a href="/factor/8/">Умножение на 8</a></li>
	<li><a href="/factor/9/">Умножение на 9</a></li>
	<li><a href="/factor/10/">Умножение на 10</a></li>
	<li><a href="/factor/11/">Умножение на 11</a></li>
	<li><a href="/factor/12/">Умножение на 12</a></li>
	<li><a href="/factor/20-30-100/">Умножение до 20, 30 и 100</a></li>
</ul>





</Layout_article>
