---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Умножение на 11"
h1="Умножение на 11"
description="Существует несколько приёмов, чтобы легко умножать на 11 числа до 10 и даже до 100."
keywords="Умножение на 11, множители таблицы умножения, умножение на"
url="11"
section="Множители"
section_url="factor"
img="0.png"
>


<h2>Как происходит умножение на 11</h2>

<p>Один из способов умножения на 11 &mdash; это сложение числа самого с собой одиннадцать раз. Например:</p>

<p>8 * 11 = 8 + 8 + &hellip; + 8 (так 11 раз) = 88</p>

<p>Однако это сложный способ, так как в нём нужно много раз складывать одно и то же число.</p>

<p>Гораздо проще умножить число на 10, а затем прибавить к полученному результату само число. Например:</p>

<p>11 * 11 = (11 * 10) + 11 = 110 + 11 = 121</p>

<p>50 * 11 = (50 * 10) + 50 = 500 + 50 = 550</p>

<p>382 * 11 = (382 * 10) + 382 = 3820 + 382 = 4202</p>

<p>Вы можете использовать любой из этих способов, чтобы умножить число на 11. Выбор зависит от вашего удобства и личных предпочтений.</p>

<h2>Как умножать на 11 числа до 9?</h2>

<p>Если умножить на одиннадцать любое число от 1 до 9, то получится число, которое состоит из двух одинаковых цифр, равных этому числу. Например,</p>

<p>2 * 11 = 22</p>

<p>4 * 11 = 44</p>

<p>7 * 11 = 77</p>

<p>В целом, это происходит из-за того, что 11 является числом, состоящим из двух одинаковых цифр, равных 1. Когда вы умножаете число на 11, то вы собираете две копии этого числа, поэтому в результате вы получаете число, состоящее из двух одинаковых цифр.</p>

<h2>Как умножать на 11 числа от 10 до 99?</h2>

<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@evgeny.buyanov/video/7059734493631909122" data-video-id="7059734493631909122" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@evgeny.buyanov" href="https://www.tiktok.com/@evgeny.buyanov?refer=embed">@evgeny.buyanov</a> Умножение на 11. Полная версия <a title="математика" target="_blank" href="https://www.tiktok.com/tag/%D0%BC%D0%B0%D1%82%D0%B5%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B0?refer=embed">#математика</a> <a title="математикалегко" target="_blank" href="https://www.tiktok.com/tag/%D0%BC%D0%B0%D1%82%D0%B5%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B0%D0%BB%D0%B5%D0%B3%D0%BA%D0%BE?refer=embed">#математикалегко</a> <a title="урокдня" target="_blank" href="https://www.tiktok.com/tag/%D1%83%D1%80%D0%BE%D0%BA%D0%B4%D0%BD%D1%8F?refer=embed">#урокдня</a> <a title="устныйсчет" target="_blank" href="https://www.tiktok.com/tag/%D1%83%D1%81%D1%82%D0%BD%D1%8B%D0%B9%D1%81%D1%87%D0%B5%D1%82?refer=embed">#устныйсчет</a> <a title="образование" target="_blank" href="https://www.tiktok.com/tag/%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5?refer=embed">#образование</a> <a title="считаем" target="_blank" href="https://www.tiktok.com/tag/%D1%81%D1%87%D0%B8%D1%82%D0%B0%D0%B5%D0%BC?refer=embed">#считаем</a> <a target="_blank" title="♬ Магия - Greeceee" href="https://www.tiktok.com/music/Магия-6731477890606565378?refer=embed">♬ Магия - Greeceee</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>

<p>Существует простой способ умножения на 11 числе от 10 до 99.</p>

<p>Например, чтобы 27 умножить на 11:</p>

<ul>
	<li>Напишите по краям 2 и 7.</li>
	<li>А по центру сумму этих чисел: 2 (2 + 7) 7</li>
	<li>Да, будет 297.</li>
</ul>

<p>Вот ещё пример. Сколько будет 36 умножить на 11?</p>

<ul>
	<li>Напишите по краям 3 и 6.</li>
	<li>А по центру сумму этих чисел.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 (3 + 6) 6.</li>
	<li>Да, будет 396.</li>
</ul>

<p>А если сумма по центру больше 10, то добавьте единичку к первому числу.</p>

<p>То есть 99 на 11 &ndash; это:</p>

<ul>
	<li>9 (9 + 9) 9</li>
	<li>(9 + 1) 8 9</li>
	<li>1089</li>
</ul>

<p>И так с любыми числами до 99 при умножении на 11.</p>

<h2>Примеры и задачи для проверки</h2>

<p>А теперь давайте проверим, как вы освоили эту тему.</p>

<? echo file_get_contents('https://timestable.ru/train/play.html');?><script>const $select = document.querySelector('#quizelevel');$select.value = '11';</script>

<p>Материалы про другие множители доступны по ссылкам:</p>

<ul>
	<li><a href="/factor/0/">Умножение на 0</a></li>
	<li><a href="/factor/1/">Умножение на 1</a></li>
	<li><a href="/factor/2/">Умножение на 2</a></li>
	<li><a href="/factor/3/">Умножение на 3</a></li>
	<li><a href="/factor/4/">Умножение на 4</a></li>
	<li><a href="/factor/5/">Умножение на 5</a></li>
	<li><a href="/factor/6/">Умножение на 6</a></li>
	<li><a href="/factor/7/">Умножение на 7</a></li>
	<li><a href="/factor/8/">Умножение на 8</a></li>
	<li><a href="/factor/9/">Умножение на 9</a></li>
	<li><a href="/factor/10/">Умножение на 10</a></li>
	<li><a href="/factor/11/">Умножение на 11</a></li>
	<li><a href="/factor/12/">Умножение на 12</a></li>
	<li><a href="/factor/20-30-100/">Умножение до 20, 30 и 100</a></li>
</ul>




</Layout_article>
