---
import Layout_article from '../../layouts/Layout_article.astro'
import Calculator from '../../components/timestrainer'
---

<Layout_article
title="Умножение на 12"
h1="Умножение на 12"
description="Разбираем таблицу умножения на двенадцать. Далеко не всегда её проходят в школе, а мы объясним на примерах, задачах с ответами и с помощью тренажёра."
keywords="Умножение на 12, множители таблицы умножения, умножение на"
url="12"
section="Множители"
section_url="factor"
img="12.png"
>

<p><strong>Содержание:</strong></p>

<ul>
	<li><a href="#1">Примеры</a></li>
	<li><a href="#2">Свойства</a></li>
	<li><a href="#3">Тренажёр</a></li>
	<li><a href="#4">Карточки</a></li>
	<li><a href="#5">Задачи</a></li>
	<li><a href="#6">Конспект урока</a></li>
</ul>

<h2 id="1">Примеры умножения чисел на 12</h2>

<p>В американских школах, к примеру, часто учат таблицу умножения не до 10, а до 12. Это стандартная часть математики, которую обычно изучают в начальной школе, но некоторые школы также учат таблицу умножения до 20 и даже до 100. Изучение таблицы умножения является важным шагом в развитии навыков выполнения арифметических операций и понимания понятия множественности.</p>

<p>Чтобы умножить 12 на любое натуральное число нужно 12 сложить это число раз. То есть:</p>

<p class="formula">12 &times; 3 = 12 + 12 + 12</p>

<p>Например, мы хотим задать 3 людям по 12 яблок. Сколько нам нужно всего яблок, чтобы хватило всем и лишних не осталось? Для этого нужно сложить 12 три раза или, как мы уже поняли, 12 &times; 3. В итоге нам нужно 36 яблок на всех.</p>

<p>Или ещё пример, у одного стула 4 ножки.&nbsp;Сколько всего ножек&nbsp;у 12 стульев? Попробуйте найти ответ самостоятельно в таблице умножения.</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 12 &times; 4 = 48</p>

<h2 id="2">Свойства и правила</h2>

<p>При умножении на 12 полезно знать следующие свойства и мнемотехники, которые помогут умножать быстрее и постараться найти ответ, даже если вы его не знаете.</p>

<ul>
	<li><strong>Переместительный закон умножения:</strong>&nbsp;от перестановки множителей произведение не изменяется. К примерe, если нам уже известно сколько будет 3 &times; 12, то 12 &times; 3 &ndash; это будет тем же самым.</li>
	<li><strong>Сочетательный закон умножения:</strong> чтобы произведение двух чисел умножить на третье число, можно первое число умножить на произведение второго и третьего. Например, 12 &times; 4 &ndash; это тоже самое, что 12 &times; 2 = 24, а потом (12 &times; 2) &times; 2.</li>
</ul>

<h2 id="3">Тренажёр</h2>

<Calculator client:load initialLang='ru' defaultMultipliers={[12]} defaultStart={1} defaultEnd={12} />

<p>Чтобы потренироваться в умножении на 12, вы можете использовать специальный тренажёр. Просто дайте его ребёнку, чтобы он позанимался и объясните простые правила.</p>

<ul>
	<li>Ученику нужно посмотреть на пример, выбрать правильный ответ из 4 вариантов и нажать на этот ответ.</li>
	<li>Если ответ правильный, он загорится зелёным, а если нет &ndash; красным цветом, а зеленым подсветится тот, что был верным.</li>
	<li>После этого нужно нажать на кнопку &laquo;Дальше&raquo;.</li>
	<li>Всего за 1 раунд нужно решить 5 примеров, но потом можно пройти повторно новые примеры с тем же множителем, нажав на кнопку &laquo;Ещё раз&raquo;.</li>
</ul>

<p>Также в левом верхнем углу тренажёра можно выбрать и другие множители для тренировки.</p>

<h2 id="4">Карточки умножения на 12</h2>

<p>Для запоминания таблицы умножения есть специальная техника, которая называется системой Лейтнера или флэш-карточками, на которых записывается информация для запоминания. Делается это так:</p>

<ul>
	<li>Создаются карточки, на каждой из которых с одной стороны написан или напечатан пример, а с другой &ndash; ответ.</li>
	<li>Все карточки берутся примерами наверх (так, чтобы ответ не был виден).</li>
	<li>Далее ученик достаёт по одной карточке и пытается ответить правильно на пример. После ответа проверяет себя, переворачивая карточку.</li>
	<li>Если ответ правильный, то карточка откладывается во вторую стопку, если неправильно &ndash; то кладётся в первую стопку.</li>
	<li>Карточки из первой стопки должны повторяться каждый день или даже несколько раз в день, а из второй стопки, например раз в 2 дня.</li>
	<li>Если ученик отвечает правильно, то карточка всегда перекладывается в стопку с более редкими повторениями.</li>
	<li>Стопок может быть 2, 3 или даже 4. Например, первая стопка &ndash; повторения 2 раза в день, вторая &ndash; 1 раз в день, третья &ndash; 1 раз в 2 дня четвёртая &ndash; раз в неделю.</li>
</ul>

<p>Карточки могут быть обычными бумажными либо электронными.</p>

<h2 id="5">Задачи с ответами</h2>

<p>Вот примеры некоторых задач, которые можно встретить в контрольных и проверочных работах на умножение на 12. Такие задания можно встретить чаще всего во 2 и 3 классах, реже в 1 классе, а после 4 класса примеры даются обычно чуть сложнее.</p>

<h3>Задача месяцы</h3>

<p>В году 12 месяцев. Сколько месяцев в 5 годах?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 12 &times; 5 = 60 месяцев.</p>

<h3>Задача стрелку</h3>

<p>За один оборот часовая стрелка проходит 12 часов. Сколько часов она пройдёт за 4 оборота?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 12 &times; 4 = 48 часов.</p>

<h3>Задача пуговицы</h3>

<p>На 12 кофтах по 9 пуговиц. Сколько всего пуговиц на кофтах?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 12 &times; 9 = 108 пуговиц.</p>


<h3>Умножение и деление на 12</h3>

<p>Также если вы знаете таблицу умножения на 12, то вас будет нетрудно научиться делить на это число.</p>

<p>Например, если 4 &times; 12 = 48, то</p>

<ul>
	<li>48 : 12 = 4, где 48 - делимое,&nbsp; 12 &ndash; делитель, 4 &ndash; частное.</li>
	<li>48 : 4 = 12, где 48 - делимое, 4 &ndash; делитель, 12 &ndash; частное.</li>
</ul>

<p>Или ещё пример, если 7 &times; 12&nbsp; = 84, то</p>

<ul>
	<li>84 : 12 = 7, где 84 - делимое,&nbsp; 12 &ndash; делитель, 7 &ndash; частное.</li>
	<li>84 : 7 = 12, где 84 - делимое, 7 &ndash; делитель, 12 &ndash; частное.</li>
</ul>

<p>Теперь пусть ученик попробует сам:</p>

<p>Сколько будет 96 : 12?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 8, так как 12 &times; 8 = 96</p>

<p>А сколько будет 72 : 12?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 6, так как 12 &times; 6 = 72</p>

<h2 id="6">Конспект урока</h2>

<p>И давайте подведём итог уроку небольшим конспектом.</p>

<p>Таблица умножения на 12 выглядит так:</p>

<p><img src="/images/factor/12.png" alt="Таблица на 12"/></p>

<p>Умножение на 12 любого натурального числа &ndash; это то же самое, что просуммировать 12 раз это число или, наоборот, натуральное число раз сложить 12.</p>

<p>Например, 3 &times; 12 = 12 + 12 + 12 = 3 + 3 + &hellip; + 3 (12 раз).</p>

<p>При умножении на 12 полезно знать следующие свойства:</p>

<ul>
	<li>Переместительное свойство: 3 &times; 12 = 12 &times; 3.</li>
	<li>Сочетательное свойство: 12 &times; 4 = (12 &times; 2) &times; 2.</li>
</ul>

<p>Материалы про другие множители доступны по ссылкам:</p>

<ul>
	<li><a href="/factor/0/">Умножение на 0</a></li>
	<li><a href="/factor/1/">Умножение на 1</a></li>
	<li><a href="/factor/2/">Умножение на 2</a></li>
	<li><a href="/factor/3/">Умножение на 3</a></li>
	<li><a href="/factor/4/">Умножение на 4</a></li>
	<li><a href="/factor/5/">Умножение на 5</a></li>
	<li><a href="/factor/6/">Умножение на 6</a></li>
	<li><a href="/factor/7/">Умножение на 7</a></li>
	<li><a href="/factor/8/">Умножение на 8</a></li>
	<li><a href="/factor/9/">Умножение на 9</a></li>
	<li><a href="/factor/10/">Умножение на 10</a></li>
	<li><a href="/factor/11/">Умножение на 11</a></li>
	<li><a href="/factor/12/">Умножение на 12</a></li>
	<li><a href="/factor/20-30-100/">Умножение до 20, 30 и 100</a></li>
</ul>





</Layout_article>
