---
import Layout_article from '../../layouts/Layout_article.astro'
import Calculator from '../../components/timestrainer'
---

<Layout_article
title="Как умножать в уме до 20, 30 и 100"
h1="Как умножать в уме до 20, 30 и 100"
description="Научитесь умножать в уме числа до двадцати, тридцати, ста и даже до тысячи."
keywords="умножение до 20, таблица умножения, до 20, до 30, до 100, до 1000, умножение на"
url="20-30-100"
section="Множители"
section_url="factor"
>

<div class="videowrap"><iframe width="560" height="315" src="https://www.youtube.com/embed/KeXH37apBgk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>


<p>А вы знаете, что в уме можно научиться умножать числа до 100 и до 1000, не прилагая больших усилий? И это не какие-то фантастические способности, а обыкновенный навык. Это действительно возможно на самом деле. Посмотрев видео и прочитав статью ниже, вы убедитесь, что это реально можно делать.</p>

<h3>Содержание:</h3>

<ul>
	<li><a href="#0">Умножаем числа до 20</a></li>
	<li><a href="#1">Умножение с опорным числом 10</a></li>
	<li><a href="#2">Умножение с опорным числом 20</a></li>
	<li><a href="#3">А если числа не больше опорного?</a></li>
	<li><a href="#4">Вариант 2, где оба числа меньше, чем опорное</a></li>
	<li><a href="#5">Вариант 3, где одно число больше опорного, а другое меньше</a></li>
	<li><a href="#6">Вариант 4, где оба числа далеки от опорного</a></li>
	<li><a href="#7">Интересные математические лайфхаки</a></li>
	<li><a href="#8">Выводы</a></li>
	<li><a href="#9">Тренажёр</a></li>
</ul>

<h2 id="0">Умножаем числа до 20</h2>

<p>Начнем с простого, но очень эффективного примера:</p>

<p>В школе всегда учат таблице умножения до 10. Но на самом деле, ее достаточно легко освоить и на 20.</p>

<p>Например, чтобы умножить 13х17, необходимо</p>

<ol>
	<li>К 13 прибавить 7, или, наоборот, к 17 прибавить 3, особой разницы здесь нет. Мы получаем 20.</li>
	<li>Теперь просто дописываем 0.</li>
	<li>И прибавляем 3х7.</li>
	<li>В итоге получаем 221.</li>
</ol>

<p>Всё, наш пример готов!</p>

<p>Вот так все просто. Именно так умножаются любые числа до 20.</p>

<p>Или возьмем другой пример, где нужно умножить 12х14. Для этого следует:</p>

<ul>
	<li>К 14 прибавить 2, получится 16,</li>
	<li>дописать 0,</li>
	<li>прибавить 2х4,</li>
	<li>мы получим в итоге - 168.</li>
</ul>

<p>Всего лишь 5 минут тренировки, и вы сможете умножать такие примеры за считанные секунды, поскольку алгоритм здесь очень простой. А как он появился?</p>

<p>Смотрим на примере ниже.</p>

<h2 id="1">Умножение с опорным числом 10</h2>

<p>12х14 &mdash; это то же самое, что и произведение 10+2 на 10+4.</p>

<p>Если раскроем скобки и перемножим слагаемые, то получится вот такая сумма:</p>

<p>12*14=(10+2)*(10+4)<br />
10*10+10*4+10*2+2*4</p>

<p>где множитель 10 есть в трех слагаемых из 4</p>

<p>Вынесем его отдельно: (10+2+4)*10+2*4.</p>

<p>И получим тот самый алгоритм быстро и четко. В данном случае опорным является число 10.</p>

<h2 id="2">Умножение с опорным числом 20</h2>

<p>А если опорное число будет не 10, а, например, 20?</p>

<p>Давайте умножим 23х27:</p>

<ul>
	<li>Прибавляем к 23 число 7 и получаем 30.</li>
	<li>Удваиваем число 30, так как опорное 20, получаем 60.</li>
	<li>Дописывает ноль &ndash; 600.</li>
	<li>Теперь добавляем к нему произведение 3х7 (21). &nbsp;600+21=621.</li>
</ul>

<p>Все, готово!</p>

<p>Теперь разберем пример, который еще круче. Давайте умножим 105х107:</p>

<ul>
	<li>Для этого к числу 105 прибавляем 7.</li>
	<li>И здесь мы прибавляем уже два 00, поскольку опорное число - 100. 105+7=11&nbsp;200.</li>
	<li>Далее, прибавляем 5х7. 11&nbsp;200 + 5х7. И получаем в итоге 11 235.</li>
</ul>

<p>Вот так запросто с помощью опорных чисел мы можем в уме решать подобные примеры.</p>

<h2 id="3">А если числа не больше опорного?</h2>

<p>У особо проницательного человека могут возникнуть вопросы:</p>

<p>Как быть, если число будет меньше, чем опорное? Например 92х99, где опорное число меньше 100.</p>

<p>Или, к примеру, одно число больше опорного, а другое меньше, такое, как в этом примере: 48х56, где опорное число - 50.</p>

<p>Или может быть числа вообще далеки друг от друга и опорного числа просто не видно. Такие, как: 23х88.</p>

<p>В реальности у нас может быть 4 разных случая:</p>

<ol>
	<li>Числа больше, чем опорное: 105 х 107 (100).</li>
	<li>Числа меньше, чем опорное: 92х99 (100).</li>
	<li>Одно число больше, другое меньше опорного: 48 х 56 (50).</li>
	<li>Числа, далекие от опорного: 23*88.</li>
</ol>

<p>Теперь рассмотрим каждый пример отдельно. И начнем со второго, поскольку первый вариант мы уже разобрали.</p>

<h2 id="4">Вариант 2, где оба числа меньше, чем опорное</h2>

<p>Возьмем пример 92х99, где опорное будет 100.</p>

<p>Методика решения такая. Мы будем вычитать из первого числа столько, сколько второму не хватает до опорного:</p>

<ol>
	<li>Из 99 вычитаем 8 или из 92 вычитаем 1. Здесь не будет разницы в каком порядке: 99-8 или 92-1. Мы получим - 91.</li>
	<li>Дописываем 2 нуля, поскольку опорное число - 100 (99-8=9100). Получится 9100.</li>
	<li>И теперь прибавляем произведение 8х1 (99-8=9100+8х1). Получаем 9108.</li>
</ol>

<p>Это всё.</p>

<p>Такой алгоритм очень легко проверить, если записать произведение в скобках, раскрыть их и найти общий множитель у трёх слагаемых:</p>

<p>92х99=(100-8)х(100-1)<br />
100х100-100х8-100х1+1х8<br />
100х(100-8-1)+1х8</p>

<h2 id="5">Вариант 3, где одно число больше опорного, а другое меньше</h2>

<p>Возьмем пример 48х56, где опорное число равно 50.</p>

<ol>
	<li>Тут нам нужно прибавить к 48+6, или отнять 56-2. В этом случае так же не важен порядок.</li>
	<li>У нас получилось 54 и мы умножаем его на 50. Это как разделить на 2 и приписать два 00 &ndash; то есть 2700.</li>
	<li>Обратите внимание! Теперь отнимаем из 2700 - 2х6. Получаем 2688.</li>
</ol>

<p>Данный вариант имеет отличия от предыдущих, но при определенной сноровке он также просто считается в уме.</p>

<p>48х56=(50-2)х(50+6)<br />
50х50+50х6-50х2-6х2<br />
50х(50+6-2)-5х2</p>

<p>Все примеры расчетов мы приводим, чтобы вы могли убедиться, что это обычные математические действия, а не какая-то магия.</p>

<h2 id="6">Вариант 4, где оба числа далеки от опорного</h2>

<p>И четвертый случай самый сложный. Возьмем 23 х 88. Здесь можно использовать 2 опорных числа:</p>

<ul>
	<li>Это 100 для 88 и 25 для числа 23. Оба числа являются меньше опорных.</li>
	<li>В этом случае главным опорным числом возьмем 100. А 25 запишем, как 100:4.</li>
</ul>

<p>Начинаем считать:</p>

<ol>
	<li>Из числа 23 вычитаем 12:4, (т. е, 3). Получаем 20.</li>
	<li>Приписываем два ноля, поскольку главное опорное число - 100</li>
	<li>Теперь добавляем 12 х 2. И получаем 2024.</li>
</ol>

<p>Вот расчеты. Тут желательно хорошенько подумать и понять, что произошло:</p>

<p>23 х 88 = (100:4-2)х(100-12)<br />
100:4х100-100:4х12-100х2+12х2<br />
(23-12:4)х100 + 24 = 2024</p>

<p>Чтобы закрепить данную тему, давайте умножим все те же 23 х 88, но с другими опорными числами. Для 23 - 20 и для 88 - 80. Оба числа являются больше, чем опорное. Пусть главное опорное число будет 20.</p>

<ol>
	<li>К 88 прибавляем произведение 3 на 4.</li>
	<li>Умножаем на опорное (20), получается 100х20 = 2000.</li>
	<li>К 2000 прибавляем произведение 3х8. Получаем 2024.</li>
</ol>

<p>Расчёты будут такими:</p>

<p>23 х 88 = (20+3)х(20х4+8)<br />
20х20х4+20х8+20х4х3+8х3<br />
(88+3х4)х20 + 24 = 2024</p>

<p>Как только вы разберетесь и сможете быстро отыскать 2 опорных числа, то запросто будете умножать в уме, как до 100, так и до 1000.</p>

<h2 id="7">Интересные математические лайфхаки</h2>

<p>Но умножение с опорным числом далеко не всегда является самым удобным способом вычисления. Существуют более простые приёмы в частных случая.</p>

<h3>Квадрат чисел на 5</h3>

<p>Есть отличный математический трюк, чтоб возвести в квадрат абсолютно любое число, которое заканчивается на 5.</p>

<p>К примеру, 35&sup2; &mdash; это 3х4, дописываем 25 и получаем 1225.</p>

<p>Здесь очень простой алгоритм:</p>

<ol>
	<li>Число до последней пятерки умножаем на это же число +1.</li>
	<li>И приписываем к полученному числу 25.</li>
</ol>

<p>Например,</p>

<p>15&sup2; &ndash; это 1 умножить на 2 и 25. 152 = [1*(1+1)] 25. Итого 225.</p>

<p>25&sup2; &ndash; это 2 на 3, то есть 6, и приписываем 25. 252 = [2*[2+1] 25 = 625</p>

<p>85&sup2; &ndash; это 8 на 9 = 72, получаем 7225.</p>

<p>852 = [8[9] 25 = 7&nbsp;225.</p>

<p>Это подходит и для более сложных примеров</p>

<p>155&sup2; будет 24&nbsp;025. 1552 = [15*[16] 25 = 24&nbsp;025.</p>

<p>Кстати, 15 на 16 мы уже умеем умножать в уме &ndash; это 210+30 т. е &ndash; 240.</p>

<h3>Квадрат чисел от 40 до 60</h3>

<p>Есть ещё один алгоритм, позволяющий считать квадрат чисел от 40 до 60.</p>

<p>Например, 53&sup2; это 2800 + 9, т. е, 2809</p>

<p>532 = (25+3)х100 + 32 = 2800 + 9 = 2809</p>

<p>Алгоритм расчета такой:</p>

<ol>
	<li>К числу 25 прибавляем (или отнимаем) столько, на сколько это число будет больше (или меньше) 50.</li>
	<li>Умножаем эту сумму (или разность) на 100.</li>
	<li>К этому произведению добавляем квадрат разности числа, возводимого в квадрат и 50.</li>
</ol>

<h3>Умножение на 11</h3>

<p>Существует простой способ умножения на 11. Например, чтобы умножить 27 на 11 нужно:</p>

<ol>
	<li>Написать по краям 2 и 7.</li>
	<li>А посередине - эти числа, сложенные в сумму (9).&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
	<li>Получается 297.</li>
</ol>

<p>Таким образом умножаем до 100 любое число при умножении на 11.</p>

<h2 id="8">Выводы</h2>

<p>Всё описанное выше на самом деле решается очень просто, хотя на первый взгляд все кажется немного запутанным.</p>

<p>Возможно сегодня, при наличии всевозможных калькуляторов, эти расчеты нужны не каждому. Но это очень интересная способность, которой можно обучиться, приложив совсем немного усилий. Зато она может пригодиться в жизни в какой-то самый неожиданный момент, когда, например, вы захотите просто кого-то удивить своими способностями. И это в самом простом случае.</p>

<p>Если рассматривать более серьезное применение таких методов, то они пригодятся, когда нет времени, но необходимо провести или проверить сложные расчеты быстро, чтобы, например, не потерять деньги.</p>

<p>Тем, кто твердо решил научиться этим математическим премудростям, очень важно запомнить, как минимум, три вещи:</p>

<p><strong>1. Если вам удалось освоить алгоритм</strong>, все равно это пока лишь умение, которое быстро забудется. Поэтому, чтобы сформировать навык и закрепить его, нужна определенная практика и регулярные повторения по 20-30 минут в день на протяжение нескольких недель. Тогда эти знания останутся с вами на всю жизнь.</p>

<p>2. Все это является только умножением в уме.</p>

<p>Здесь нет сложения каких-то больших чисел, корней, деления, факториалов и систем с несколькими переменными. Поэтому это не сделает вас гениальным математиком.</p>

<p><strong>3. Очень часто в жизни необходимо решать задачи не по алгоритмам</strong> и не на автомате, а включать медленное мышление по Дэниелу Канеману.</p>

<p>Например:</p>

<img src="/images/factor/kaneman.png" alt="Мяч и бита вместе имеют стоимость 1 доллар и 10 центов.">

<p>Мяч и бита вместе имеют стоимость 1 доллар и 10 центов.</p>

<p>Известно, что бита на 1 доллар дороже, чем мяч. Сколько стоит бита, а сколько стоит мяч?</p>

<p>Основная масса людей не подумав скажут, что цена биты 1 доллар, а цена мяча 10 центов. Но этот ответ неверный. Правильным ответом будет цена биты 1 доллар и 5 центов, а цена мяча 5 центов.</p>

<p>И в этом случае бита будет стоить на 1 доллар дороже, чем в первом неправильном, где ее цена &ndash; на 90 центов.</p>

<p>Таким образом, мы видим, что готовые алгоритмы, помогающие рассуждать на автомате, порой могут сыграть с нами злую шутку. Но это не означает, что они вообще не нужны. Просто надо уметь ими правильно пользоваться, а при каждом решении быть очень внимательным.</p>

<p>Нужно всегда стараться развивать разные полезные навыки, которые помогут максимально легко освоить любые расчеты. И такие полезные материалы вы всегда можете увидеть на нашем канале.</p>

<h2 id="9">Тренажёр умножения больших чисел</h2>

<Calculator client:load initialLang='ru' defaultMultipliers={[]} defaultStart={1} defaultEnd={100} />

<p>Тренажер на умножение больших чисел - это инструмент, который поможет вам улучшить навыки умножения больших чисел и повысить свою математическую грамотность. Умножение - это одна из самых важных операций в математике, и овладение этим навыком поможет вам в решении различных задач как в повседневной жизни, так и в профессиональной деятельности.</p>

<p>Тренажер на умножение больших чисел предлагает различные уровни сложности, начиная от умножения двух двузначных чисел и заканчивая умножением нескольких шестизначных чисел. Таким образом, вы можете выбрать уровень, который соответствует вашим навыкам и потребностям.</p>


</Layout_article>
