---
import Layout_article from '../../layouts/Layout_article.astro'
import Calculator from '../../components/timestrainer'
import MultiplicationTable from '../../components/table'
---

<Layout_article
title="Умножение на 3"
h1="Умножение на 3"
description="Тема умножения и деления на три: примеры с ответами, карточки, таблица и конечно же тренажёр."
keywords="умножение на 3, умножение и деление на 3, три, число, 2 класс, 3 класс, 4 класс, примеры, карточки, распечатать, таблица умножения, табличное умножение, тренажер, контрольная работа, тест, задачи, выполните умножение, с ответами, проверочная, презентация, конспект, урок, тема, свойства умножения, timestable, математика"
url="3"
section="Множители"
section_url="factor"

>

<MultiplicationTable client:load yellowString="3" redCells={[[0,0]]}/>

<p><strong>Содержание:</strong></p>

<p>Умножение на 3 немного сложнее, чем на 2. Обычно ученики заменяют умножение на 3 сложением, особенно если множимое, т.е. то число, которое умножается в данной ситуации на 3, тоже небольшое.</p>

<ul>
	<li><a href="#1">Примеры</a></li>
	<li><a href="#2">Свойства</a></li>
	<li><a href="#3">Тренажёр</a></li>
	<li><a href="#4">Карточки</a></li>
	<li><a href="#5">Стихи</a></li>
	<li><a href="#6">Задачи</a></li>
	<li><a href="#7">Презентация темы</a></li>
	<li><a href="#8">Конспект урока</a></li>
</ul>

<h2 id="1">Примеры умножения чисел на 3</h2>

<p>Если вам нужно умножить 3 на любое натуральное следует число 3 сложить это число раз. То есть:</p>

<p class="formula">3 &times; 4 = 3 + 3 + 3 + 3</p>

<p>К примеру, мы хотим задать 3 людям по 4 апельсина. Сколько нам нужно всего апельсинов, чтобы хватило всем и лишних не осталось? Для этого нужно сложить 4 три раза или, как мы уже поняли, 3 &times; 4. В итоге нам нужно 12 апельсинов на всех.</p>

<p>Или ещё пример, у одного стула 3 ножки.&nbsp;Сколько всего ножек&nbsp;у 5 стульев? Попробуйте найти ответ самостоятельно в таблице умножения:</p>

<MultiplicationTable client:load yellowString="" redCells={[[0,0]]}/>

<p class="btnopen">Узнать правильный ответ</p>

<div class="blockopen">
	<p><b>Правильный ответ:</b>Правильный ответ: 3 &times; 5 = 3 + 3 + 3 + 3 + 3 = 15</p>
	<MultiplicationTable client:load yellowString="" redCells={[[5,3]]}/>
</div>





<h2 id="2">Свойства и правила</h2>

<p>Умножая на 3, может пригодиться знание следующих свойств и приёмов, которые помогут умножать быстрее и постараться найти ответ, даже если вы его не знаете.</p>

<ul>
	<li><strong>Сочетательный закон умножения:</strong> чтобы произведение двух чисел умножить на третье число, можно первое число умножить на произведение второго и третьего. Например, 3 &times; 4 &ndash; это тоже самое, что 3 &times; 2 = 6, а потом (3 &times; 2) &times; 2.</li>
	<li><strong>Переместительный закон умножения:</strong>&nbsp;от перестановки множителей произведение не изменяется. К примерe, если нам уже известно сколько будет 2 &times; 3, то 3 &times; 2 &ndash; это будет тем же самым.</li>
</ul>

<h2 id="3">Тренажёр на 3</h2>

<Calculator client:load initialLang='ru' defaultMultipliers={[3]} defaultStart={1} defaultEnd={10} />

<p>Чтобы потренироваться в умножении на 3, вы можете использовать специальный тренажёр. Просто дайте его ребёнку, чтобы он позанимался и объясните простые правила.</p>

<ol>
	<li>Ученику нужно посмотреть на пример, выбрать правильный ответ из 4 вариантов и нажать на этот ответ.</li>
	<li>Если ответ правильный, он загорится зелёным, а если нет &ndash; красным цветом, а зеленым подсветится тот, что был верным.</li>
	<li>После этого нужно нажать на кнопку &laquo;Дальше&raquo;.</li>
	<li>Всего за 1 раунд нужно решить 5 примеров, но потом можно пройти повторно новые примеры с тем же множителем, нажав на кнопку &laquo;Ещё раз&raquo;.</li>
</ol>

<p>Также в левом верхнем углу тренажёра можно выбрать и другие множители для тренировки.</p>

<h2 id="4">Карточки на 3</h2>

<p><a href="/images/print/allcards.pdf" download><img src="/images/factor/3print.jpg" alt="Карточки таблицы умножения на 3"></a></p>

<p>Для запоминания таблицы умножения есть специальная техника, которая называется системой Лейтнера или карточки, на которых записывается информация для запоминания. Делается это так:</p>

<ul>
	<li>Создаются карточки (можно напечатать или написать от руки), на каждой из которых с одной стороны написан пример умножения, а с другой &ndash; ответ.</li>
	<li>Все карточки переворачиваются примерами наверх (так ответ не виден).</li>
	<li>Далее ребёнок достаёт по одной карточке и пытается ответить правильно на пример. После ответа проверяет себя, переворачивая карточку.</li>
	<li>Если его ответ правильный, то карточка откладывается во вторую стопку, если неправильный &ndash; то кладётся в первую стопку.</li>
	<li>Карточки из первой стопки следует повторять несколько раз в день, а из второй стопки, например раз в 2 дня.</li>
	<li>Если ученик отвечает правильно, то карточка всегда перекладывается в стопку с более редкими повторениями.</li>
	<li>Стопок может быть несколько. Например, четыре: первая стопка &ndash; повторения 2 раза в день, вторая &ndash; 1 раз в день, третья &ndash; 1 раз в 2 дня четвёртая &ndash; раз в неделю.</li>
</ul>

<p>Карточки могут быть обычными бумажными либо электронными.</p>

<h3>Напечатать карточки</h3>

<p>Для того чтобы распечатать карточки с таблицей умножения на 3 следуйте инструкции.</p>

<ul>
	<li><a href="/images/print/allcards.pdf" download>Скачайте файл</a> в формате *.pdf.</li>
	<li>Откройте скачанный файл и нажмите &laquo;Печать&raquo; или комбинацию клавиш ctrl+p для windows или cmd+p для mac.</li>
	<li>Вы можете напечатать всю таблицу или выбрать конкретный лист с множителем. Номер листа соответствует самому множителю.</li>
</ul>

<p>Если у вас под рукой нет принтера &ndash; не отчаивайтесь, такие карточки можно сделать своими руками. Просто вырежете одинаковые по размеру листочки бумаги, и вместе с ребенком напишите примеры с одной стороны и ответы на них &ndash; с другой. Будет даже лучше, если ребенок будет сам всё писать &ndash; это тоже элемент заучивания и тренировки, когда работают дополнительные механизмы запоминания.</p>

<h2 id="5">Стихи</h2>

<p>Если умножение на 2 или какие-то конкретные примеры даются сложно, попробуйте использовать стихотворения. Рифма &ndash; это своеобразный мнемонический приём. Вспомните, старую песню, которую вы наверняка слышали и не раз в школе: &laquo;дважды два - &hellip;, это всем известно в целом мире&raquo;. Ответ приходит в голову мгновенно. Именно так работает эта мнемотехника.</p>

<p>Поэтому трудные случаи нелишним будет закрепить стихами. Например, следующим произведением Андрея Усачёва:</p>

<p>Кофе пили две букашки<br />
И разбили по три чашки.<br />
Что разбито, то не склеить&hellip;<br />
Трижды три &ndash; выходит девять.<br />
<br />
Целый день твердит в квартире<br />
Говорящий какаду:<br />
- Три умножить на четыре,<br />
Три умножить на четыре&hellip;<br />
Двенадцать месяцев в году.<br />
<br />
Школьник стал писать в тетрадь:<br />
Сколько будет &laquo;трижды пять&raquo;?..<br />
Был он страшно аккуратен:<br />
Трижды пять &ndash; пятнадцать пятен!<br />
<br />
Стал Фома оладьи есть:<br />
Восемнадцать &ndash; трижды шесть.<br />
<br />
Трижды семь &ndash; двадцать один:<br />
На носу горячий блин.<br />
<br />
Прогрызли мыши дыры в сыре:<br />
Трижды восемь &ndash; двадцать четыре.<br />
<br />
Трижды девять &ndash; двадцать семь.<br />
Это нужно помнить всем.<br />
<br />
Три девицы под окном<br />
Наряжались вечерком.<br />
Перстни меряли девицы:<br />
Трижды десять &ndash; будет тридцать.</p>

<p>А больше стихотворений, песен и рифм мы собрали на <a href="/poetry/">этой странице</a>.</p>

<h2 id="6">Задачи и ответы</h2>

<p>Вот примеры некоторых задач, которые можно встретить в контрольных и проверочных работах на умножение на 3. Такие задания можно встретить чаще всего во 2 и 3 классах, реже в 1 классе, а после 4 класса примеры даются обычно чуть сложнее.</p>

<h3>Задача про розы</h3>

<p>В двух вазах по 3 розы. Сколько роз в этих вазах?</p>

<p class="btnopen">Ответ</p>

<p class="blockopen">Ответ: 3 &times; 2 = 18 роз</p>

<h3>Задача про горох</h3>

<p>В 3 стручках по 6 горошин. Сколько горошин в этих стручках?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 3 &times; 6 = 18 горошин</p>

<h3>Задача про жильцов</h3>

<p>В трёх комнатах по 4 жильца. Сколько жильцов в этих комнатах?</p>

<p class="btnopen">Ответ</p>

<p class="blockopen">Ответ: 3 &times; 4 = 12 жильцов</p>

<h2>Как делить на 3</h2>

<p>А если вы выучили таблицу умножения на 3, то для вас будет нетрудно понять, как делить на это число.</p>

<p>К примеру, если 4 &times; 3 = 12, то</p>

<ul>
	<li>12 : 3 = 4, где 12 - делимое,&nbsp; 3 &ndash; делитель, 4 &ndash; частное.</li>
	<li>12 : 4 = 3, где 12 - делимое, 4 &ndash; делитель, 3 &ndash; частное.</li>
</ul>

<p>А вот ещё пример, если 7 &times; 3&nbsp; = YYY, то</p>

<ul>
	<li>21 : 3 = 7, где 21 - делимое,&nbsp; 3 &ndash; делитель, 7 &ndash; частное.</li>
	<li>21 : 7 = 3, где 21 - делимое, 7 &ndash; делитель, 3 &ndash; частное.</li>
</ul>

<p>Теперь пусть ученик попробует сам:</p>

<p>Сколько будет 24 : 3?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 8, так как 3 &times; 8 = 24</p>

<p>А сколько будет 15 : 3?</p>

<p class="btnopen">Посмотреть ответ</p>

<p class="blockopen">Правильный ответ: 5, так как 3 &times; 5 = 15</p>

<h2 id="7">Презентация</h2>

<p>Если вам нужно сделать презентацию теме умножения на 3, то мы подготовили слайды в power point на нейтральном фоне, которые вы можете использовать по своему усмотрению.</p>

<ul>
	<li>На 1 слайде показана вся часть таблицы умножения на 3.</li>
	<li>На 2 слайде даны примеры.</li>
	<li>На 3 слайде перечислены свойства умножения на множитель.</li>
</ul>

<p>Скачать слайды и добавить в свою презентацию вы можете по этой ссылке:</p>

<p><a href="/images/present/3.pptx" class="btn whitebtn" target="_blank" download>Скачать презентацию<span class="material-symbols-rounded">download</span></a></p>

<h2 id="8">Конспект</h2>

<p>А теперь подведём итог уроку небольшим конспектом.</p>

<p>Таблица умножения на 3 выглядит так:</p>

<img src="/images/factor/3.png" alt="Таблица умножения на 3">

<p>Умножение на 3 любого натурального числа &ndash; это то же самое, что просуммировать 3 раза это число или, наоборот, натуральное число раз сложить 3.</p>

<p>Например, 3 &times; 4 = 3 + 3 + 3 + 3 = 4 + 4 + 4 = 12</p>

<p>При умножении на три полезно знать следующие свойства:</p>

<ul>
	<li>Переместительное свойство: 3 &times; 2 = 2 &times; 3.</li>
	<li>Сочетательное свойство: 3 &times; 4 = (3 &times; 2) &times; 2.</li>
</ul>

<p>А вот статьи про остальные множители таблицы умножения:</p>

<ul>
	<li><a href="/factor/0/">Умножение на 0</a></li>
	<li><a href="/factor/1/">Умножение на 1</a></li>
	<li><a href="/factor/2/">Умножение на 2</a></li>
	<li><a href="/factor/3/">Умножение на 3</a></li>
	<li><a href="/factor/4/">Умножение на 4</a></li>
	<li><a href="/factor/5/">Умножение на 5</a></li>
	<li><a href="/factor/6/">Умножение на 6</a></li>
	<li><a href="/factor/7/">Умножение на 7</a></li>
	<li><a href="/factor/8/">Умножение на 8</a></li>
	<li><a href="/factor/9/">Умножение на 9</a></li>
	<li><a href="/factor/10/">Умножение на 10</a></li>
	<li><a href="/factor/11/">Умножение на 11</a></li>
	<li><a href="/factor/12/">Умножение на 12</a></li>
	<li><a href="/factor/20-30-100/">Умножение до 20, 30 и 100</a></li>
</ul>

</Layout_article>
