---
import Layout_article from '../../layouts/Layout_article.astro'
import Calculator from '../../components/timestrainer'
import MultiplicationTable from '../../components/table'
---

<Layout_article
title="Умножение на 4"
h1="Умножение на 4"
description="Учим таблицу умножения на четыре на примерах, задачах, карточках, тренажёрах и таблицах."
keywords="умножение на 4, умножение и деление на 4, четыре, число, 2 класс, 3 класс, 4 класс, примеры, карточки, распечатать, таблица умножения, табличное умножение, тренажер, контрольная работа, тест, задачи, выполните умножение, с ответами, проверочная, презентация, конспект, урок, тема, свойства умножения, timestable, математика"
url="4"
section="Множители"
section_url="factor"
>

<MultiplicationTable client:load yellowString="4" redCells={[[0,0]]}/>

<p><strong>Содержание:</strong></p>

<p>Первый достаточно серьезный столбец для умножения. Еще есть ученики, предпочитающие вычислять произведение при помощи сложения, но куда проще разобрать данный столбец и заучить его. Сначала изучают таблицу умножения на 1, потом на 2. Логично будет предположить, что следующим столбцом будет умножение на 3, но многие педагоги склоняются к тому, что далее стоит перейти к умножению на 4, так как оно является удвоением умножения на 2.</p>

<ul>
	<li><a href="#1">Примеры</a></li>
	<li><a href="#2">Свойства</a></li>
	<li><a href="#3">Тренажёр</a></li>
	<li><a href="#4">Карточки</a></li>
	<li><a href="#5">Стихи</a></li>
	<li><a href="#6">Задачи</a></li>
	<li><a href="#7">Презентация темы</a></li>
	<li><a href="#8">Конспект урока</a></li>
</ul>

<h2 id="1">Примеры умножения на 4</h2>

<p>Чтобы умножить 4 на любое натуральное число нужно 4 сложить это число раз. То есть:</p>

<p class="formula">4 &times; 3 = 4 + 4 + 4</p>

<p>Предположим, мы хотим задать 3 людям по 4 конфеты. Сколько нам нужно всего конфет, чтобы хватило всем и лишних не осталось? Для этого нужно сложить 4 три раза или, как мы уже поняли, 4 &times; 3. В итоге нам нужно 12 конфет на всех.</p>

<p>Или например, у одного стола 4 ножки.&nbsp;Сколько всего ножек&nbsp;у 4 столов? Попробуйте найти ответ самостоятельно в таблице умножения:</p>


<MultiplicationTable client:load yellowString="" redCells={[[0,0]]}/>

<p class="btnopen">Узнать правильный ответ</p>

<div class="blockopen">
	<p><b>Правильный ответ:</b> 4 &times; 4 = 4 + 4 + 4 + 4 = 16 ножек.</p>
	<MultiplicationTable client:load yellowString="" redCells={[[4,4]]}/>
</div>




<h2 id="2">Свойства и правила</h2>

<p>Изучая умножение на четыре, полезно знать следующие свойства и техники, которые помогут умножать быстрее и постараться найти ответ, даже если вы его не знаете.</p>

<ul>
	<li>Если вы знаете умножение на 2, то вам проще изучать умножение на 4. Ведь 4 &times; 1 = 4, 4 &times; 2 = 8, 4 &times; 3 = 12, 4 &times; 4 = 16 &ndash; ответы как в умножении на два, только идут через один.</li>
	<li><strong>Переместительный закон умножения:</strong>&nbsp;от перестановки множителей произведение не изменяется. К примерe, если нам уже известно сколько будет 3 &times; 4, то 4 &times; 3 &ndash; это будет тем же самым.</li>
	<li><strong>Сочетательный закон умножения:</strong> чтобы произведение двух чисел умножить на третье число, можно первое число умножить на произведение второго и третьего. Например, 4 &times; 4 &ndash; это тоже самое, что 4 &times; 2 = YYY, а потом (4 &times; 2) &times; 2.</li>
</ul>

<h2 id="3">Тренажёр на умножение</h2>

<Calculator client:load initialLang='ru' defaultMultipliers={[4]} defaultStart={1} defaultEnd={10} />

<p>Чтобы поднатореть в умножении на 4, вы можете попробовать применить специальный тренажёр. Просто покажите его своему ребёнку, чтобы он позанимался и объясните простые правила.</p>

<ul>
	<li>Ученику нужно посмотреть на пример, выбрать правильный ответ из 4 вариантов и нажать на этот ответ.</li>
	<li>Если ответ правильный, он загорится зелёным, а если нет &ndash; красным цветом, а зеленым подсветится тот, что был верным.</li>
	<li>После этого нужно нажать на кнопку &laquo;Дальше&raquo;.</li>
	<li>Всего за 1 раунд нужно решить 5 примеров, но потом можно пройти повторно новые примеры с тем же множителем, нажав на кнопку &laquo;Ещё раз&raquo;.</li>
</ul>

<p>Также в левом верхнем углу тренажёра можно выбрать и другие множители для тренировки.</p>

<h2 id="4">Карточки умножения</h2>

<p><a href="/images/print/allcards.pdf" download><img src="/images/factor/4print.jpg" alt="Карточки таблицы умножения на 4"></a></p>

<p>Для изучения таблицы Пифагора на 4 (и не только) есть специальная техника, которая называется системой Лейтнера или flash-карточками, на которых размещается информация для запоминания. Делается это так:</p>

<ul>
	<li>Создаются специальные карточки, на каждой из которых с одной стороны написан или напечатан пример, а с другой &ndash; ответ.</li>
	<li>Все карточки берутся примерами наверх (ответ снизу и не виден).</li>
	<li>Потом ученик достаёт по одной карточке и старается вспомнить ответ (или догадаться). После ответа проверяет себя, переворачивая карточку.</li>
	<li>Если ответ правильный, то карточка откладывается во вторую стопку, если неправильно &ndash; то кладётся в первую стопку.</li>
	<li>Карточки из первой стопки должны повторяться каждый день или даже несколько раз в день, а из второй стопки, например раз в 2 дня.</li>
	<li>Когда ученик отвечает правильно, то карточка всегда перекладывается в стопку с более редкими повторениями.</li>
	<li>Самих стопок может быть три или четыре. К примеру, первая стопка &ndash; повторения 2 раза в день, вторая &ndash; 1 раз в день, третья &ndash; 1 раз в 2 дня четвёртая &ndash; раз в неделю.</li>
</ul>

<p>Карточки могут быть обычными бумажными либо электронными.</p>

<h3>Карточки для печати</h3>

<p>Распечатать карточки для изучения таблицы умножения на 4 можно следующим образом:</p>

<ul>
	<li><a href="/images/print/allcards.pdf" download>Скачайте файл</a> в формате *.pdf.</li>
	<li>Откройте скачанный файл и нажмите &laquo;Печать&raquo; или комбинацию клавиш ctrl+p для windows или cmd+p для mac.</li>
	<li>Вы можете напечатать всю таблицу или выбрать конкретный лист с множителем. Номер листа соответствует самому множителю.</li>
	<li>После нужно вырезать карточки и при желании написать на обратной стороне правильный ответ.</li>
</ul>

<p>А если у вас под рукой нет принтера &ndash; не переживайте, такие карточки можно сделать своими руками. Просто вырежете одинаковые по размеру листочки бумаги, и вместе с ребенком напишите примеры и ответы на них. Будет даже лучше, если ребенок будет сам всё писать &ndash; это тоже элемент заучивания и тренировки, когда работают дополнительные механизмы запоминания.</p>

<h2 id="5">Стихи</h2>

<p>Если умножение на 2 или какие-то конкретные примеры даются сложно, попробуйте использовать стихотворения. Рифма &ndash; это своеобразный мнемонический приём. Вспомните, старую песню, которую вы наверняка слышали и не раз в школе: &laquo;дважды два - &hellip;, это всем известно в целом мире&raquo;. Ответ приходит в голову мгновенно. Именно так работает эта мнемотехника.</p>

<p>Поэтому трудные случаи нелишним будет закрепить стихами, к примеру, Андрея Усачёва:</p>

<p>Четыре милых свинки<br />
Плясали без сапог:<br />
Четырежды четыре &ndash;<br />
Шестнадцать голых ног.<br />
<br />
Четыре ученых мартышки<br />
Ногами листали книжки&hellip;<br />
На каждой ноге &ndash; пять пальцев:<br />
Четырежды пять &ndash; двадцать.<br />
<br />
Шла на парад<br />
Картошка-в-мундире:<br />
Четырежды шесть &ndash; двадцать четыре!<br />
<br />
Цыплят считают под осень:<br />
Четырежды семь &ndash; двадцать восемь!<br />
<br />
У Бабы Яги сломалась ступа:<br />
Четырежды восемь<br />
&ndash; тридцать два зуба!<br />
Меж зубов ей нечем есть:<br />
Четырежды девять &ndash; тридцать шесть!<br />
<br />
Гуляли сорок сорок,<br />
Нашли творожный сырок.<br />
И делят на части творог:<br />
Четырежды десять &ndash; сорок.</p>

<p>А больше стихотворений, песен и рифм мы собрали на <a href="/poetry/">этой странице</a>.</p>

<h2 id="6">Задачи для проверки с ответами</h2>

<p>Вот примеры некоторых задач, которые можно встретить в контрольных и проверочных работах на умножение на 4. Такие задания можно встретить чаще всего во 2 и 3 классах, реже в 1 классе, а после 4 класса примеры даются обычно чуть сложнее.</p>

<h3>Задача про кофты</h3>

<p>На 5 кофтах по 4 пуговицы. Сколько всего пуговиц на всех кофтах?</p>

<p class="btnopen">Посмотреть ответ</p>

<p class="blockopen">Ответ: 4 &times; 5 = 20 пуговиц</p>

<h3>Задача про лодки</h3>

<p>На лодке 4 гребца. Сколько гребцов в 8 лодках?</p>

<p class="btnopen">Посмотреть ответ</p>

<p class="blockopen">Ответ: 4 &times; 8 = 32 гребца</p>

<h3>Задача про яблони</h3>

<p>Дети посадили 9 рядов яблонь по 4 яблони в каждом ряду. Сколько яблонь посадили дети?</p>

<p class="btnopen">Посмотреть ответ</p>

<p class="blockopen">Ответ: 4 &times; 9 = 36 яблонь</p>

<h2>Деление на 4</h2>

<p>Если ваш ребёнок уже знает таблицу умножения на четыре, то ему будет нетрудно научиться делить на это 4.</p>

<p>Например, если 4 &times; 5 = 20, то</p>

<ul>
	<li>20 : 4 = 5, где 20 - делимое,&nbsp; 4 &ndash; делитель, 5 &ndash; частное.</li>
	<li>20 : 5 = 4, где 20 - делимое, 5 &ndash; делитель, 4 &ndash; частное.</li>
</ul>

<p>Или ткой пример, если 7 &times; 4&nbsp; = 28, то</p>

<ul>
	<li>28 : 4 = 7, где 28 - делимое,&nbsp; 4 &ndash; делитель, 7 &ndash; частное.</li>
	<li>28 : 7 = 4, где 28 - делимое, 7 &ndash; делитель, 4 &ndash; частное.</li>
</ul>

<p>А теперь пусть он попробует сам:</p>

<p>Сколько будет 32 : 4?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 8, так как 4 &times; 8 = 32</p>

<p>А сколько будет 24 : 4?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 6, так как 4 &times; 6 = 24</p>

<h2 id="7">Презентация темы</h2>

<p>Если вам нужно сделать презентацию по умножению на 4, то мы подготовили слайды в powerpoint на прозрачном фоне, которые вы можете использовать бесплатно.</p>

<ul>
	<li>На первом слайде показана вся часть таблицы умножения на 4.</li>
	<li>На втором слайде даны примеры.</li>
	<li>На третьем слайде перечислены свойства умножения на множитель.</li>
</ul>

<p>Скачать слайды и добавить в свою презентацию вы можете по этой ссылке:</p>

<p><a href="/images/present/4.pptx" class="btn whitebtn" target="_blank" download>Скачать презентацию<span class="material-symbols-rounded">download</span></a></p>

<h2 id="8">Конспект занятия</h2>

<p>И давайте подведём итог уроку небольшим конспектом.</p>

<p>Таблица умножения на 4 выглядит так:</p>

<img src="/images/factor/4.png" alt="Умножение на 4">

<p>Умножение на 4 любого натурального числа &ndash; это то же самое, что просуммировать 4 раза это число или, наоборот, натуральное число раз сложить 4.</p>

<p>Например, 3 &times; 4 = 4 + 4 + 4 = 3 + 3 + 3 + 3.</p>

<p>При умножении на 4 полезно знать следующие свойства:</p>

<ul>
	<li>Сочетательное свойство: 4 &times; 4 = (4 &times; 2) &times; 2.</li>
	<li>Переместительное свойство: 3 &times; 4 = 4 &times; 3.</li>
</ul>

<p>Статьи про другие множители доступны по ссылкам:</p>

<ul>
	<li><a href="/factor/0/">Умножение на 0</a></li>
	<li><a href="/factor/1/">Умножение на 1</a></li>
	<li><a href="/factor/2/">Умножение на 2</a></li>
	<li><a href="/factor/3/">Умножение на 3</a></li>
	<li><a href="/factor/4/">Умножение на 4</a></li>
	<li><a href="/factor/5/">Умножение на 5</a></li>
	<li><a href="/factor/6/">Умножение на 6</a></li>
	<li><a href="/factor/7/">Умножение на 7</a></li>
	<li><a href="/factor/8/">Умножение на 8</a></li>
	<li><a href="/factor/9/">Умножение на 9</a></li>
	<li><a href="/factor/10/">Умножение на 10</a></li>
	<li><a href="/factor/11/">Умножение на 11</a></li>
	<li><a href="/factor/12/">Умножение на 12</a></li>
	<li><a href="/factor/20-30-100/">Умножение до 20, 30 и 100</a></li>
</ul>





</Layout_article>
