---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Умножение на 5"
h1="Умножение на 5"
description="В статье разбираем простым языком, почему умножение на ноль даёт ноль."
keywords="Умножение на 5"
url="5"
section="Множители"
section_url="factor"
img="0.png"
>

Умножение на 5" />
<meta content='Как умножать и делить на пять – правила, примеры с ответами, таблицы, карточки и тренажёры.' property="og:description" name="Description"/>
<meta content='умножение на 5, умножение и деление на 5, пять, число, 2 класс, 3 класс, 4 класс, примеры, карточки, распечатать, таблица умножения, табличное умножение, тренажер, контрольная работа, тест, задачи, выполните умножение, с ответами, проверочная, презентация, конспект, урок, тема, свойства умножения, timestable, математика' name="Keywords"/>


<p><strong>Содержание страницы:</strong></p>

<p>Умножение на 5 по праву считается легче, чем умножение на 4. Все дело в том, в произведении всегда выходит число, заканчивающееся на 0 или 5. По сути произведения в таблице умножения на пять являются чередованием десятков и их половин: 5, 10, 15, 20 и т.д.</p>

<ul>
	<li><a href="#1">Примеры</a></li>
	<li><a href="#2">Свойства</a></li>
	<li><a href="#3">Тренажёр</a></li>
	<li><a href="#4">Карточки</a></li>
	<li><a href="#5">Стихи</a></li>
	<li><a href="#6">Задачи</a></li>
	<li><a href="#7">Презентация темы</a></li>
	<li><a href="#8">Конспект урока</a></li>
</ul>

<h2 id="1">Примеры умножения чисел на 5</h2>

<p>Чтобы умножить 5 на любое натуральное число нужно 5 сложить это число раз. То есть:</p>

<p class="formula">5 &times; 3 = 5 + 5 + 5</p>

<p>Например, мы хотим задать 3 людям по 5 мандаринов. Сколько нам нужно всего мандаринов, чтобы хватило всем и лишних не осталось? Для этого нужно сложить 5 три раза или, как мы уже поняли, 5 &times; 3. В итоге нам нужно 15 мандаринов на всех.</p>

<p>Или ещё пример, у одного стула 4 ножки.&nbsp;Сколько всего ножек&nbsp;у 5 стульев? Попробуйте найти ответ самостоятельно в таблице умножения:</p>

<? echo file_get_contents('https://timestable.ru/blocks/intable/');?>

<p class="btnopen">Верный ответ</p>

<p class="blockopen">Правильный ответ: 4 &times; 5 = 4 + 4 + 4 + 4 + 4 = 20</p>

<h2 id="2">Свойства и правила</h2>

<p>При изучении умножения на пять пригодится знать следующие свойства и приёмы, которые помогут умножать быстрее и постараться найти ответ, даже если вы его не знаете.</p>

<ul>
	<li>При умножении на 5 ответ всегда будет заканчиваться на 0 или на 5. Причём если число четное, то на конце произведения будет ноль, а если нечётное &ndash; 5.</li>
	<li>Сочетательный закон умножения: чтобы произведение двух чисел умножить на третье число, можно первое число умножить на произведение второго и третьего. Например, 5 &times; 4 &ndash; это тоже самое, что 5 &times; 2 = 10, а потом (5 &times; 2) &times; 2 = 10 &times; 3 &ndash; так явно проще.</li>
	<li>Переместительный закон умножения:&nbsp;от перестановки множителей произведение не изменяется. К примерe, если нам уже известно сколько будет 3 &times; 5, то 5 &times; 3 &ndash; это будет тем же самым.</li>
</ul>

<h2 id="3">Тренажёр таблицы на 5</h2>

<? echo file_get_contents('https://timestable.ru/train/play.html');?><script>const $select = document.querySelector('#quizelevel');$select.value = '5';</script>

<p>Чтобы потренироваться в умножении на 5, вы можете использовать специальный тренажёр. Просто дайте его ребёнку, чтобы он позанимался и объясните простые правила.</p>

<ol>
	<li>Ученику нужно посмотреть на пример, выбрать правильный ответ из 4 вариантов и нажать на этот ответ.</li>
	<li>Если ответ правильный, он загорится зелёным, а если нет &ndash; красным цветом, а зеленым подсветится тот, что был верным.</li>
	<li>После этого нужно нажать на кнопку &laquo;Дальше&raquo;.</li>
	<li>Всего за 1 раунд нужно решить 5 примеров, но потом можно пройти повторно новые примеры с тем же множителем, нажав на кнопку &laquo;Ещё раз&raquo;.</li>
</ol>

<p>Также в левом верхнем углу тренажёра можно выбрать и другие множители для тренировки.</p>

<h2 id="4">Карточки для запоминания</h2>

<p><a href="/images/print/allcards.pdf" download><img src="/images/factor/5print.jpg" alt="Карточки таблицы умножения на 5"></a></p>

<p>Для запоминания таблицы умножения на пять (и нетолько) есть специальная мнемоническая техника, которая называется системой Лейтнера или флэш-карточками, на которых записывается информация для запоминания. Делается это так:</p>

<ul>
	<li>Создаются карточки, на каждой из которых с одной стороны написан или напечатан пример, а с другой &ndash; ответ.</li>
	<li>Все карточки берутся примерами наверх (так, чтобы ответ не был виден).</li>
	<li>Далее ученик достаёт по одной карточке и пытается ответить правильно на пример. После ответа проверяет себя, переворачивая карточку.</li>
	<li>Если ответ правильный, то карточка откладывается во вторую стопку, если неправильно &ndash; то кладётся в первую стопку.</li>
	<li>Карточки из первой стопки должны повторяться каждый день или даже несколько раз в день, а из второй стопки, например раз в 2 дня.</li>
	<li>Если ученик отвечает правильно, то карточка всегда перекладывается в стопку с более редкими повторениями.</li>
	<li>Стопок может быть 2, 3 или даже 4. Например, первая стопка &ndash; повторения 2 раза в день, вторая &ndash; 1 раз в день, третья &ndash; 1 раз в 2 дня четвёртая &ndash; раз в неделю.</li>
</ul>

<p>Карточки могут быть обычными бумажными либо электронными.</p>

<h3>Напечатать карточки</h3>

<p>Чтобы распечатать карточки для изучения таблицы умножения на пять сделайте следующие действия.</p>

<ul>
	<li><a href="/images/print/allcards.pdf" download>Скачайте файл</a> в формате *.pdf.</li>
	<li>Откройте скачанный файл и нажмите &laquo;Печать&raquo; или комбинацию клавиш ctrl+p для windows или cmd+p для mac.</li>
	<li>Вы можете напечатать всю таблицу или выбрать конкретный лист с множителем. Номер листа соответствует самому множителю.</li>
</ul>

<p>Но даже если у вас под рукой нет принтера &ndash; не переживайте, такие карточки можно сделать своими руками. Просто вырежете одинаковые по размеру листочки бумаги, и вместе с ребенком напишите примеры с одной стороны и ответы на них &ndash; с обратной. Будет даже лучше, если ребенок будет сам всё писать &ndash; это тоже элемент заучивания и тренировки, когда работают дополнительные механизмы запоминания.</p>

<h2 id="5">Стихи</h2>

<p>Если умножение на 2 или какие-то конкретные примеры даются сложно, попробуйте использовать стихотворения. Рифма &ndash; это своеобразный мнемонический приём. Вспомните, старую песню, которую вы наверняка слышали и не раз в школе: &laquo;дважды два - &hellip;, это всем известно в целом мире&raquo;. Ответ приходит в голову мгновенно. Именно так работает эта мнемотехника.</p>

<p>Поэтому трудные случаи нелишним будет закрепить стихами. Например следующими за авторством Андрея Усачёва:</p>

<p>Вышли зайцы погулять:<br />
Пятью пять &ndash; двадцать пять.<br />
<br />
Забежала в лес лисица:<br />
Пятью шесть &ndash; выходит тридцать.<br />
<br />
Пять медведей из берлоги<br />
Шли по лесу без дороги &ndash;<br />
За семь верст кисель хлебать:<br />
Пятью семь &ndash; тридцать пять!<br />
<br />
Влезть сороконожке<br />
Трудно на пригорок:<br />
Утомились ножки &ndash;<br />
Пятью восемь &ndash; сорок.<br />
<br />
Встали пушки на пригорок:<br />
Пятью восемь &ndash; вышло сорок.<br />
Пушки начали стрелять:<br />
Пятью девять &ndash; сорок пять.<br />
<br />
Если лаптем щи хлебать:<br />
Пятью девять &ndash; сорок пять&hellip;<br />
Будет этот лапоть<br />
Всем на брюки капать!</p>

<p><br />
Рыли грядку кабачков<br />
Пять десятков пятачков.<br />
И хвостов у поросят:<br />
Пятью десять &ndash; пятьдесят!</p>

<p>А больше стихотворений, песен и рифм мы собрали на <a href="/poetry/">этой странице</a>.</p>

<h2 id="6">Задачи и ответы для проверки</h2>

<p>Вот примеры некоторых задач, которые можно встретить в контрольных и проверочных работах на умножение на 5. Такие задания можно встретить чаще всего во 2 и 3 классах, реже в 1 классе, а после 4 класса примеры даются обычно чуть сложнее.</p>

<h3>Задача про карандаши</h3>

<p>В коробке 5 карандашей. Сколько карандашей в 9 таких коробках?</p>

<p class="btnopen">Правильный ответ</p>

<p class="blockopen">Ответ: 5 &times; 9 = 45 карандашей</p>

<h3>Задача про игрушки</h3>

<p>Родители купили 5 коробок ёлочных игрушек по 4 игрушки в каждой. Сколько ёлочных игрушек купили?</p>

<p class="btnopen">Правильный ответ</p>

<p class="blockopen">Ответ: 5 &times; 4 = 20 игрушек</p>

<h3>Задача про пирожки</h3>

<p>К чаю подали 5 тарелок с пирожками по 7 на каждой. Сколько пирожков подали к чаю?</p>

<p class="btnopen">Правильный ответ</p>

<p class="blockopen">Ответ: 5 &times; 7 = 35 пирожков</p>

<h2>Умножение и деление на пять</h2>

<p>Если выучить таблицу умножения на 5, то будет несложно научиться делить на это же число.</p>

<p>К примеру, если 4 &times; 5 = 20, то</p>

<ul>
	<li>20 : 5 = 4, где 20 - делимое,&nbsp; 5 &ndash; делитель, 4 &ndash; частное.</li>
	<li>20 : 4 = 5, где 20 - делимое, 4 &ndash; делитель, 5 &ndash; частное.</li>
</ul>

<p>И ещё пример, если 7 &times; 5&nbsp; = 35, то</p>

<ul>
	<li>35 : 5 = 7, где 35 - делимое,&nbsp; 5 &ndash; делитель, 7 &ndash; частное.</li>
	<li>35 : 7 = 5, где 35 - делимое, 7 &ndash; делитель, 5 &ndash; частное.</li>
</ul>

<p>Теперь давайте попробуем самостоятельно.</p>

<p>Сколько будет 45 : 5?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 9, так как 5 &times; 9 = 45</p>

<p>А сколько будет 15 : 5?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 3, так как 5 &times; 3 = 15</p>

<h2 id="7">Презентация</h2>

<p>Чтобы сделать презентацию по теме умножения на 5, то мы создали слайды в power point на нейтральном фоне, которые вы можете использовать абсолютно бесплатно.</p>

<ul>
	<li>На 1 слайде показана вся часть таблицы умножения на 5.</li>
	<li>На 2 слайде даны примеры.</li>
	<li>На 3 слайде перечислены свойства умножения на множитель.</li>
</ul>

<p>Скачать слайды и добавить в свою презентацию вы можете по этой ссылке:</p>

<p><a href="/factor/present/5.pptx" class="btn whitebtn" target="_blank" download>Скачать презентацию<span class="material-symbols-rounded">download</span></a></p>

<h2 id="8">Конспект урока</h2>

<p>Подведём итог уроку небольшим конспектом.</p>

<p>Таблица умножения на 5 выглядит так:</p>

<img src="images/5.png" alt="Умножение на 5">

<p>Умножение на 5 любого натурального числа &ndash; это то же самое, что просуммировать 5 раз это число или, наоборот, натуральное число раз сложить 5.</p>

<p>Например, 3 &times; 5 = 5 + 5 + 5 = 3 + 3 + 3 + 3 + 3 = 15.</p>

<p>При умножении на число &laquo;пять&raquo; полезно знать следующие свойства:</p>

<ul>
	<li>Переместительное свойство: 3 &times; 5 = 5 &times; 3.</li>
	<li>Сочетательное свойство: 5 &times; 4 = (5 &times; 2) &times; 2 = 10 &times; 20.</li>
</ul>

<p>Материалы про другие множители доступны по ссылкам:</p>

<ul>
	<li><a href="/factor/0/">Умножение на 0</a></li>
	<li><a href="/factor/1/">Умножение на 1</a></li>
	<li><a href="/factor/2/">Умножение на 2</a></li>
	<li><a href="/factor/3/">Умножение на 3</a></li>
	<li><a href="/factor/4/">Умножение на 4</a></li>
	<li><a href="/factor/5/">Умножение на 5</a></li>
	<li><a href="/factor/6/">Умножение на 6</a></li>
	<li><a href="/factor/7/">Умножение на 7</a></li>
	<li><a href="/factor/8/">Умножение на 8</a></li>
	<li><a href="/factor/9/">Умножение на 9</a></li>
	<li><a href="/factor/10/">Умножение на 10</a></li>
	<li><a href="/factor/11/">Умножение на 11</a></li>
	<li><a href="/factor/12/">Умножение на 12</a></li>
	<li><a href="/factor/20-30-100/">Умножение до 20, 30 и 100</a></li>
</ul>

</Layout_article>
