---
import Layout_article from '../../layouts/Layout_article.astro'
import Calculator from '../../components/timestrainer'
import MultiplicationTable from '../../components/table'
---

<Layout_article
title="Умножение на 7"
h1="Умножение на 7"
description="Разбираем примеры и задачи, свойства и принципы умножения и деления на семь."
keywords="множители таблицы умножения, умножение на, timestable.ru, умножение на 7, умножение и деление на 7, семь, число, 2 класс, 3 класс, 4 класс, примеры, карточки, распечатать, таблица умножения, табличное умножение, тренажер, контрольная работа, тест, задачи, выполните умножение, с ответами, проверочная, презентация, конспект, урок, тема, свойства умножения, timestable, математика, распределительное, сочетательное, переместительное свойства"
url="7"
section="Множители"
section_url="factor"

>

<MultiplicationTable client:load yellowString="7" redCells={[[0,0]]}/>

<p><strong>Оглавление:</strong></p>

<p>Еще один сложный столбец. Каких-либо явных закономерностей для облегчения запоминания в нем нет. Но если вы выучили умножение до 6 &ndash; то осталось всего 3 примера.</p>

<ul>
	<li><a href="#1">Примеры</a></li>
	<li><a href="#2">Свойства</a></li>
	<li><a href="#3">Тренажёр</a></li>
	<li><a href="#4">Карточки</a></li>
	<li><a href="#5">Стихи</a></li>
	<li><a href="#6">Задачи</a></li>
	<li><a href="#7">Презентация темы</a></li>
	<li><a href="#8">Конспект урока</a></li>
</ul>

<h2 id="1">Примеры умножения чисел на 7</h2>

<p>Чтобы умножить 7 на любое натуральное число нужно 7 сложить это число раз. То есть:</p>

<p class="formula">7 &times; 3 = 7 + 7 + 7</p>

<p>Например, мы хотим задать 3 людям по 7 цветов. Сколько нам нужно всего цветов, чтобы хватило всем и лишних не осталось? Для этого нужно сложить 7 три раза или, как мы уже поняли, 7 &times; 3. В итоге нам нужно 21 цветок на всех.</p>

<p>Или ещё пример, у одного стула 4 ножки.&nbsp;Сколько всего ножек&nbsp;у 7 стульев? Попробуйте найти ответ самостоятельно в таблице умножения:</p>

<MultiplicationTable client:load yellowString="" redCells={[[0,0]]}/>

<p class="btnopen">Узнать правильный ответ</p>

<div class="blockopen">
	<p><b>Правильный ответ:</b> 4 &times; 7 = 4 + 4 + 4 + 4 + 4 + 4 + 4 = 28</p>
	<MultiplicationTable client:load yellowString="" redCells={[[7,4]]}/>
</div>







<h2 id="2">Свойства и правила</h2>

<p>При запоминании примеров умножения на семь важно знать следующие правила и свойства, которые помогут умножать быстрее и постараться найти ответ, даже если вы его не знаете.</p>

<ul>
	<li><strong>Сочетательный закон умножения:</strong> чтобы произведение двух чисел умножить на третье число, можно первое число умножить на произведение второго и третьего. Например, 7 &times; 4 &ndash; это тоже самое, что 7 &times; 2 = 14, а потом (7 &times; 2) &times; 2.</li>
	<li><strong>Переместительный закон умножения:</strong>&nbsp;от перестановки множителей произведение не изменяется. К примерe, если нам уже известно сколько будет 3 &times; 7, то 7 &times; 3 &ndash; это будет тем же самым.</li>
</ul>

<h2 id="3">Тренажёр на 7</h2>

<Calculator client:load initialLang='ru' defaultMultipliers={[7]} defaultStart={1} defaultEnd={10} />

<p>Чтобы потренироваться в умножении на 7, вы можете использовать специальный тренажёр. Просто дайте его ребёнку, чтобы он позанимался и объясните простые правила.</p>

<ul>
	<li>Ученику нужно посмотреть на пример, выбрать правильный ответ из 4 вариантов и нажать на этот ответ.</li>
	<li>Если ответ правильный, он загорится зелёным, а если нет &ndash; красным цветом, а зеленым подсветится тот, что был верным.</li>
	<li>После этого нужно нажать на кнопку &laquo;Дальше&raquo;.</li>
	<li>Всего за 1 раунд нужно решить 5 примеров, но потом можно пройти повторно новые примеры с тем же множителем, нажав на кнопку &laquo;Ещё раз&raquo;.</li>
</ul>

<p>Также в левом верхнем углу тренажёра можно выбрать и другие множители для тренировки.</p>

<h2 id="4">Карточки умножения на семь</h2>

<p><a href="/images/print/allcards.pdf" download><img src="/images/factor/7print.jpg" alt="Карточки таблицы умножения на 7"></a></p>

<p>Чтобы запомнить таблицу умножения есть специальная техника, которая называется системой Лейтнера или мнемокарточками, на которых записывается информация для запоминания. Делается это так:</p>

<ul>
	<li>Из бумаги A4 вырезаются карточки, на каждой из которых с одной стороны написан или напечатан пример, а с другой &ndash; ответ.</li>
	<li>Все карточки берутся примерами наверх (так, чтобы ответ не был виден).</li>
	<li>Далее ученик достаёт по одной карточке и пытается ответить правильно на пример. После ответа проверяет себя, переворачивая карточку.</li>
	<li>Если ответ правильный, то карточка откладывается во вторую стопку, если неправильно &ndash; то кладётся в первую стопку.</li>
	<li>Карточки из первой стопки должны повторяться каждый день или даже несколько раз в день, а из второй стопки, например раз в 2 дня.</li>
	<li>Если ученик отвечает правильно, то карточка всегда перекладывается в стопку с более редкими повторениями.</li>
	<li>Стопок может быть 2, 3 или даже 4. Например, первая стопка &ndash; повторения 2 раза в день, вторая &ndash; 1 раз в день, третья &ndash; 1 раз в 2 дня четвёртая &ndash; раз в неделю.</li>
</ul>

<p>Карточки могут быть обычными бумажными либо электронными.</p>

<h3>Карточки для печати на принтере</h3>

<p>Чтобы распечатать карточки для изучения таблицы умножения на семь сделайте следующие действия.</p>

<ul>
	<li><a href="/images/print/allcards.pdf" download>Скачайте файл</a> в формате *.pdf.</li>
	<li>Откройте скачанный файл и нажмите &laquo;Печать&raquo; или комбинацию клавиш ctrl+p для windows или cmd+p для mac.</li>
	<li>Вы можете напечатать всю таблицу или выбрать конкретный лист с множителем. Номер листа соответствует самому множителю.</li>
	<li>После нужно вырезать карточки и при желании написать на обратной стороне правильный ответ.</li>
</ul>

<p>Но даже если у вас под рукой нет принтера &ndash; не переживайте, такие карточки можно сделать своими руками. Просто вырежете одинаковые по размеру листочки бумаги, и вместе с ребенком напишите примеры на одной стороне и ответы на них &ndash; на другой. Будет даже лучше, если ребенок будет сам всё писать &ndash; это тоже элемент заучивания и тренировки, когда работают дополнительные механизмы запоминания.</p>

<h2 id="5">Стихи</h2>

<p>Если умножение на 2 или какие-то конкретные примеры даются сложно, попробуйте использовать стихотворения. Рифма &ndash; это своеобразный мнемонический приём. Вспомните, старую песню, которую вы наверняка слышали и не раз в школе: &laquo;дважды два - &hellip;, это всем известно в целом мире&raquo;. Ответ приходит в голову мгновенно. Именно так работает эта мнемотехника.</p>

<p>Поэтому трудные случаи нелишним будет закрепить стихами, к примеру, Марины Казариной.</p>

<p>&laquo;Семью один&raquo; &ndash; найти ответик<br />
Поможет цветик-семицветик!<br />
Ведь у таких, как он цветков,<br />
СЕМЬ разноцветных лепестков!</p>

<p>Семь на два мы умножим просто,<br />
ЧЕТЫРНАДЦАТЬ &ndash; хороший возраст,<br />
Ведь в этом возрасте прекрасном<br />
Ребята получают паспорт!</p>

<p>Что семью три &ndash; ДВАДЦАТЬ ОДИН,<br />
Сказал нам важный господин,<br />
Давайте у него же спросим:<br />
&laquo;Cемью четыре?&raquo; &ndash; ДВАДЦАТЬ ВОСЕМЬ!</p>

<p>Умножим семь на пять! Готово!<br />
Ответ знакомый &ndash; ТРИДЦАТЬ ПЯТЬ!<br />
Попросим тридцать три коровы<br />
Его погромче промычать!</p>

<p>Для всех пропел Валерий Сюткин,<br />
Что шестью семь &ndash; ответ простой,<br />
Проводит СОРОК ДВЕ минутки<br />
Он ежедневно над землей!</p>

<p>Хотите семь на семь умножить?<br />
Мы всем подсказку можем дать:<br />
Взгляните, &laquo;СОРОК ДЕВЯТЬ&raquo; можно<br />
Лишь раз в таблице повстречать!</p>

<p>А умножая семь на восемь,<br />
ПЯТЬДЕСЯТ ШЕСТЬ ответ дадим!<br />
Людей по городу развозит<br />
Автобус с номером таким!</p>

<p>Семь умножаем на девятку,<br />
Получится ШЕСТЬДЕСЯТ ТРИ.<br />
И с &laquo;семью десять&raquo; все в порядке,<br />
Здесь ровно СЕМЬДЕСЯТ, смотри!</p>

<p>А больше стихотворений, песен и рифм мы собрали на <a href="/poetry/">этой странице</a>.</p>

<h2 id="6">Задачи и ответы</h2>

<p>Вот примеры некоторых задач, которые можно встретить в контрольных и проверочных работах на умножение на 7. Такие задания можно встретить чаще всего во 2 и 3 классах, реже в 1 классе, а после 4 класса примеры даются обычно чуть сложнее.</p>

<h3>Задача про сомов</h3>

<p>У сома 2 уса. Сколько усов у 7 сомов?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 7 &times; 2 = 14 усов.</p>

<h3>Задача про тетради</h3>

<p>Цена одной тетради 7 рублей. Сколько стоят 9 таких тетрадей?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 7 &times; 9 = 63 рубля.</p>

<h3>Задача про розы</h3>

<p>В 7 вазах по 3 розы. Сколько роз в этих вазах?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 7 &times; 3 = 21 роза.</p>

<h2>Как делить на семь</h2>

<p>И если вы знаете таблицу умножения на 7, то вам будет гораздо проще научиться делить на это же число.</p>

<p>Например, если 4 &times; 7 = 28, то</p>

<ul>
	<li>28 : 7 = 4, где 28 - делимое,&nbsp; 7 &ndash; делитель, 4 &ndash; частное.</li>
	<li>28 : 4 = 7, где 28 - делимое, 4 &ndash; делитель, 7 &ndash; частное.</li>
</ul>

<p>И ещё пример, если 7 &times; 6&nbsp; = 42, то</p>

<ul>
	<li>42 : 7 = 7, где 42 - делимое,&nbsp; 7 &ndash; делитель, 7 &ndash; частное.</li>
	<li>42 : 7 = 7, где 42 - делимое, 7 &ndash; делитель, 7 &ndash; частное.</li>
</ul>

<p>Теперь попробуйте сами:</p>

<p>Сколько будет 49 : 7?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 7, так как 7 &times; 7 = 49</p>

<p>А сколько будет 56 : 7?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 8, так как 7 &times; 8 = 56</p>

<h2 id="7">Презентация урока</h2>

<p>Чтобы сделать презентацию по умножению на 7, то мы подготовили вам слайды в power point на нейтральном фоне, которые вы можете использовать бесплатно.</p>

<ul>
	<li>На I слайде показана вся часть таблицы умножения на 7.</li>
	<li>На II слайде даны примеры.</li>
	<li>На III слайде перечислены свойства умножения на множитель.</li>
</ul>

<p>Скачать слайды и добавить в свою презентацию вы можете по этой ссылке:</p>

<p><a href="/images/present/7.pptx" class="btn whitebtn" target="_blank" download>Скачать презентацию<span class="material-symbols-rounded">download</span></a></p>

<h2 id="8">Конспект темы</h2>

<p>И давайте подведём итог уроку небольшим конспектом.</p>

<p>Таблица умножения на 7 выглядит так:</p>

<img src="/images/factor/7.png" alt="Умножение на 7">

<p>Умножение на 7 любого натурального числа &ndash; это то же самое, что просуммировать 7 раз это число или, наоборот, натуральное число раз сложить 7.</p>

<p>Например, 3 &times; 7 = 7 + 7 + 7 = 3 + 3 + 3 + 3 + 3 + 3 + 3 = 21.</p>

<p>При умножении на число 7 полезно знать следующие свойства:</p>

<ul>
	<li>Переместительное свойство: 3 &times; 7 = 7 &times; 3.</li>
	<li>Сочетательное свойство: 7 &times; 4 = (7 &times; 2) &times; 2.</li>
</ul>

<p>А статьи про другие множители доступны по ссылкам:</p>

<ul>
	<li><a href="/factor/0/">Умножение на 0</a></li>
	<li><a href="/factor/1/">Умножение на 1</a></li>
	<li><a href="/factor/2/">Умножение на 2</a></li>
	<li><a href="/factor/3/">Умножение на 3</a></li>
	<li><a href="/factor/4/">Умножение на 4</a></li>
	<li><a href="/factor/5/">Умножение на 5</a></li>
	<li><a href="/factor/6/">Умножение на 6</a></li>
	<li><a href="/factor/7/">Умножение на 7</a></li>
	<li><a href="/factor/8/">Умножение на 8</a></li>
	<li><a href="/factor/9/">Умножение на 9</a></li>
	<li><a href="/factor/10/">Умножение на 10</a></li>
	<li><a href="/factor/11/">Умножение на 11</a></li>
	<li><a href="/factor/12/">Умножение на 12</a></li>
	<li><a href="/factor/20-30-100/">Умножение до 20, 30 и 100</a></li>
</ul>






</Layout_article>
