---
import Layout_article from '../../layouts/Layout_article.astro'
import Calculator from '../../components/timestrainer'
import MultiplicationTable from '../../components/table'
---

<Layout_article
title="Умножение на 9"
h1="Умножение на 9"
description="Умножать на девять не трудно, главное знать несколько приёмов и потренироваться на примерах, карточках или тренажёре."
keywords="умножение на 9, умножение и деление на 9, девять, число, 2 класс, 3 класс, 4 класс, примеры, карточки, распечатать, таблица умножения, табличное умножение, тренажер, контрольная работа, тест, задачи, выполните умножение, с ответами, проверочная, презентация, конспект, урок, тема, свойства умножения, timestable, математика, распределительное, сочетательное, переместительное свойства"
url="9"
section="Множители"
section_url="factor"

>

<MultiplicationTable client:load yellowString="9" redCells={[[0,0]]}/>

<p><strong>Содержание:</strong></p>

<p>Многие считают этот столбец самым сложным. Однако это совсем не так, если вы учили все предыдущие множители, тогда вам будет очень просто. Кроме того, есть отличный лайфхак умножения на пальцах.</p>

<ul>
	<li><a href="#1">Примеры</a></li>
	<li><a href="#2">Свойства</a></li>
	<li><a href="#3">Тренажёр</a></li>
	<li><a href="#4">Карточки</a></li>
	<li><a href="#5">Стихи</a></li>
	<li><a href="#6">Задачи</a></li>
	<li><a href="#7">Презентация темы</a></li>
	<li><a href="#8">Конспект урока</a></li>
</ul>

<h2 id="1">Примеры умножения чисел на 9</h2>

<p>Чтобы умножить 9 на любое натуральное число нужно 9 сложить это число раз. То есть:</p>

<p class="formula">9 &times; 3 = 9 + 9 + 9</p>

<p>Например, мы хотим задать 3 людям по 9 карандашей. Сколько нам нужно всего карандашей, чтобы хватило всем и лишних не осталось? Для этого нужно сложить 9 три раза или, как мы уже поняли, 9 &times; 3. В итоге нам нужно 27 карандашей на всех.</p>

<p>Или ещё пример, у одного стула 4 ножки.&nbsp;Сколько всего ножек&nbsp;у 9 стульев? Попробуйте найти ответ самостоятельно в таблице умножения:</p>

<MultiplicationTable client:load yellowString="" redCells={[[0,0]]}/>

<p class="btnopen">Узнать правильный ответ</p>

<div class="blockopen">
	<p><b>Правильный ответ:</b> 9 &times; 4 = 36</p>
	<MultiplicationTable client:load yellowString="" redCells={[[9,4]]}/>
</div>






<h2 id="2">Свойства и правила</h2>

<p>Запоминая примеры таблицы умножения на девять, удобно знать следующие свойства, техники и приёмы, которые помогут умножать быстрее и постараться найти ответ, даже если вы его не знаете.</p>

<ul>
	<li>Сочетательный закон умножения: чтобы произведение двух чисел умножить на третье число, можно первое число умножить на произведение второго и третьего. Например, 9 &times; 4 &ndash; это тоже самое, что 9 &times; 2 = 18, а потом (9 &times; 2) &times; 2.</li>
	<li>Переместительный закон умножения:&nbsp;от перестановки множителей произведение не изменяется. К примерe, если нам уже известно сколько будет 3 &times; 9, то 9 &times; 3 &ndash; это будет тем же самым.</li>
</ul>

<h3>Умножение на 9 на пальцах</h3>

<p>А также умножать на девять удобно на пальцах. Выставите перед собой 2 свои ладони и запомните обозначения пальцев, как показано на рисунке:</p>

<p><img src="/types/images/15.jpg" alt="Умножение на пальцах"/></p>

<p>Чтобы умножить 9 на 7, загните палец №7. Количество пальцев слева обозначает десятки, а справа &ndash; единицы. Вы загнули палец №7, и у вас слева осталось шесть пальцев, а справа &ndash; три. В итоге вы получаете 63:</p>

<p><img src="/images/factor/fingers.jpg" alt="Умножаем на пальцах 7 на 9"/></p>

<p>А если вы хотите, например, посчитать 9 х 3, согните палец №3, и тогда слева от него останется два пальца, справа &ndash; семь. В итоге вы получаете 27. Сгибайте пальцы дальше, и проверяйте, сколько получается.</p>

<h2 id="3">Тренажёр для запоминания</h2>

<Calculator client:load initialLang='ru' defaultMultipliers={[9]} defaultStart={1} defaultEnd={10} />

<p>Чтобы потренироваться в умножении на 9, вы можете использовать специальный тренажёр. Просто дайте его ребёнку, чтобы он позанимался и объясните простые правила.</p>

<ul>
	<li>Ученику нужно посмотреть на пример, выбрать правильный ответ из 4 вариантов и нажать на этот ответ.</li>
	<li>Если ответ правильный, он загорится зелёным, а если нет &ndash; красным цветом, а зеленым подсветится тот, что был верным.</li>
	<li>После этого нужно нажать на кнопку &laquo;Дальше&raquo;.</li>
	<li>Всего за 1 раунд нужно решить 5 примеров, но потом можно пройти повторно новые примеры с тем же множителем, нажав на кнопку &laquo;Ещё раз&raquo;.</li>
</ul>

<p>Также в левом верхнем углу тренажёра можно выбрать и другие множители для тренировки.</p>

<h2 id="4">Карточки умножения на 9</h2>

<p><a href="/images/print/allcards.pdf" download><img src="/images/factor/9print.jpg" alt="Карточки таблицы умножения на 9"></a></p>

<p>Чтобы выучить таблицу умножения на девять (и не только) есть специальная техника повторения, которая называется системой Лейтнера или флэш-карточками, на которых записывается информация для запоминания. Делается это так:</p>

<ul>
	<li>Вы делаете карточки, на каждой из которых с одной стороны написан или напечатан пример, а с другой &ndash; ответ.</li>
	<li>Все карточки берутся примерами наверх (так, чтобы ответ не был виден).</li>
	<li>Далее ученик достаёт по одной карточке и пытается ответить правильно на пример. После ответа проверяет себя, переворачивая карточку.</li>
	<li>Если ответ правильный, то карточка откладывается во вторую стопку, если неправильно &ndash; то кладётся в первую стопку.</li>
	<li>Карточки из первой стопки должны повторяться каждый день или даже несколько раз в день, а из второй стопки, например раз в 2 дня.</li>
	<li>Если ученик отвечает правильно, то карточка всегда перекладывается в стопку с более редкими повторениями.</li>
	<li>Стопок может быть 2, 3 или даже 4. Например, первая стопка &ndash; повторения 2 раза в день, вторая &ndash; 1 раз в день, третья &ndash; 1 раз в 2 дня четвёртая &ndash; раз в неделю.</li>
</ul>

<p>Карточки могут быть обычными бумажными либо электронными.</p>

<h3>Распечатать карточки самому</h3>

<p>Чтобы распечатать карточки для изучения таблицы умножения на 9 сделайте следующие действия.</p>

<ul>
	<li><a href="/images/print/allcards.pdf" download>Скачайте файл</a> в формате *.pdf.</li>
	<li>Откройте скачанный файл и нажмите &laquo;Печать&raquo; или комбинацию клавиш ctrl+p для windows или cmd+p для mac.</li>
	<li>Вы можете напечатать всю таблицу или выбрать конкретный лист с множителем. Номер листа соответствует самому множителю.</li>
	<li>После нужно вырезать карточки и при желании написать на обратной стороне правильный ответ.</li>
</ul>

<p>Но даже если у вас под рукой нет принтера &ndash; не переживайте, такие карточки можно сделать своими руками. Просто вырежете одинаковые по размеру листочки бумаги, и вместе с ребенком напишите примеры на одной стороне и ответы на них &ndash; на оборотной. Будет даже лучше, если ребенок будет сам всё писать &ndash; это тоже элемент заучивания и тренировки, когда работают дополнительные механизмы запоминания.</p>

<h2 id="5">Стихи</h2>

<p>Если умножение на 2 или какие-то конкретные примеры даются сложно, попробуйте использовать стихотворения. Рифма &ndash; это своеобразный мнемонический приём. Вспомните, старую песню, которую вы наверняка слышали и не раз в школе: &laquo;дважды два - &hellip;, это всем известно в целом мире&raquo;. Ответ приходит в голову мгновенно. Именно так работает эта мнемотехника.</p>

<p>Поэтому трудные случаи нелишним будет закрепить стихами. Например следующим стихотворением Марины Казариной.</p>

<p>Умножим девять на один,<br />
Историю страны листая,<br />
Пусть помнит каждый гражданин<br />
О славном дне &ndash; ДЕВЯТОМ мая!</p>

<p>Умножить девять на два просто,<br />
А чтоб не забывать ответ,<br />
Запомни: твой &laquo;гражданский&raquo; возраст<br />
Начнется в ВОСЕМНАДЦАТЬ лет!</p>

<p>&laquo;Девятка на три&raquo;, вслух считаем,<br />
Здесь ДВАДЦАТЬ СЕМЬ &ndash; решенье есть!<br />
А на четыре умножаем &ndash;<br />
Получим ровно ТРИДЦАТЬ ШЕСТЬ!</p>

<p>Совсем не сложно научиться<br />
На пять девятку умножать!<br />
Должно в итоге получиться<br />
Произведенье СОРОК ПЯТЬ!</p>

<p>А чтоб на шесть умножить девять,<br />
Нам ничего не нужно делать!<br />
Мы с вами это проходили,<br />
В ответе &ndash; ПЯТЬДЕСЯТ ЧЕТЫРЕ!</p>

<p>А вот и умница Мальвина<br />
Прилежно учит Буратино,<br />
И говорит ему: &laquo;Смотри,<br />
Девятью семь &ndash; ШЕСТЬДЕСЯТ ТРИ&raquo;!</p>

<p>Девятью восемь &ndash; вот задача,<br />
Давай, работай, голова!<br />
Но нас не подвела удача,<br />
Даем ответ &ndash; СЕМЬДЕСЯТ ДВА!</p>

<p>На девять девять умножаем,<br />
Ответ в таблице проверяем,<br />
А равен, судя по всему,<br />
Он ВОСЕМЬДЕСЯТ ОДНОМУ!</p>

<p>Пример последний остается,<br />
И он нам сразу поддается!<br />
Девятью десять &ndash; это просто!<br />
В ответе &ndash; ровно ДЕВЯНОСТО!</p>

<p>А больше стихотворений, песен и рифм мы собрали на <a href="/poetry/">этой странице</a>.</p>

<h2 id="6">Задачи и ответы для усвоения</h2>

<p>Вот примеры некоторых задач, которые можно встретить в контрольных и проверочных работах на умножение на 9. Такие задания можно встретить чаще всего во 2 и 3 классах, реже в 1 классе, а после 4 класса примеры даются обычно чуть сложнее.</p>

<h3>Задача про места в вагоне</h3>

<p>В вагоне 9 купе по 4 места в каждом. Сколько мест в вагоне?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 9 &times; 4 = 36 мест.</p>

<h3>Задача про конверты</h3>

<p>В 6 конвертах по 9 купюр. Сколько всего купюр в этих конвертах?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 9 &times; 6 = 54 купюры.</p>

<h3>Задача про игрушки</h3>

<p>Купили 9 коробок ёлочных игрушек по 9 игрушек в каждой. Сколько ёлочных игрушек купили?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Ответ: 9 &times; 9 = 81 игрушки, хватит на целую ёлку.</p>

<h2>Деление на 9</h2>

<p>Если освоить таблицу умножения на 9, то будет нетрудно научиться делить на это число.</p>

<p>Например, если 4 &times; 9 = 36, то</p>

<ul>
	<li>36 : 9 = 4, где 36 - делимое,&nbsp; 9 &ndash; делитель, 4 &ndash; частное.</li>
	<li>36 : 4 = 9, где 36 - делимое, 4 &ndash; делитель, 9 &ndash; частное.</li>
</ul>

<p>Вот ещё пример, если 7 &times; 9&nbsp; = 63, то</p>

<ul>
	<li>63 : 9 = 7, где 63 - делимое,&nbsp; 9 &ndash; делитель, 7 &ndash; частное.</li>
	<li>63 : 7 = 9, где 63 - делимое, 7 &ndash; делитель, 9 &ndash; частное.</li>
</ul>

<p>Теперь пусть ученик попробует самостоятельно:</p>

<p>Сколько будет 72 : 9?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 8, так как 9 &times; 8 = 72</p>

<p>А сколько будет 45 : 9?</p>

<p class="btnopen">Узнать ответ</p>

<p class="blockopen">Правильный ответ: 5, так как 9 &times; 5 = 45</p>

<h2 id="7">Презентация</h2>

<p>Если вам надо сделать презентацию по умножению на 9, то мы подготовили вам слайды в power point на нейтральном фоне, которые вы можете использовать абсолютно бесплатно.</p>

<ul>
	<li>На 1 слайде показана вся часть таблицы умножения на 9.</li>
	<li>На 2 слайде даны примеры.</li>
	<li>На 3 слайде перечислены свойства умножения на множитель.</li>
</ul>

<p>Скачать слайды и добавить в свою презентацию вы можете по этой ссылке:</p>

<p><a href="/images/present/9.pptx" class="btn whitebtn" target="_blank" download>Скачать презентацию<span class="material-symbols-rounded">download</span></a></p>

<h2 id="8">Конспект</h2>

<p>И давайте подведём итог уроку небольшим конспектом.</p>

<p>Таблица умножения на 9 выглядит так:</p>

<img src="/images/factor/9.png" alt="Умножение на 9">

<p>Умножение на 9 любого натурального числа &ndash; это то же самое, что просуммировать 9 раз это число или, наоборот, натуральное число раз сложить 9.</p>

<p>Например, 3 &times; 9 = 9 + 9 + 9 = 3 + 3 + 3 + 3 + 3 + 3 + 3 + 3 + 3 = 27.</p>

<p>Умножая на 9 полезно знать следующие свойства:</p>

<ul>
	<li>Переместительное свойство: 3 &times; 9 = 9 &times; 3.</li>
	<li>Сочетательное свойство: 9 &times; 4 = (9 &times; 2) &times; 2.</li>
</ul>

<p>А вот статьи про остальные множители таблицы умножения:</p>

<ul>
	<li><a href="/factor/0/">Умножение на 0</a></li>
	<li><a href="/factor/1/">Умножение на 1</a></li>
	<li><a href="/factor/2/">Умножение на 2</a></li>
	<li><a href="/factor/3/">Умножение на 3</a></li>
	<li><a href="/factor/4/">Умножение на 4</a></li>
	<li><a href="/factor/5/">Умножение на 5</a></li>
	<li><a href="/factor/6/">Умножение на 6</a></li>
	<li><a href="/factor/7/">Умножение на 7</a></li>
	<li><a href="/factor/8/">Умножение на 8</a></li>
	<li><a href="/factor/9/">Умножение на 9</a></li>
	<li><a href="/factor/10/">Умножение на 10</a></li>
	<li><a href="/factor/11/">Умножение на 11</a></li>
	<li><a href="/factor/12/">Умножение на 12</a></li>
	<li><a href="/factor/20-30-100/">Умножение до 20, 30 и 100</a></li>
</ul>

</Layout_article>
