---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Контакты timestable.ru"
h1="Контакты timestable.ru"
description="Для связи пишите на почту, в соцсети или мессенджеры."
keywords="Контакты timestable.ru"
section="Контакты"
section_url="contact"
>

<p itemprop="description">Для связи пишите на почту, в соцсети или мессенджеры.</p>	
<ul>
	<li><a href="mailto:evgeny@buyanoff.com">evgeny@buyanoff.com</a></li>
	<li><a href="https://vk.com/timestable">Вконтакте</a></li>
	<li><a href="https://t.me/timestable_ru">Телеграм</a></li>
	<li><a href="https://ok.ru/group/70000001528389">Одноклассники</a></li>
</ul>

</Layout_article>
