---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Китайское умножение с линиями"
h1="Китайское умножение с линиями"
description="Метод из Китая предоставляет возможность умножать сложные числа друг на друга через пересечение линий."
keywords="Китайское умножение с линиями"
url="china"
section="Виды"
section_url="types"
img="china.jpg"
>


<h2>Умножение как в Китае</h2>

<p>Не одно столетие в каждом уголке мира появлялись свои особенные способы разных исчислений, которые не обошли стороной и умножение. Например, в самобытной культуре Китая развивались уникальные системы счета и письменности. В этих способах основой являлась визуализация, где один иероглиф позволял увидеть целую картину, имеющую множество самых разных смыслов.</p>

<p>Китайский метод позволяет умножить друг на друга сложные числа даже без применения таблицы умножения. Например, это могут быть двузначные и трехзначные числа. Основой этого способа умножения является начертание прямых линий и дальнейший подсчет их пересечений.</p>

<p>На листе изображается по разрядам первое число, где каждому разряду соответствует серия параллельных линий. Количество линий соответствует разрядной цифре - от 0 до 9.</p>

<p>Это не какая-то математическая магия, а обычные закономерности десятичной системы счисления. Такой метод очень похож на всем нам привычный еще со школьной скамьи &laquo;столбик&raquo;, поскольку он также опирается на десятичную систему.</p>

<img src="/images/types/china1.jpg" alt="Умножение в Китае по линиям">

<p>Давайте рассмотрим китайский принцип умножения по линиям на примере.</p>

<h2>Пример умножения 12 на 13</h2>

<p>Если нам необходимо определить произведение чисел 12 и 13, то, чтобы показать число 12, мы будем рисовать одну линию для десятков, а две линии &ndash; для единиц. Точно также поступаем и со вторым множителем 13, только здесь уже будем ставить линию горизонтально, таким образом, чтобы черты образовали между собой некую сетку.</p>

<p>Начинать рисовать линии нужно всегда только с десятков, а не с единиц, и направление линий при этом будет идти из верхнего левого угла в правый нижний.</p>

<img src="/images/types/china2.jpg" alt="Пример китайского умножения">

<p>Далее, нам необходимо определить пересечение всех этих линий.</p>

<img src="/images/types/china3.jpg" alt="Определить пересечение всех этих линий">

<p>После этого начинаем подсчитывать все пересечения, мысленно разделяя сетку на три части - правый нижний угол, диагональ и левый верхний угол.Точки в сумме будут здесь указывать на единицы, десятки и сотни.</p>

<p>Смотрим, если в левом верхнем углу находится всего одно пересечение, значит в ответе будет одна сотня.</p>

<p>Далее, по диагонали мы можем насчитать 2 + 3 = 5 пересечений. И это будет обозначением десятков.</p>

<p>И, в завершении, в нижнем левом углу мы видим 6 пересечений, что обозначает число единиц.</p>

<p>В итоге мы получаем ответ - 156.</p>

<img src="/images/types/china4.jpg" alt="В итоге мы получаем ответ - 156">

<p>А как поступить, когда, например, при подсчете точек окажется больше, чем 10 в каком-то одном из разрядов?</p>

<p>В Китайском способе умножения есть возможность перехода через десяток. Рассмотрим это на таком примере.</p>

<h3>Умножение 34 на 45</h3>

<p>Чтобы нам найти произведение 34 &times; 45, мы будем изображать линии и для десятков и для единиц в виде сетки для каждого множителя.</p>

<img src="/images/types/china5.jpg" alt="Умножение 34 на 45 по-китайски">

<p>Далее, нам необходимо определить места всех пересечений.</p>

<img src="/images/types/china6.jpg" alt="Рисуем линии для умножения">

<p>После этого нам нужно мысленно поделить сетку на секторы и найти сумму пересечений в каждом из них. Получилось 20 точек в нижнем правом углу, 31 точка - по диагонали и 8 точек - в верхнем левом углу.</p>

<img src="/images/types/china7.jpg" alt="Ищем точки">

<p>Здесь мы будем применять особенное правило, которое показывает, как избавиться от перехода через десяток. Начнем с единиц:</p>

<p>При 20 точках пересечения ноль будем оставлять в разряде единиц, а двойку &laquo;перебросим&raquo; к десяткам. У нас стало 31 + 2 = 33 десятка, при этом одна тройка находится в разряде десятков, а другую тройку мы опять &laquo;перебрасываем&raquo;, только теперь уже к сотням.</p>

<p>В самом последнем разряде у нас получилось 12 пересечений и плюс ещё 3. Итого в сумме вышло 15.</p>

<p>Таким образом, ответ состоит из 15 сотен (то есть, полутора тысяч), трех десятков и 0 единиц.</p>

<p>Результат этого действия - 1530.</p>

<img src="/images/types/china8.jpg" alt="Результат этого действия - 1530">

<p>Данные методы применяются также и к большим числам. Нужно запомнить, что каждому разряду будет соответствовать свой набор линий.</p>

<p>К примеру, чтобы умножить трехзначное число на трехзначное число, нужно, чтобы три набора линий пересекли другие три набора линий, то есть, в итоге должно получиться девять пересекающихся участков.</p>

<p>Китайцы умножают такие примеры без использования калькуляторов. При помощи таких методов можно решать практически любые примеры.</p>



</Layout_article>
