---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Умножение в столбик"
h1="Умножение в столбик"
description="Порой требуется решать большие и сложные арифметические примеры, когда под рукой нет калькулятора. И в таких случаях обязательно нужно уметь умножать в столбик."
keywords="умножение в столбик, правила, алгоритм, математика, начальная школа"
url="column"
section="Виды"
section_url="types"
img="column.jpg"
>

<style  is:inline>
img[src*="png"]{max-height:200px;}

</style>

<h2>Зачем уметь умножать в столбик?</h2>

<p class="opredelenie"><strong>Умножение столбиком</strong> &ndash; это метод умножения чисел, в котором числа разбиваются на столбцы, выполняются отдельные умножения каждого столбца, а затем складываются результаты.</p>

<p>Обычно этот метод преподается школьникам в качестве метода простого умножения больших чисел и часто используется в образовательных целях для укрепления основ арифметики.</p>

<p>Однако эта техника также используется людьми, которые предпочитают выполнять вычисления вручную, например, бухгалтерами, финансистами и прочими специалистами, чья деятельность связана с вычислениями.</p>

<p>Кроме того, умножение столбиком может быть полезным инструментом для проверки точности вычислений, выполненных другим человеком или даже компьютером или калькулятором.</p>

<p>Метод прост в понимании и выполнении, что делает его полезным для людей всех возрастов и уровней образования.</p>

<h2>Основные понятия</h2>

<p>Как известно, в любой стране мира принято оперировать для записи чисел цифрами от 0 до 9. Именно с помощью них можно создать любое натуральное число.</p>

<p>Названия чисел зависят от количества знаков. Так, числа бывают:</p>

<ul>
	<li><strong>Однозначными</strong> &ndash; состоящими из одного знака.</li>
	<li><strong>Двузначными</strong> &ndash; состоящими из двух знаков.</li>
	<li><strong>Трехзначными</strong> &ndash; состоящими из трех знаков.</li>
</ul>

<p>Также существует понятие разряда. Разрядом называют позицию, на которой стоит цифра при записи. Обычно разряд отсчитывается с конца.</p>

<p>Разряды есть двух видов:</p>

<ul>
	<li>Разряд единиц &ndash; то, чем заканчивается какое бы то ни было число.</li>
	<li>Разряд десятков &ndash; то, что расположено перед разрядом единиц.</li>
	<li>Разряд сотен &ndash; то, что расположено перед разрядом десятков.</li>
</ul>

<p>Важно запомнить, что, если разряд отсутствует, на его место можно ставить ноль. К примеру, в числе 523 содержится 0 тысяч, 5 сотен, 2 десятка и 3 единицы.</p>

<p>Что же касается непосредственно умножения, то оно обозначает арифметическую операцию, в которой принимают участие два аргумента, называемых множителями. В результате их умножения мы получаем произведение. И перед тем, как говорить об умножении в столбик, необходимо познакомиться со <a href="/study/prop/">свойствами умножения</a>.</p>

<h2>Свойства умножения</h2>

<p>Самое главное, что нужно запомнить, следующее:</p>

<ul>
	<li>Если переставить множители местами, произведение не изменится, т.е. a &times; b = b &times; a.</li>
	<li>Если умножаются три и более множителей, результат их произведения останется неизменным, если любую группу заменить произведением, т.е. a &times; b &times; c = (a &times; b) &times; c = a &times; (b &times; c).</li>
	<li>При <a href="/factor/0/">умножении в столбик с нулями</a> в результате всегда будет получаться ноль, т.е. а &times; 0 = 0 (а &ndash; это любое натуральное число).</li>
</ul>

<p>При этом в процессе любых вычислений самое главное &ndash; это знать таблицу умножения, благодаря чему подсчеты будут быстрыми и упорядоченными. Далее остается только применять алгоритм.</p>

<h2>Алгоритм умножения в столбик</h2>

<iframe src='https://ecalc.ru/mult/page/' style='margin:20px 0;height:500px;width:100%;max-width:800px;border:none;'></iframe>

<p>Освоить умножение в столбик очень просто &ndash; для этого нужно лишь запомнить несколько шагов, а именно:</p>

<ol>
	<li>Запишите пример в строку, а затем найдите и подчеркните наименьшее из двух чисел. После записи в столбик это число должно стоять снизу.</li>
	<li>Запишите произведение в виде столбика. Первым записывайте больший множитель, а вторым &ndash; меньший (тот, который вы подчеркнули на предыдущем шаге). Слева от множителей поставьте знак умножения &laquo;х&raquo; и проведите черту, по которой будете записывать решение. Обращайте особое внимание на разряды: единицы должны стоять под единицами, десятки &ndash; под десятками и т.д.</li>
	<li>По порядку выполните нужные действия: каждая цифра первого множителя должна быть умножена на крайнюю цифру второго. Расчеты производите справа налево, т.е. сначала единицы, потом десятки, потом сотни. В случае, если результат получается двузначным, запишите под чертой только его последнюю цифру, а остальное перенесите в следующий разряд, складывая его с тем, что получите при следующем умножении.</li>
	<li>Когда умножите на единицу второй множитель, выполните те же самые операции с остальными цифрами. Запишите результаты под чертой, сдвигаясь на одну позицию влево.</li>
	<li>Сложите то, что получилось, и запишите ответ.</li>
</ol>

<p>Чтобы алгоритм был более понятен, посмотрите на следующий пример:</p>

<p><img src="/images/types/column/1.jpg" alt="Алгоритм умножения в столбик"/></p>

<p>Теперь можно переходить к разным вариантам умножения.</p>

<h2>Умножение в столбик на однозначное число</h2>

<p>Чтобы вычислить, к примеру, значение выражения 242 х 2, запишите <a href="/factor/">множители</a> в столбик. Сначала запишите первый множитель:</p>

<p><img src="/images/types/column/2.png" alt="выражения 242 х 2"/></p>

<p>Далее запишите второй множитель под единицами первого:</p>

<p><img src="/images/types/column/3.png" alt="запишите второй множитель под единицами первого"/></p>

<p>Теперь слева поставьте знак умножения &laquo;х&raquo; и подведите черту внизу:</p>

<p><img src="/images/types/column/4.png" alt="подведите черту внизу"/></p>

<p>Начинайте умножать с единиц. При этом можете рассуждать так: 3 единицы умножаем на 2 и получаем 6 единиц. Пишем под единицами 6. 4 десятка умножаем на 2 и получаем 8 десятков. Пишем под десятками 8. 2 сотни умножаем на 2 и получаем 4 сотни. Получаем ответ 486:</p>

<p><img src="/images/types/column/5.png" alt="Получаем ответ 486"/></p>

<p>Таким образом, общая схема умножения в столбик на однозначное число будет такова:</p>

<ol>
	<li>Записываете первый множитель.</li>
	<li>Записываете второй множитель под единицами первого.</li>
	<li>Пишете знак &laquo;х&raquo; и проводите внизу черту.</li>
	<li>Умножаете единицы.</li>
	<li>Умножаете десятки.</li>
	<li>Умножаете сотни.</li>
	<li>Умножаете по порядку следующие разряды.</li>
	<li>Получаете ответ.</li>
</ol>

<p>Иногда при умножении столбиком встречается переход через разряд. Давайте, к примеру, вычислим произведение чисел 3912 и 6.</p>

<p>Здесь пример решается следующим образом:</p>

<ul>
	<li>Пишете первый множитель 3912, а под его единицами пишете второй множитель 6.</li>
	<li>Слева ставите знак &laquo;х&raquo; и проводите внизу черту.</li>
	<li>Умножаете 2 единицы на 6 и получаете 12 единиц. В этом числе есть 1 десяток и 2 единицы.</li>
	<li>Пишете 2 под единицами и запоминаете 1 десяток, который прибавите к десяткам, которые получите после их умножения. Десяток можно забыть, поэтому напишите 1 над десятками второго множителя.</li>
	<li>Умножаете 1 десяток на 6 и получаете 6 десятков. Прибавляете к ним еще 1 десяток, который запомнили, и получаете 7 десятков. Под десятками записываете 7.</li>
	<li>Умножаете 9 сотен на 6 и получаете 54 сотни, которые можно представить, как 5 единиц тысяч и 4 сотни.</li>
	<li>Пишете 4 под сотнями и запоминаете 5 единиц тысяч, чтобы прибавить их к тысячам, полученным после их умножения. Их можно забыть, поэтому напишите 5 над единицами тысяч первого множителя.</li>
	<li>Умножаете 3 тысячи на 6 и получаете 18 тысяч, к которым прибавляете 5 единиц тысяч, которые запомнили, и получаете 23 тысячи.</li>
	<li>Записываете все под строкой и получаете ответ 23&nbsp;472.</li>
</ul>

<p>Если рассуждать кратко, то алгоритм будет таков:</p>

<ol>
	<li>2 умножить на 6 будет 12. 2 пишете и 1 запоминаете.</li>
	<li>1 умножить на 6 будет 6. Прибавляете 1 и получаете 7.</li>
	<li>9 умножить на 6 будет 54. Пишете 4 и запоминаете 5.</li>
	<li>3 умножить на 6 будет 18. Прибавляете 5 и получаете 23.</li>
	<li>Получаете ответ 23&nbsp;472.</li>
</ol>

<p>Чтобы было понятнее, что к чему, посмотрите на пример:</p>

<p><img src="/images/types/column/6.png" alt="посмотрите на пример"/></p>

<p>В случае, если на однозначное число умножаются числа, которые оканчиваются на один или несколько нулей, запись будет происходить иначе: запищите второй множитель под первой цифрой справа, которая отличается от нуля.</p>

<p>Допустим, вы умножаете 365400 на 3:</p>

<p><img src="/images/types/column/7.png" alt="умножаете 365400 на 3"/></p>

<p>Теперь произведите умножение точно так же, как делали это раньше:</p>

<p><img src="/images/types/column/8.png" alt="произведите умножение"/></p>

<p>И в конце допишите к результату нули в количестве, оставшемся в первом множителе справа:</p>

<p><img src="/images/types/column/9.png" alt="конце допишите к результату нули"/></p>

<p>Теперь нужно разобраться, как умножать в столбик на двузначное число.</p>

<h2>Умножение в столбик на двузначное число</h2>

<p>Представим, что нам нужно умножить 4235 на 86. Для этого сначала записываем первый множитель:</p>

<p><img src="/images/types/column/10.png" alt="умножить 4235 на 86"/></p>

<p>Теперь записываем второй множитель так, чтобы единицы второго множителя оказались под единицами первого, а десятки второго &ndash; под десятками первого:</p>

<p><img src="/images/types/column/11.png" alt="записываем второй множитель"/></p>

<p>Далее ставим знак &laquo;х&raquo; и подводим черту:</p>

<p><img src="/images/types/column/12.png" alt="подводим черту"/></p>

<p>Начинаем умножать. Сначала умножаем 4235 на 6 и получаем 25410:</p>

<p><img src="/images/types/column/13.png" alt="умножаем 4235 на 6"/></p>

<p>Затем умножаем 4235 на 8 десятков и получаем 33880. Это число записываем под первым и ставим вместо знака &laquo;х&raquo; знак &laquo;+&raquo;:</p>

<p><img src="/images/types/column/14.png" alt="умножаем 4235 на 8 десятков"/></p>

<p>После сложения получаем 364210:</p>

<p><img src="/images/types/column/15.png" alt="получаем 364210"/></p>

<p>Таким образом, получаем простой алгоритм умножения столбиком на двузначное число:</p>

<ol>
	<li>Записываете первый множитель.</li>
	<li>Записываете второй множитель, чтобы его единицы оказались под единицами первого, а десятки &ndash; под десятками.</li>
	<li>Ставите знак &laquo;х&raquo; и подводите внизу черту.</li>
	<li>Умножаете первый множитель на единицы второго. Результат записываете под чертой.</li>
	<li>Умножаете первый множитель на десятки второго. Результат записываете под предыдущим результатом. Слева ставите знак &laquo;+&raquo;.</li>
	<li>Складываете полученные числа.</li>
	<li>Получаете ответ.</li>
</ol>

<p>В случае, когда второй множитель оканчивается на ноль, запись производится иначе: второй множитель нужно записать так, чтобы цифра, отличная от нуля, оказалась под единицами второго множителя.</p>

<p>К примеру, вам надо умножить 937 на 50. Сначала записываете так:</p>

<p><img src="/images/types/column/16.png" alt="умножить 937 на 50"/></p>

<p>Далее 937 умножаете на 5:</p>

<p><img src="/images/types/column/17.png" alt="937 умножаете на 5"/></p>

<p>После этого к полученному результату дописываете столько нулей, сколько их оказалось справа во втором множителе:</p>

<p><img src="/images/types/column/18.png" alt="После этого к полученному результату дописываете столько нулей, сколько их оказалось справа во втором множителе"/></p>

<p>Когда оба множителя заканчиваются нулями, запись снова делается иначе: два множителя нужно записать, чтобы крайние справа цифры, отличные от нуля, оказались друг под другом.</p>

<p>Допустим, вам требуется умножить 72400 на 30. Сначала записываете так:</p>

<p><img src="/images/types/column/19.png" alt="требуется умножить 72400 на 30"/></p>

<p>Выполните умножение, не беря нули во внимание:</p>

<p><img src="/images/types/column/20.png" alt="Выполните умножение, не беря нули во внимание"/></p>

<p>После этого запишите в ответ столько нулей, сколько их оказалось справа в обоих множителях:</p>

<p><img src="/images/types/column/21.png" alt="После этого запишите в ответ столько нулей"/></p>

<p>И, наконец, осталось узнать, как умножать столбиком на трехзначное число.</p>

<h2>Умножение в столбик на трехзначное число</h2>

<p>Предположим, что вам нужно перемножить 1854 на 237. На первом шаге запищите произведение по уже знакомым вам правилам:</p>

<p><img src="/images/types/column/22.png" alt="перемножить 1854 на 237"/></p>

<p>Теперь умножьте 1854 на 7, и получите 12978. Запишите результат под чертой:</p>

<p><img src="/images/types/column/23.png" alt="Теперь умножьте 1854 на 7"/></p>

<p>Далее умножьте 1854 на 3 десятка, и получите 5562. Запишите результат под десятками и поставьте слева знак &laquo;+&raquo;:</p>

<p><img src="/images/types/column/24.png" alt="Далее умножьте 1854 на 3 десятка"/></p>

<p>Далее умножьте 1854 на 2 сотни, и получите 3708. Запишите результат под сотнями и поставьте слева знак &laquo;+&raquo;:</p>

<p><img src="/images/types/column/25.png" alt="Далее умножьте 1854 на 2 сотни"/></p>

<p>Теперь сложите все, что у вас получилось, чтобы получить итоговый ответ:</p>

<p><img src="/images/types/column/26.png" alt="Теперь сложите все, что у вас получилось"/></p>

<p>В итоге общий алгоритм умножения в столбик на трехзначное число будет таков:</p>

<ol>
	<li>Записываете первый множитель.</li>
	<li>Записываете второй множитель так, чтобы его единицы, десятки и сотни оказались под единицами, десятками и сотнями первого соответственно.</li>
	<li>Ставите слева знак &laquo;х&raquo; и подводите внизу черту.</li>
	<li>Умножаете первый множитель на число единиц второго множителя.</li>
	<li>Умножаете первый множитель на число десятков второго множителя.</li>
	<li>Умножаете первый множитель на число сотен второго множителя.</li>
	<li>Складываете все, что у вас получилось.</li>
	<li>Получаете ответ.</li>
</ol>

<p>Когда второй или оба множителя заканчиваются на нули, умножать следует точно так же, как мы умножали столбиком на двузначное число. Однако, что делать, если в разряде десятков второго множителя стоит ноль?</p>

<p>Представим, что нам нужно перемножить 5634 и 206. Чтобы это сделать, сначала записываем цифры в столбик по тому же принципу, что и ранее:</p>

<p><img src="/images/types/column/27.png" alt="перемножить 5634 и 206"/></p>

<p>Теперь умножаем первый множитель на единицы второго:</p>

<p><img src="/images/types/column/28.png" alt="Теперь умножаем первый множитель"/></p>

<p>Учитывая, что отдельные десятки во втором множителе отсутствуют, умножаем первый множитель на сотни второго, а ответ записываем под сотнями:</p>

<p><img src="/images/types/column/29.png" alt="умножаем первый множитель на сотни второго"/></p>

<p>Далее складываем полученные результаты и получаем:</p>

<p><img src="/images/types/column/30.png" alt="Далее складываем полученные результаты"/></p>

<p>Думаем, вы заметили, что умножать в столбик действительно очень просто. Нужно лишь немного попрактиковаться и порешать побольше примеров. Так вы отточите данный навык и впоследствии сможете решать подобные примеры очень быстро.</p>


<div itemscope itemtype="http://schema.org/FAQPage">
<h2>❓Вопросы и ответы</h2>

<p>А также вот несколько ответов на часто задаваемые вопросы.</p>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Почему умножение называют повторным прибавлением?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Умножение представляет собой вариацию повторяющегося прибавления числа. Именно поэтому его называют повторным или многократным прибавлением, что зависит от того, на сколько нужно умножить первое число.</span></p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Почему нельзя умножать на ноль?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Умножать на ноль можно, но его особенность при умножении такова, что, если в примере фигурирует ноль как самостоятельное число, ответ всегда будет равен нулю.</span></p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Какие еще есть арифметические операции?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Кроме умножения есть еще несколько элементарных арифметических операций. Ими являются сложение, вычитание и деление.</span></p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Что такое множители?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Множителями называются умножаемые числа. А результат этого умножения называется произведением.</span></p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Таблица умножения и таблица Пифагора &ndash; это одно и то же?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Да, в обиходе приняты оба выражения: и таблица умножения, и таблица Пифагора. В виду имеется одно и то же.</span></p>

</div>
</div>


</Layout_article>
