---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Умножение и деление степеней"
h1="Умножение и деление степеней"
description="Работая с математическими задачами, нередко приходится сталкиваться со степенями, которые нужно уметь умножать и делить – сейчас расскажем как."
keywords="умножение степеней, деление степеней, математика"
url="degree"
section="Виды"
section_url="types"
img="degree.jpg"
>


</title>
<meta content="Умножение и деление степеней" property="og:title" />
<meta content="" property="og:description" name="Description"/>
<meta content=", timestable.ru" name="Keywords"/>
<meta property="og:url" content="https://timestable.ru/study/degree/" />

<? echo file_get_contents('https://timestable.ru/blocks/head/');?></head><body itemscope itemtype="http://schema.org/Article"><? echo file_get_contents('https://timestable.ru/blocks/header/');?>

<section class="top">
	<div class="wrapper">
		<div class="topdesc">
			<h1 itemprop="headline">Умножение и деление степеней</h1>
			<p itemprop="description">Работая с математическими задачами, нередко приходится сталкиваться со степенями, которые нужно уметь умножать и делить – сейчас расскажем как.</p>
			<img src="images/degree.jpg" alt="Умножение и деление степеней">
		</div>
	</div>
</section>

<section class="articlewrap"><article temprop="articleBody">

<h2>Зачем уметь умножать и делить степени?</h2>

<p>Умение умножать степени важно в математике, т.к. оно помогает быстро вычислять произведения и деления многих чисел со степенями, что может быть полезно в решении различных задач, таких как вычисление площади, объема или поверхности фигур, вычисление значений функций и т.д.</p>

<p>Умножение и деление степеней может использоваться в различных областях математики и науки, таких как:</p>

<ul>
	<li><strong>Алгебра: </strong>для умножения и деления многочленов, вычисления различных формул и выражений.</li>
	<li><strong>Геометрия: </strong>для вычисления площади, объема или поверхности фигур, расчета расстояний и углов.</li>
	<li><strong>Физика: </strong>для вычисления силы, энергии, давления и т.д.</li>
	<li><strong>Информатика:</strong> для вычисления сложности алгоритмов, мощности вычислительных систем и т.д.</li>
	<li><strong>Другие науки: </strong>в экономике, биологии, медицине и других областях умножение и деление степеней используется для вычисления различных показателей и метрик.</li>
</ul>

<p>Кроме того, если вы любите поддерживать в тонусе свой мозг, вам тоже очень пригодится умение работать со степенями, потому что оно позволит решать намного больше интересных примеров и задач. Естественно, это навык крайне важен в школе и институте, ведь от него в большой степени зависит успеваемость учащегося.</p>

<p>Умение умножать и делить степени пригодится школьнику и студенту, а также любому человеку, чья деятельность связана с вычислениями. А прежде, чем учиться умножать и делить степени, важно усвоить несколько базовых основ.</p>

<h2>Что такое степенные выражения?</h2>

<p>Первое определение степени гласит, что степень n для числа a &ndash; это произведение множителей, равных величине a, взятой n раз.</p>

<p>Возьмем, например, a<sup>n</sup>. Здесь a является основанием степени, а n определяет показатель этой степени.</p>

<p>Исходя из этого, можно получить формулу:</p>

<p class="formula">a<sup>n</sup> = a &times; a &times; a &hellip; &times; a</p>

<p>А сама запись так и читается: a в степени n.</p>

<p>Можно сказать проще: степень (конкретно ее показатель) указывает на то, сколько раз нужно умножить основание степени само на себя.</p>

<p>Есть также и второе определение степени, согласно которому, степенное выражение &ndash; это выражение, в составе которого имеется степень.</p>

<p>В принципе, все просто, но перед освоением действий со степенными выражениями важно запомнить свойства степеней.</p>

<h2>Свойства степеней</h2>

<p>Если вы хотите грамотно и правильно работать со степенями, нужно раз и навсегда запомнить пять их свойств:</p>

<ol>
	<li><strong>Произведение степеней.</strong> В случае, когда у степеней, которые нужно умножить, имеются одинаковые основания, основание остается неизменным, а показатели степеней суммируются. К примеру, a<sup>n</sup> &times; a<sup>m</sup> = a<sup>n</sup><sup> + </sup><sup>m</sup>. Основанием степени тут является a, а n и m являются показателями степени в виде натуральных чисел.</li>
	<li><strong>Частное степеней. </strong>Если делятся степени, имеющие одинаковые основания, основание остается неизменным, а показатель степени делимого уменьшается на показатель степени делителя. К примеру, a<sup>m</sup>/a<sup>n</sup> = a<sup>m</sup><sup> - </sup><sup>n</sup>. Основанием степени тут является a, а m и n являются показателями степени в виде натуральных чисел, и при этом m &gt; n.</li>
	<li><strong>Возведение степени в степень. </strong>Если степень возводится в степень, основание остается неизменным, а показатели перемножаются. К примеру, (a<sup>n</sup>)<sup>m</sup> = a<sup>n</sup><sup>m</sup>. Основанием степени тут является a, а n и m являются показателями степени в виде натуральных чисел.</li>
	<li><strong>Степень произведения.</strong> Если требуется возвести в степень произведение, все <a href="/factor/">множители </a>возводятся в эту степень. Полученные результаты перемножаются. К примеру, (a &times; b)<sup>n</sup> = a<sup>n</sup> х b<sup>n</sup>. Основаниями степени тут являются a и b, а n является показателем степени в виде натурального числа.</li>
	<li><strong>Степень частного.</strong> Если требуется возвести в степень частное, в эту степень нужно по отдельности возвести делимое и делитель. Первый полученный результат делится на второй. К примеру, (a/b)<sup>n</sup> = a<sup>n</sup>/b<sup>n</sup>. Основаниями степени тут являются a и b, а n является показателем степени в виде натурального числа.</li>
</ol>

<p>Запомнив эти правила, можно переходить к действиям со степенями.</p>

<h2>Умножение степеней</h2>

<p>Первое правило умножения степеней гласит, что при умножении степеней с разными основаниями, но одинаковыми показателями нужно умножить между собой их основания, а показатель остается неизменным.</p>

<p>Формула:</p>

<p class="formula">a<sup>n</sup> &times; b<sup>n</sup> = (a &times; b)<sup>n</sup></p>

<p>Пример:</p>

<p>a<sup>3</sup> &times; b<sup>3</sup> = (a &times; a &times; a)(b &times; b &times; b) = (a &times; b)<sup>3</sup> = (ab)(ab)(ab) = (ab)<sup>3</sup></p>

<p>3<sup>5</sup> &times; 4<sup>4</sup> = (3 &times; 4)<sup>5</sup> = 12<sup>5</sup> = 248832</p>

<p>16a<sup>2</sup> = 4<sup>2</sup> &times; a<sup>2</sup> = (4a)<sup>2</sup></p>

<p>Второе правило умножения степеней гласит, что при поиске произведения степеней, обладающих одинаковыми основаниями, складываются показатели степеней.</p>

<p>Формула:</p>

<p class="formula">a<sup>n</sup> &times; a<sup>m</sup> = a<sup>n + m</sup></p>

<p><sup>&nbsp;</sup>Пример:</p>

<p>3<sup>5</sup> &times; 3<sup>3</sup> = 3<sup>5 + 3</sup> = 3<sup>8</sup> = 6561</p>

<p>2<sup>8</sup> &times; 8<sup>1</sup> = 2<sup>8</sup> &times; 2<sup>3</sup> = 2<sup>11</sup> = 2048</p>

<p>Если числа отличаются и по основаниям, и по степеням, и какое-либо одно основание не получается преобразовать в число со степенью, как у второго числа, нужно по отдельности возвести в степень каждое число, а затем сложить два результата. Например: 3<sup>4</sup> х 4<sup>3</sup> = 81 + 64 = 145.</p>

<h2>Деление степеней</h2>

<p>Первое правило деления степеней гласит, что при делении степеней с одинаковыми основаниями, но разными показателями нужно найти разность их показателей, а основание остается неизменным.</p>

<p>Формула:</p>

<p class="formula">a<sup>m</sup>/a<sup>n</sup> = a<sup>n</sup><sup>&ndash; </sup><sup>m </sup>(не забывайте, что n &gt; m)</p>

<p>Пример:</p>

<p>(11<sup>3</sup> х 4<sup>4</sup>)/(11 х 4<sup>3</sup>) = 11<sup>3 &ndash; 1</sup> х 4<sup>4 &ndash; 2</sup> = 11<sup>2</sup> х 4<sup>2</sup> = (11 х 4)<sup>2</sup> = 1936</p>

<p>2a<sup>4</sup>/2a<sup>3</sup> = 2a<sup>4 &ndash; 3</sup> = 2a</p>

<p>Второе правило деления степеней гласит, что при делении степеней с разными основаниями, но одинаковыми показателями нужно возвести результат частного имеющихся чисел в эту степень.</p>

<p>Формула:</p>

<p class="formula">a<sup>n</sup>/b<sup>n</sup> = (a/b)<sup>n</sup></p>

<p>Пример:</p>

<p>5<sup>12</sup>/3<sup>12</sup> = (5/3)<sup>12</sup></p>

<p>Если числа отличаются и по основаниям, и по степеням, нужно возвести в степень каждое число, а после этого разделить результаты. Например: 3<sup>3</sup>/5<sup>2</sup> = 27/25 = 1,08.</p>

<p>Чтобы было проще усвоить умножение и деление степеней, вы также можете запомнить несколько важных теорем, касающихся все рассмотренных нами операций.</p>

<h2>Основные теоремы</h2>

<p>Всего есть пять теорем, которые требуют внимания:</p>

<ul>
	<li><strong>Теорема 1.</strong> Для любого числа a и натуральных чисел n и m будет справедливым равенство a<sup>n</sup><sup> &times; </sup>a<sup>m</sup> = a<sup>n</sup><sup> + </sup><sup>m</sup>. Умножая степени с одинаковыми основаниями, вы складываете показатели, а основание оставляете без изменений.</li>
	<li><strong>Теорема 2. </strong>Для любого числа a и любых натуральных чисел n и m (при этом n &gt; m) будет справедливым равенство a<sup>n</sup>/a<sup>m</sup> = a<sup>n</sup><sup> &ndash; </sup><sup>m</sup>. Деля степени с одинаковыми основаниями, вы отнимаете показатели, а основание оставляете без изменений.</li>
	<li><strong>Теорема 3.</strong> Для любого числа a и натуральных чисел n и m будет справедливым равенство (a<sup>n</sup>)<sup>m</sup> = a<sup>nm</sup>.</li>
</ul>

<p style="margin-left:48px">&nbsp;</p>

<p>Имейте в виду, что эти три теоремы относятся к степеням с одинаковыми основаниями, а далее мы рассмотрим теоремы для степеней с одинаковыми показателями.</p>

<p style="margin-left:48px">&nbsp;</p>

<ul>
	<li><strong>Теорема 4. </strong>Для любых чисел a и b и любого натурального числа n будет справедливым равенство a<sup>n</sup> &times; b<sup>n</sup> = (ab)<sup>n</sup>. Перемножая степени с одинаковыми показателями, просто перемножьте их основания, а показатель оставьте без изменений.</li>
	<li><strong>Теорема 5.</strong> Для любых чисел a и b (при условии, что b &ne; 0) и любого натурального числа n будет справедливым равенство a<sup>n</sup>/b<sup>n</sup> = (a/b)<sup>n</sup>. Деля друг на друга степени с одинаковыми показателями, просто разделите одно основание на другое, а показатель оставьте без изменений.</li>
</ul>

<p>Несложно увидеть, что расчеты со степенями не вызывают особых трудностей. Чтобы научиться умножать и делить степени, нужно лишь немного попрактиковаться и <a href="/study/">наработать навык</a>. После этого подобные примеры и задания вы сможете щелкать, как орешки.</p>


<div itemscope itemtype="http://schema.org/FAQPage">
<h2>❓Вопросы и ответы</h2>

<p>А также предлагаем вашему внимание ответы на часто задаваемые вопросы по умножению и делению степеней.</p>


<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Что происходит при умножении степеней с одинаковыми основаниями?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">При умножении степеней с одинаковыми основаниями степени суммируются.</span></p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Что происходит при делении степеней с одинаковыми основаниями?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">При делении степеней с одинаковыми основаниями из показателя степени делимого вычитают показатель степени делителя.</span></p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Можно ли упростить выражение a<sup>n</sup><sup> &times; </sup>a<sup>m</sup> до одной степени?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Да, выражение a<sup>n</sup><sup> &times; </sup>a<sup>m</sup><sup> </sup>можно упростить до одной степени так: a<sup>m</sup><sup> + </sup><sup>n</sup>.</span></p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Чем отличается умножение степеней с одинаковыми основаниями от умножения степеней с разными основаниями?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Умножение степеней с одинаковыми основаниями приводит к сложению показателей, в то время как умножение степеней с разными основаниями не дает степень.</span></p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Можно ли умножать разные степени с разными основаниями?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Да, можно умножать разные степени с разными основаниями. В этом случае основания нужно по отдельности возвести в степень, а затем сложить результаты.</span></p>

</div>
</div>


</Layout_article>
