---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Японский метод умножения с кругами"
h1="Японский метод умножения с кругами"
description="Среди разных способов умножения чисел существует очень интересный и удобный метод, изобретенный в Японии, который основан на рисовании кругов и дальнейшем подсчете их секторов."
keywords="Японский метод умножения с кругами"
url="japan"
section="Виды"
section_url="types"
img="japan.jpg"
>


<p itemprop="description">Среди разных способов умножения чисел существует очень интересный и удобный метод, изобретенный в Японии, который основан на рисовании кругов и дальнейшем подсчете их секторов. Порядок действий чем-то похож на <a href="/types/china/">китайский способ</a>, но всё же в японском имеются свои черты, имеющие некоторые отличия.</p>

<h2>Суть японской системы умножения</h2>

<p>Давайте попытаемся разобрать это на примере:</p>

<p>Чтобы умножить 23 &times; 45, нам нужно изобразить число 23, поэтому нарисуем круги: два &laquo;двойных&raquo; для десятков и два &laquo;тройных&raquo; для единиц.</p>

<p>Почему мы рисуем именно два круга каждого вида?</p>

<p>Причина заключается в том, что число 23 мы умножаем на двухзначный множитель 45. Здесь мы будем изображать каждый из множителей сверху вниз и слева направо, также, как и в китайском способе.</p>

<p><img src="/images/types/japan1.jpg" alt="Японское умножение"/></p>

<p>Далее переходим к числу 45, которое нам нужно будет тоже изобразить.</p>

<p>Для этого, начиная с верхнего левого угла и двигаясь по столбикам, нам необходимо разделить круги на четыре и на пять частей (45) так же, как показано на рисунке.</p>

<p>При этом сектора кругов не должны быть равными по размеру. Их можно примерно разделить и на глаз, главное здесь &ndash; количество самих частей.</p>

<p><img src="/images/types/japan2.jpg" alt="Делим круги на части"/></p>

<p>После этого нам нужно подсчитать количество секторов, образовавшихся в результате деления этих колец. Для большего удобства мы можем ставить точку в каждом секторе ручкой.</p>

<p>Далее эти круги снова делим на группы, точно также, как в <a href="/types/china/">китайском способе</a>: нижний правый угол &ndash; это единицы, диагональ &ndash; идут десятки, и верхний левый угол &ndash; это сотни.</p>

<p>В итоге в результате такого умножения получается 15 единиц, 22 десятка и 8 сотен, то есть, нам снова нужно будет применить правило перехода через десяток.</p>

<p><img src="/images/types/japan3.jpg" alt="Выделяем десятки, сотни и единицы"/></p>

<p>Продолжаем начинать с единиц.</p>

<p>От 15 будем оставлять пятерку и &laquo;перебросим&raquo; единицу в следующий разряд.</p>

<p>Далее в разряде десятков получилось 22 + 1 = 23 десятка, мы оставим тройку, а двойку снова &laquo;перебросим&raquo; в старший разряд.</p>

<p>У нас стало сотен 8 + 2 = 10, другими словами, десять сотен &ndash; это тысяча.</p>

<p>Формируем ответ:</p>

<p>Тысяча + три десятка + пять единиц и в результате имеем 23 &times; 45 = 1035.</p>

<p><img src="/images/types/japan4.jpg" alt="Формируем ответ по японскому методу"/></p>

<p>Японский способ очень удобен, в первую очередь, своей наглядностью. Поскольку все изображено на бумаге, значит не требуется в голове производить одновременно множество арифметических действий. Такой способ отлично подходит для умножения даже тем, кто не знает таблицу.</p>

<p>Тем не менее данный метод имеет некоторые минусы.</p>

<p>Например, при этом умножении не очень удобно вычислять произведения четырехзначных, а также более крупных чисел, потому что запись становится очень громоздкой и в ней можно легко запутаться.</p>

<p>Поэтому, когда речь идет о больших числах, лучше находить произведение таких больших чисел привычным нам всем &laquo;столбиком&raquo;.</p>

<p>Когда требуется умножить разные числа, например двузначные на трехзначные, тогда проще всего воспользоваться именно японским методом с кругами, в отличие, например, от <a href="/types/china/">китайского способа с линиями</a>. Тогда таблица из кругов будет иметь не квадратную форму, а прямоугольную, например, 2 &times; 3, но суть всех действий останется неизменной.</p>



</Layout_article>
