---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Формулы сокращенного умножения"
h1="Формулы сокращенного умножения"
description="Формулы сокращенного умножения нужны, чтобы решать интегралы, вычислять пределы, сокращать дроби, решать неравенства и уравнения, упрощать выражения, а необходимы они в любом разделе математики."
keywords="сокращенное умножение, формулы, степени, квадраты, математика, школа, таблица умножения"
url="reduction"
section="Виды"
section_url="types"
img="reduction.jpg"
>


<h2>Зачем нужны формулы сокращенного умножения?</h2>

<p>Формулы сокращенного умножения (ФСУ) используются для упрощения многочленов в алгебре. Они позволяют уменьшить количество слагаемых в многочлене и представить его в более компактной форме. Например, с использованием формулы сокращенного умножения можно умножить (x + 2)(x + 3) и получить x<sup>2</sup> + 5x + 6 вместо (x<sup>2</sup> + 5x + 6) + (x<sup>2</sup> + x + 6).</p>

<p>ФСУ позволяют решать такие задачи, как:</p>

<ul>
	<li>Умножение многочленов.</li>
	<li>Решение уравнений и неравенств многочленов.</li>
	<li>Решение геометрических задач.</li>
	<li>Расчет коэффициентов многочленов.</li>
	<li>Решение задач в математической статистике.</li>
</ul>

<p>Также ФСУ могут применяться и в других областях математики, таких как линейная алгебра, комбинаторика, математическая физика и т.д.</p>

<p>Кроме того, ФСУ могут быть полезны в ряде случаев и для обычного человека:</p>

<ul>
	<li><strong>Решение домашних заданий. </strong>Например, для выполнения заданий по математике, когда нужно решать задачи по многочленам.</li>
	<li><strong>Решение жизненных задач.</strong> Например, для расчета площади и объема тел с использованием многочленов.</li>
	<li><strong>Решение кроссвордов и головоломок. </strong>Например, для ответов на вопросы и решения головоломок, которые связаны с математикой.</li>
	<li><strong>Решение задач в свободное время. </strong>Формулы сокращенного умножения могут быть интересным развлечением. Например, в свободное время вы можете решать те же математические головоломки или развивать математические навыки.</li>
</ul>

<div>
<p>Начало формы</p>
</div>

<p>В целом, знание формул сокращенного умножения позволяет человеку не только справляться с математическими заданиями, но и развивать свой интеллект и поддерживать в тонусе мозг, что помогает продлить его здоровье и предупредить возникновение различных возрастных изменений, в том числе и очень опасных.</p>

<h2>Какие есть формулы сокращенного умножения?</h2>

<p>Вообще, есть несколько основных ФСУ и ряд дополнительных. Основные используются чаще всего, а выделить среди них можно следующие:</p>

<ul>
	<li>Квадрат суммы: (a + b)&sup2; = a&sup2; + 2ab + b&sup2;</li>
	<li>Квадрат разности: (a &ndash; b)&sup2; = a&sup2; &ndash; 2ab + b&sup2;</li>
	<li>Разность квадратов: (a &ndash; b)(a + b) = a&sup2; &ndash; b&sup2;</li>
	<li>Сумма кубов: (a + b)(a&sup2; &ndash; ab + b&sup2;) = a&sup3; + b&sup3;</li>
	<li>Разность кубов: (a &ndash; b)(a&sup2; + ab + b&sup2;) = a&sup3; &ndash; b&sup3;</li>
	<li>Куб суммы: (a + b)&sup3; = a&sup3; + 3a&sup2;b + 3ab&sup2; + b&sup3;</li>
	<li>Куб разности: (a &ndash; b)&sup3; = a&sup3; &ndash; 3a&sup2;b + 3ab&sup2; &ndash; b&sup3;</li>
</ul>

<p>Кстати, если поменять местами левую и правую части формул, мы получим формулы разложения на множители, а именно:</p>

<ul>
	<li>Квадрат суммы: a&sup2; + 2ab + b&sup2; = (a + b)&sup2;</li>
	<li>Квадрат разности: a&sup2; &ndash; 2ab + b&sup2; = (a &ndash; b)&sup2;</li>
	<li>Разность квадратов: a&sup2; &ndash; b&sup2; = (a &ndash; b)(a + b)</li>
	<li>Сумма кубов: a&sup3; + b&sup3; = (a + b)(a&sup2; &ndash; ab + b&sup2;)</li>
	<li>Разность кубов: a&sup3; &ndash; b&sup3; = (a &ndash; b)(a&sup2; + ab + b&sup2;)</li>
	<li>Куб суммы: a&sup3; + 3a&sup2;b + 3ab&sup2; + b&sup3; = (a + b)&sup3;</li>
	<li>Куб разности: a&sup3; &ndash; 3a&sup2;b + 3ab&sup2; &ndash; b&sup3; = (a &ndash; b)&sup3;</li>
</ul>

<p>Эта обратная запись ФСУ отлично годится, чтобы раскладывать на множители многочлены, сокращать алгебраические дроби и решать самые разные примеры.</p>

<p>И при всем этом очень важно раз и навсегда запомнить, что:</p>

<ul>
	<li>(a + b)<sup>2 </sup>&ne; a<sup>2</sup><sup> </sup>+ b<sup>2</sup></li>
	<li>(a &ndash; b)<sup>2 </sup>&ne; a<sup>2</sup><sup> </sup>&ndash; b<sup>2</sup></li>
</ul>

<p>Эта ошибка (когда люди ставят знак равенства между данными частями уравнений) встречается очень часто и приводит к многочисленным неправильным решениям.</p>

<p>Что же касается непосредственно ФСУ, то обычно в школе учителя просят учеников все эти формулы запомнить, однако их достаточно легко получить. Для этого нужно просто раскрыть скобки с помощью <a href="/study/laws/" >закона распределения</a> (распределительного закона).</p>

<h2>Распределительный закон</h2>

<p>Распределительный закон в математике &ndash; это формальное определение для свойства алгебраических операций, которое говорит о том, что произведение двух скобок равно сумме произведений каждого элемента в первой скобке с каждым элементом во второй скобке. Если проще, то можно умножать на число либо всю сумму, либо отдельно каждое слагаемое, и результат будет один и тот же.</p>

<p>Распределительный закон может быть описан формулой:</p>

<p>(a+b)c = ac + bc</p>

<p>А еще можете запомнить другие формулы распределительного закона:</p>

<ul>
	<li>ab + ac = a(b + c)</li>
	<li>a(b + c) = ab + ac</li>
	<li>ab &ndash; ac = a(b &ndash; c)</li>
	<li>ab + ac + ad + &hellip; = a (b + c + d + &hellip;)</li>
</ul>

<p>Давайте посмотрим на действие этого закона на примере.</p>

<p>Как мы помним, распределительный закон можно применить к следующему выражению:</p>

<p>a(b + c) = ab + ac</p>

<p>Здесь мы распределяем множитель &laquo;а&raquo; над слагаемыми &laquo;b&raquo; и &laquo;c&raquo; внутри скобок. Это означает, что мы умножаем &laquo;а&raquo; на &laquo;b&raquo; и &laquo;а&raquo; на &laquo;c&raquo; и получаем ab и ac соответственно. Например:</p>

<p>3(4 + 5) = 3 &times; 4 + 3 &times; 5 = 12 + 15 = 27</p>

<p>Также можно использовать распределительный закон наоборот, т.е. (a + b)c = ac + bc, и тогда мы получим:</p>

<p>(3 + 2)5 = 3 &times; 5 + 2 &times; 5 = 15 + 10 = 25</p>

<p>В обоих случаях результат совпадает, даже если мы распределили умножение до или после сложения.</p>

<p>Распределительный закон может быть применен и к сложным выражениям с несколькими скобками и сложными множителями. Например:</p>

<p>a(b + c + d) &ndash; e(f + g) = a(b + c + d) &ndash; ef &ndash; eg = ab + ac + ad &ndash; ef &ndash; eg</p>

<p>Здесь мы распределяем <a href="/factor/" >множитель</a> &laquo;а&raquo; над слагаемыми &laquo;b&raquo;, &laquo;c&raquo; и &laquo;d&raquo; внутри первых скобок, а множитель &laquo;e&raquo; над слагаемыми &laquo;f&raquo; и &laquo;g&raquo; внутри вторых скобок. Это означает, что мы умножаем &laquo;a&raquo; Начало формы</p>

<p>на &laquo;b&raquo;, &laquo;a&raquo; на &laquo;c&raquo; и &laquo;a&raquo; на &laquo;d&raquo; и получаем ab, ac и ad соответственно. Также мы умножаем &laquo;e&raquo; на &laquo;f&raquo; и &laquo;e&raquo; на &laquo;g&raquo; и получаем ef и eg соответственно. Например:</p>

<p>2(3 + 4 + 5) &ndash; 3(2 + 1) = 2 &times; 3 + 2 &times; 4 + 2 &times; 5 &ndash; 3 &times; 2 &ndash; 3 &times; 1 = 6 + 8 + 10 &ndash; 6 &ndash; 3 = 15</p>

<p>В этом примере сначала мы раскрываем скобки и применяем распределительный закон, а затем складываем и вычитаем соответствующие члены, получая результат.</p>

<p>Важно отметить, что применение распределительного закона может помочь упростить и ускорить решение математических задач, но необходимо быть внимательными и тщательно проверять правильность решения, особенно в сложных выражениях.</p>

<h2>Как запомнить формулы сокращенного умножения?</h2>

<p>Самый простой способ запомнить ФСУ &ndash; это выучить их названия. Например, у нас есть формула (a + b)<sup>2</sup>, т.е. квадрат скобок, а в скобках у нас сумма, и это значит, что данное выражение называется квадратом суммы (точно так же, как квадрат разности, если в скобках стоит знак &laquo;&ndash;&raquo;). По аналогии, (a + b)<sup>3</sup>&nbsp;и&nbsp;(a &ndash; b)<sup>3 </sup>будут называться кубом суммы и кубом разности.</p>

<p>Если же мы имеем выражение a<sup>2</sup> &ndash; b<sup>2</sup>, где оба выражения в квадрате, это будет разностью квадратов. И точно так же можно запомнить, что такое разность и сумма кубов и т.д.</p>

<p>Но как же запомнить сами формулы? Здесь на помощь приходят механическая память и несколько секретов запоминания. Например, нам нужно запомнить квадрат суммы (a + b)&sup2; = a&sup2; + 2ab + b&sup2;. Смотреть на формулу и стараться ее &laquo;сфотографировать&raquo; &ndash; не очень эффективная стратегия. Лучше всего выучить формулу в ее словесной формулировке, а звучит она так:</p>

<ul>
	<li><strong>Квадрат суммы</strong> двух выражений равен квадрату первого выражения плюс удвоенное произведение первого выражения на второе плюс квадрат второго выражения.</li>
</ul>

<p>Словесные формулировки многократно улучшают запоминание ФСУ и пригождаются в самых разных ситуациях, когда приходится эти самые формулы вспоминать. Поэтому запомните и формулировки других формул:</p>

<ul>
	<li><strong>Квадрат разности</strong> двух выражений равен квадрату первого выражения минус удвоенное произведение первого выражения на второе плюс квадрат второго выражения.</li>
	<li><strong>Разность квадратов</strong> двух выражений равна произведению их разности и их суммы.</li>
	<li><strong>Сумма кубов</strong> двух выражений равна произведению суммы первого и второго на неполный квадрат их разности.</li>
	<li><strong>Разность кубов</strong> двух выражений равна произведению разности первого и второго на неполный квадрат их суммы.</li>
	<li><strong>Куб суммы</strong> двух выражений равен кубу первого плюс утроенное произведение квадрата первого на второе плюс утроенное произведение первого на квадрат второго плюс куб второго.</li>
	<li><strong>Куб разности</strong> двух выражений равен кубу первого минус утроенное произведение квадрата первого на второе плюс утроенное произведение первого на квадрат второго минус куб второго.</li>
</ul>

<p>Запомнить эти формулировки при должном усердии достаточно просто. Но не возникло ли у вас сомнений в том, что все эти формулы верны? Если сомнения возникли, это вполне нормальное явление, ведь сомневаться всегда полезно. И несмотря на то, что данные ФСУ используются людьми уже <a href="/history/" >много лет</a>, давайте все же посмотрим на их доказательство.</p>

<h2>Доказательство формул сокращенного умножения</h2>

<p>Доказательство ФСУ мы рассмотрим на примере формулы разности квадратов.</p>

<p>Как мы помним, разность квадратов двух чисел a и b равна произведению их разности и их суммы, т.е. a<sup>2</sup> &ndash; b<sup>2</sup> = (a &ndash; b)(a + b).</p>

<p>Говоря другими словами, произведение суммы a и b на их разность равно разности их квадратов, т.е. (a &ndash; b )(a + b) = a<sup>2</sup> &ndash; b<sup>2</sup>.</p>

<p>При этом важно помнить, что разность квадратов не равна квадрату разности, т.е. a<sup>2</sup> &ndash; b<sup>2</sup> &ne; (a &ndash; b)<sup>2</sup>.</p>

<p>Поэтому давайте докажем, что a<sup>2</sup> &ndash; b<sup>2</sup> = (a &ndash; b)(a + b).</p>

<div>
<p>Начало формы</p>
</div>

<p>С помощью искусственного метода прибавим и отнимем одно и тоже ab:</p>

<p>+ ab &ndash; ab = 0, т.е. a<sup>2</sup> &ndash; b<sup>2</sup> = a<sup>2</sup> &ndash; b<sup>2</sup> + ab &ndash; ab</p>

<p>Если сгруппировать другим образом, мы получим:</p>

<p>a<sup>2</sup> &ndash; b<sup>2</sup> + ab &ndash; ab = a<sup>2</sup> &ndash; ab + ab &ndash; b<sup>2</sup></p>

<p>Продолжая группировать, получаем:</p>

<p>a<sup>2</sup> &ndash; ab &ndash; b<sup>2</sup> + ab = (a<sup>2</sup> &ndash; ab) + (ab &ndash; b<sup>2</sup>)</p>

<p>Теперь выносим общие множители за скобки и получаем:</p>

<p>(a<sup>2</sup> &ndash; ab) + (ab &ndash; b<sup>2</sup>) = a(a &ndash; b) + b(a &ndash; b)</p>

<p>Выносим за скобки (a &ndash; b) и получаем:</p>

<p>a(a &ndash; b) + b(a &ndash; b) = (a &ndash; b)(a + b)</p>

<p>И результатом доказательства является:</p>

<p>a<sup>2</sup> &ndash; b<sup>2</sup> = (a &ndash; b)(a + b)</p>

<p>А чтобы доказать формулу в обратную сторону, т.е. что (a &ndash; b)(a + b) = a<sup>2</sup> &ndash; b<sup>2</sup>, раскрываем скобки и получаем:</p>

<p>&nbsp;(a &ndash; b)(a + b) = aa + ab &ndash; ba &ndash; bb = a<sup>2</sup> &ndash; b<sup>2</sup>.</p>

<p>Остальные ФСУ можно доказать аналогичным методом.</p>

<p>А еще вы наверняка помните, что мы говорили о дополнительных формулах сокращенного умножения. О них стоит сказать чуть подробнее.</p>

<h2>Дополнительные формулы сокращенного умножения</h2>

<p>Есть три основные дополнительные ФСУ &ndash; это бином Ньютона, формула возведения в квадрат суммы трех, четырех и более слагаемых, а также формула разности n-ых степеней двух слагаемых. Коротко о каждой из них.</p>

<h3>Бином Ньютона</h3>

<p>Бином Ньютона &ndash; это формула для разложения на отдельные слагаемые целой неотрицательной степени суммы двух переменных. Выглядит она следующим образом:</p>

<p><img src="/images/types/reduction/1.jpg" alt="Бином Ньютона"/></p>

<p>Ck в степени n &ndash; это биноминальные коэффициенты, стоящие в строке под номером n в треугольнике Паскаля. Вычисляются эти коэффициенты по формуле:</p>

<p><img src="/images/types/reduction/2.jpg" alt="биноминальные коэффициенты - формула"/></p>

<p>Иначе говоря, ФСУ для квадрата и куба разности и суммы являются частными случаями формулы бинома Ньютона при n=2&nbsp;и&nbsp;n=3 соответственно.</p>

<p>Однако может быть так, что слагаемых в сумме, которую нужно возвести в степень, больше, чем два. В таком случае подойдет формула квадрата суммы трех, четырех и более слагаемых.</p>

<h3>Формула возведения в квадрат суммы трех, четырех и более слагаемых</h3>

<p>Как и было сказано, формула возведения в квадрат суммы трех, четырех и более слагаемых нужна, когда слагаемых в сумме, которую нужно возвести в степень, больше, чем два.</p>

<p>Выглядит она так:</p>

<p><img src="/images/types/reduction/3.jpg" alt="формула возведения в квадрат суммы трех, четырех и более слагаемых"/></p>

<p>Читать и запоминать эту формулу нужно следующим образом: <strong>квадрат суммы&nbsp;n&nbsp;слагаемых</strong> равен сумме квадратов всех слагаемых и удвоенных произведений всех возможных пар этих слагаемых.</p>

<h3>Формула разности n-ых степеней двух слагаемых</h3>

<p>И последняя формула &ndash; это формула разности n-ых степеней двух слагаемых, выглядящая вот так:</p>

<p><img src="/images/types/reduction/4.jpg" alt="формула разности n-ых степеней двух слагаемых"/></p>

<p>Как правило, данную формулу разделяют на две отдельные: для четных и нечетных степеней.</p>

<p>Формула для четных показателей 2m:</p>

<p><img src="/images/types/reduction/5.jpg" alt="Формула для четных показателей"/></p>

<p>Формула для нечетных показателей 2m + 1:</p>

<p><img src="/images/types/reduction/6.jpg" alt="Формула для нечетных показателей"/></p>

<p>Несложно догадаться, что ФСУ разности квадратов и кубов являются частными случаями данной формулы при n=2&nbsp;и&nbsp;n=3 соответственно. А для разности кубов b заменяется на &ndash;b.</p>

<p>Рассмотренные нами ФСУ и дополнительные ФСУ обязательно помогут вам быстрее справляться с математическими задачами и занимать свой мозг полезной деятельностью.</p>



<div itemscope itemtype="http://schema.org/FAQPage">
<h2>❓Вопросы и ответы</h2>

<p>И напоследок несколько ответов на часто задаваемые вопросы.</p>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Для чего нужны формулы сокращенного умножения?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Формулы сокращенного умножения нужны, чтобы упростить и ускорить вычисления, а также для улучшения наглядности и понимания математических выражений.</span></p>

<p>В настоящее время ФСУ широко используются в образовании и науке, а также в практической жизни. Они применяются в различных областях, таких как математика, физика, химия и инженерия, плюс могут применяться к решению различных задач, например, в области финансов, менеджмента и исследования данных.</p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Как появились формулы сокращенного умножения?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Формулы сокращенного умножения появились в результате исследований математиков в области алгебры и арифметики и основаны на использовании их свойств, таких как коммутативность, ассоциативность и дистрибутивность.</span></p>

<p>Если обратиться к истории, можно узнать, что такими формулами пользовались еще в Древнем Вавилоне и Древнем Египте. Первым же, кто доказал математическую закономерность квадрата суммы, был древнегреческий ученый Евклид, живший в III веке до н.э. А на общепринятом языке математические формулы были обоснованы Исааком Ньютоном.</p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Сколько всего формул сокращенного умножения?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Не существует точного количества формул сокращенного умножения, т.к. их можно создавать неограниченное количество. Но в основном изучают и используют семь основных формул. Это квадрат суммы, квадрат разности, разность квадратов, сумма кубов, разность кубов, куб суммы и куб разности. Также распространено применения трех дополнительных ФСУ, таких как бином Ньютона, формула возведения в квадрат суммы трех, четырех и более слагаемых и формула разности n-ых степеней двух слагаемых.</span></p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Почему формулы сокращенного умножения изучают на алгебре в 7 классе?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Формулы сокращенного умножения изучаются на алгебре в 7 классе, потому что именно на этом этапе школьники знакомятся с понятием многочлена и действиям с ним. Кроме того, ФСУ являются важным и основным инструментом для решения математических задач и упрощения вычислений.</span></p>

<p>Формулы помогают ученикам развить навыки в решении простых задач, а также дают им навыки для решения более сложных задач в будущем, что в перспективе способно помочь молодым людям в их дальнейшем обучении и карьере.</p>

</div>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Можно ли не использовать формулы сокращенного умножения?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Конечно, при решении математических задач можно и не использовать формулы сокращенного умножения.</span> Однако без них процесс решения может оказаться очень трудоемким и долгим. ФСУ же заметно упрощают его и помогают справляться с заданиями намного быстрее.</p>

<p>Помимо прочего, ФСУ входят в обязательную школьную программу, вследствие чего преподаватели часто требуют от учеников, во-первых, знать эти формулы наизусть, а во-вторых, решать задания именно с их помощью.</p>

</div>
</div>

</Layout_article>
