---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Факты о таблице умножения"
h1="Факты о таблице умножения"
description="Самое интересное, что можно узнать об умножении и таблицы Пифагора."
keywords="факты, таблица умножения, умножение"
url="facts"
section="История и факты"
section_url="history"
img="facts.jpg"
>


<h3>Содержание</h3>

<p>Таблица умножения &ndash; это не просто система, которая позволяет нам быстро и легко находить произведение простых чисел. На самом деле, это уникальное явление, о котором, как и о самом умножении, есть немало интересных фактов. В этой статье мы расскажем вам о некоторых из них.</p>

<ul>
	<li><a href="#0">Появление таблицы умножения</a></li>
	<li><a href="#1">Таблица умножения в России</a></li>
	<li><a href="#2">Виды таблицы умножения</a></li>
	<li><a href="#3">Заучивание таблицы умножения</a></li>
	<li><a href="#4">Церковь Умножения Хлебов и Рыб</a></li>
	<li><a href="#5">Коммуникативность и ассоциативность</a></li>
	<li><a href="#6">Суть умножения</a></li>
	<li><a href="#7">&laquo;Неперовы палочки&raquo;</a></li>
	<li><a href="#8">Решетчатое умножение</a></li>
	<li><a href="#9">Арийское умножение</a></li>
	<li><a href="#10">Упрощение умножения</a></li>
	<li><a href="#11">Рекорды умножения</a></li>
	<li><a href="#12">Простота умножения</a></li>
</ul>

<h2 id="0">Появление таблицы умножения</h2>

<p>Обычно создание таблицы умножения приписывают древнегреческому математику Пифагору, жившему в 6-5 веках до н.э., и именно в его честь она названа в разных языках, в том числе, в русском, итальянском и французском.</p>

<p>Однако старейшую таблицу умножения ученые нашли в Древнем Вавилоне, а ее возраст составляет порядка 4 тыс. лет. Между тем, эта таблица основана на шестидесятеричной системе исчисления, а вот десятеричная таблица была найдена в Древнем Китае, и относят ее к 305 году до н.э.</p>

<h2 id="1">Таблица умножения в России</h2>

<p>Первая таблица умножения в России была создана в 1682 году. Встретить ее можно было в первом печатном русскоязычном математическом издании под названием &laquo;Считание удобное, которым всякий человек, купующий или продающий, зело удобно изыскати может число всякие вещи&hellip;&raquo;</p>

<p>В этой таблице умножения были пары чисел от 1*1 до 100*100, а записывались они славянскими цифрами. Сегодня экземпляры книги с таблицей хранятся в Научной библиотеке МГУ и Российской государственной библиотеке.</p>

<h2 id="2"><a href="/types/">Виды таблицы умножения</a></h2>

<p>В литературе, посвященной изучению таблицы умножения, можно встретить упоминания о нескольких ее видах. Например, в 100 году н.э. древнегреческий математик Никомах Герасский поместил таблицу умножения в своем &laquo;Введении в арифметику&raquo;. Это был квадрат 10*10, где в первой строке и в первом столбце находились записи чисел от 1 до 10.</p>

<p>В 493 году Викторий Аквитанский представил таблицу умножения в римских числах, состоящую из 98 столбцов. В ней перемножались числа до 50. В V веке другая таблица умножения, подобная таблице Никомаха, появилась в сочинении Боэция, а в VII веке еще одна таблица встречается в учебнике арифметики армянского математика Анании из Ширака.</p>

<p>Многим позже, в 1168 году, в 1484 году и в 1489 году в работах разных ученых (к примеру, Шюке и Видмана) появляются пирамидальные и треугольные таблицы умножения. А в 1820 году математик Джон Лесли предложил таблицу умножения чисел до 99, которая позволяла перемножать цифры парами.</p>

<h2 id="3"><a href="/study/">Заучивание таблицы умножения</a></h2>

<p>Сегодня все мы знаем, что школьники учат таблицу умножения, начиная с 2*2 и заканчивая 9*9. А вот в римских школах таблицу заучивали нараспев и хором. В Средневековье же возлагались большие надежды на память, и ученики порой должны были запоминать до 360 произведений чисел и даже квадраты всех чисел.</p>

<p>Кстати, интересно, что в современной России традиционно нужно выучить таблицу умножения до 10*10, а в Великобритании нужно знать произведения до 12*12, что связано с английской системой мер длины, где есть футы и дюймы. В Индии же таблица умножения вообще заканчивается на 20.</p>

<h2 id="4">Церковь Умножения Хлебов и Рыб</h2>

<p>В израильском городе Табхе есть Церковь Умножения Хлебов и Рыб. Первая византийская церковь здесь была построена еще в IV веке, но уже в VII веке была разрушена персами. В 1982 году была проведена полная реконструкция, и сейчас Церковь является действующей и является местом паломничества христиан.</p>

<p>Местные прихожане верят, что алтарем этой церкви в древности служил камень, на котором Иисус умножил пять хлебов и двух рыб, чтобы накормить 5000 своих последователей. Управляется Церковь Умножения монахами Ордена Святого Бенедикта.</p>

<h2 id="5">Коммуникативность и ассоциативность</h2>

<p>Свойство коммуникативности умножения говорит о том, что порядок чисел в равенстве не играет роли, т.е. a+b = b+a, a*b = b*a. Говоря простым языком, числа в уравнении могут перемещаться. Этим свойством обладают числа, а также некоторые операции, такие как умножение и сложение многочленов. Однако закон коммуникативности перестает работать при делении и вычитании.</p>

<p>Свойство ассоциативности означает, что не играет никакой роли, какие числа умножаются первыми и как они сгруппированы. Т.е. (a+b)+c = a+(b+c) и (a*b)*c = a*(b*c). Но и это свойство перестает действовать при делении и вычитании.</p>

<h2 id="6">Суть умножения</h2>

<p>Арифметика (от праиндоевропейского *re(i) &ndash; &laquo;рассуждение, счет&raquo;) &ndash; самый старый и элементарный раздел математики и изучает количество. Умножение является арифметическим действием, и, наряду с делением, вычитанием и сложением, относится к элементарным арифметическим операциям.</p>

<p>Умножаемые числа называют множителями, а результат умножения называется произведением. Противоположным умножению арифметическим действием является деление. Также умножение иногда называют повторным добавлением.</p>

<h2 id="7">&laquo;Неперовы палочки&raquo;</h2>

<p>&laquo;Неперовыми палочками&raquo; называют метод умножения, названный в честь энциклопедиста и полимата Джона Непера. В 16 веке он открыл собственный способ решения более сложных задач на деление и умножение, который состоял в использовании специальных палочек с обозначенными на них цифрами.</p>

<p>В то время лишь немногие люди были способны решать примеры сложнее 5*5. А палочки Непера существенно упростили этот процесс и получили широкое распространение. Они были в обиходе вплоть до второй половины 19 века, а затем &laquo;эволюционировали&raquo; в счетную линейку. Кстати, изготавливали палочки из металла, дерева или слоновой кости.</p>

<h2 id="8">Решетчатое умножение</h2>

<p>Метод решетчатого умножения также известен как &laquo;китайская решетка&raquo;, метод &laquo;ревность&raquo;, сеточное умножение или &laquo;венецианские квадраты&raquo;, и на протяжении многих веков он был очень распространен во множестве культур.</p>

<p>Суть его состоит в том, что для умножения двух многозначных чисел используется специальная секта, каждая ячейка в которой разбивается по диагонали. Два множителя вычисляемого произведения записывают вдоль верхней и правой сторон решетки, а затем каждую ячейку заполняют произведением цифр ее столбца и строки.</p>

<p>Со временем данный метод вытеснило умножение столбиком, но даже сегодня можно найти некоторые учебные программы, где до сих пор предлагается использовать именно решетчатый метод.</p>

<h2 id="9">Арийское умножение</h2>

<p>Далеко не каждый знает, что у древних арийцев существовали три основных вида умножения: НА, ЖДЫ и Ю. Умножение &laquo;НА&raquo; самое обычное, двухмерное (плоскостное). Это такие задачи, как 2*2, 2*2, 2*4 и т.п. С его помощью очень легко посчитать, например, площадь. И обозначалось оно точкой &laquo;&middot;&raquo;.</p>

<p>Умножение &laquo;ЖДЫ&raquo; являлось объемным и трехмерным, обозначалось символом &laquo;х&raquo;. И, наконец, умножение &laquo;Ю&raquo; &ndash; это объемно-векторное умножение, обозначаемое символом &laquo;*&raquo;. По некоторым данным, в прошлом славяне начинали изучать эти виды умножения с 12 лет.</p>

<h2 id="10">Упрощение умножения</h2>

<p>Вплоть до 13 века в Европе были в обиходе римские цифры. Они были достаточно удобны для простых вычислений, но при умножении и делении люди сталкивались с затруднениями. Когда же начали использоваться арабские цифры, это событие существенно упростило процесс умножения и позволило производить более сложные вычисления.</p>

<p>Позже начали появляться различные вычислительные устройства, но они были способны лишь прибавлять и вычитать. А в 1673 году немецкий математик Готфрид Вильгельм Лейбниц создал свой знаменитый арифмометр, который подарил людям возможность выполнять операции сложения, вычитания, деления и умножения, а также извлечения корня.</p>

<h2 id="11">Рекорды умножения</h2>

<p>С умножением связан ряд впечатляющих рекордов. Приведем лишь несколько примеров. Для начала стоит упомянуть Шакунталу Деви из Индии. Она попала в Книгу рекордов Гиннеса, когда смогла верно умножить за 28 секунд два 13-значных числа.</p>

<p>Другой житель Индии, Самарт Бхагеш Патель, быстрее всех смог верно решить за 30,60 сек 10 случайных задач на умножение. Но удивительнее всего то, что на момент установления рекорда ему было всего 7 лет.</p>

<p>Самым же юным человеком, которой смог правильно решить примеры на умножение, стал 2-летний мальчик Сиддху. Он отлично справился с примерами на умножение 2, 3 и 5 разделов таблицы умножения. А еще в свои 2 года он уже спокойно складывал любые два числа от 1 до 100 и считал до 1000.</p>

<h2 id="12">Простота умножения</h2>

<p>Вместо того, чтобы долго заучивать разные произведения чисел, иногда можно просто запомнить несколько лайфхаков. Так, умножение на 1 &ndash; это будет само умножаемое число, а умножение на 10 &ndash; умножаемое число и 0 после него.</p>

<p>При умножении на 2 складываются два одинаковых числа. Умножение на 4 &ndash; это умножение на 2 и снова на 2. При умножении на 5, если на него умножается четное число, произведение всегда будет заканчиваться на 0, а если умножается нечетное, то 5.</p>

<p>Что же касается &laquo;страшного&raquo; умножения 6, 7, 8 и 9, то тут все проще простого &ndash; нужно лишь вспомнить, что все эти операции вы уже проделывали. Например, 6*3 &ndash; это то же самое, что 3*6, а 7*4 &ndash; то же самое, что 4*7. В итоге остается запомнить лишь несколько операций, где умножаются друг на друга все числа от 6 до 9.</p>

<p>А в заключение статьи предлагаем вам еще один неочевидный факт об умножении: если вы будете умножать цифру 9 на числа от 1 до 10, то знайте, что, если сложить цифры, составляющие число в ответе, сумма всегда будет равна 9. К примеру, 9*8 = 72, а 7+2 = 9. Можете проверить и другие комбинации.</p>



</Layout_article>
