---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="История таблицы умножения"
h1="История таблицы умножения"
description="В этой статье вы познакомитесь с наиболее полной историей возникновения таблицы умножения и узнаете, кто и когда ее придумал, почему ее создателем считают Пифагора, как она менялась с годами и в каком виде она существует сейчас."
keywords="история, факты, мемы, кто придумал, древние гречи, Пифагор"
section="История и факты"
section_url="history"
img="ussr.jpg"
>


<p><strong>Содержание:</strong></p>

<ul>
	<li><a href="#1">Когда появилась таблица умножения?</a></li>
	<li><a href="/history/who/">Кто придумал таблицу умножения</a></li>
	<li><a href="/history/facts/">Интересные факты</a></li>
	<li><a href="#2">Таблица Пифагора и Древний мир</a></li>
	<li><a href="#3">Таблица умножения в Средневековье</a></li>
	<li><a href="#4">Таблица умножения  в Новое время</a></li>
	<li><a href="#5">Таблица умножения в СССР и России </a></li>
	<li><a href="/history/tableday/">День таблицы умножения</a></li>
</ul>

<h2 id="1">Когда появилась таблица умножения?</h2>

<p>Прежде чем говорить о том, когда появилась таблица умножения, давайте вспомним, что это вообще такое. Таблица умножения &ndash; это математическая таблица, которую мы используем, чтобы получить произведение от умножения чисел от 1 до 9 друг на друга. Сегодня она не вызывает у нас никакого удивления и мы воспринимаем ее, как нечто само собой разумеющееся. Но так было далеко не всегда, и история таблицы умножения тому подтверждение.</p>

<p>Научные данные вряд ли ответят нам на вопрос, в каком году появилась таблица умножения. Точности здесь нет. Старейшие из известных человечеству таблиц умножения ученые относят еще к временам Месопотамии, а точнее, Вавилона. Однако тогда, около 4 тыс. лет назад, люди пользовались шестидесятеричной системой исчисления, изобретенной древними шумерами.</p>

<p>Найденный археологами, вероятнее всего, самый старый из всех известных математических текстов наглядно показывает соотношение сторон шести прямоугольников 1:60 и говорит о том, что математика, которую преподавали в школах писцов в Шумере вплоть до середины третьего тысячелетия до н.э., была крайне сложной. По мнению специалистов, практической пользы от такой математики был минимум. По сути, это была математика ради математики.</p>

<p>Мы же с вами пользуемся десятичной системой. Десятичная таблица умножения признана неотъемлемой частью элементарной арифметики по всему миру, т.к. является основой для арифметических операций с десятичными числами, а большинство педагогов рекомендуют заучивать таблицу до 9*9.</p>

<p>Наиболее известной таблицей, основу которой составляет десятичная система, считается китайская таблица умножения на бамбуковых полосках. Еще недавно самыми старыми китайскими таблицами умножения были экземпляры, относящиеся к периоду династии Цинь между 221 и 206 годами до н.э. Это серии коротких предложений (например, &laquo;шесть восьмерок порождают сорок восемь&raquo;), допускающие лишь самые простые умножения.</p>

<p><img src="/images/history/china.jpg" alt="Китайская таблица умножения на бамбуковых полосках"/></p>

<p>Но несколько лет назад Университету Цинхуа в Пекине передали в дар 2500 бамбуковых полосок. Их, покрытые грязью и плесенью обнаружили, скорее всего, при незаконных археологических раскопках, а сам даритель приобрел их на рынке в Гонконге.</p>

<p>По мере изучения китайские специалисты не только смогли датировать их 305 годом до н.э., что относится к периоду Сражающихся царств Китая, но и собрали из отдельных фрагментов (бамбуковых полосок) в одно целое то, что потом назвали старейшим образцом таблицы умножения с основанием 10.</p>

<p>Записи на пересечениях строк и столбцов, как и в современной таблице умножения, на древнекитайском образце &ndash; это результаты умножения чисел. При этом с помощью таблицы можно умножать как целые числа, так и числа от 0,5 до 99,5. А числа, не представленные напрямую, сначала нужно преобразовать в серию сложений. Они, в свою очередь, приводят к серии отдельных умножений, которые считаются по таблице. И уже после сложения всех ответов получается окончательный результат.</p>

<p>Ученые считают, что эта таблица широко применялась чиновниками с целью рассчитать суммы налогов, урожайность сельхоз культур или площадь земли. Но все же уверенности в том, что в те времена производились такие сложные вычисления, нет. Однако найденный образец сегодня по факту является примером самой первой десятичной таблицы умножения.</p>


<h3><a href="/history/who/">Кто придумал таблицу умножения?</a></h3>

<p>Бытует мнение, что Пифагор, но это нет так. Таблица умножения существовала еще 4000 лет назад в самых разных вариантах. Точный ее создатель не известен, но она имеет свои корни из древнего мира и относится к самым ранним цивилизациям.</p>

<p>Существует версия, что таблицу умножения придумали параллельно в разных концах планеты, поскольку с необходимостью производить подсчеты больших чисел люди в те времена сталкивались повсеместно.</p>

<p><a href="/history/who/">В этой статье</a> мы рассматриваем основные версии происхождения таблицы умножения.</p>


<h2><a href="/history/facts/">Интересные факты о таблице умножения</a></h2>

<p>Таблица умножения &ndash; это не просто система, которая позволяет нам быстро и легко находить произведение простых чисел. На самом деле, это уникальное явление, о котором, как и о самом умножении, есть немало интересных фактов. В <a href="/history/facts/">этой статье</a> мы расскажем вам о некоторых из них:</p>

<ul>
	<li>Появление таблицы умножения</li>
	<li>Таблица умножения в России</li>
	<li>Виды таблицы умножения</li>
	<li>Заучивание таблицы умножения</li>
	<li>Церковь Умножения Хлебов и Рыб</li>
	<li>Коммуникативность и ассоциативность</li>
	<li>Суть умножения</li>
	<li>&laquo;Неперовы палочки&raquo;</li>
	<li>Решетчатое умножение</li>
	<li>Арийское умножение</li>
	<li>Упрощение умножения</li>
	<li>Рекорды умножения</li>
	<li>Простота умножения</li>
</ul>


<h2 id="2">Таблица Пифагора и Древний мир</h2>

<p>Практически каждый сегодня знает, что создание таблицы умножения приписывают древнегреческому математику Пифагору, жившему примерно в 570-495 годах до н.э. Поэтому, кстати, в некоторых языках, например, в русском, итальянском и французском, а иногда и в английском ее называют таблицей Пифагора.</p>

<p>Но вопрос о том, кто придумал таблицу умножения, как и вопрос о том, как Пифагор придумал ее, если это было он, до сих пор актуален. Согласно данным исследований, никаких письменных работ Пифагора за всю историю найти не удалось, и поэтому все данные о личности и деятельности этого человека приходится черпать из жизнеописаний, а они были сделаны лишь через 200 лет после его смерти.</p>

<p>Первым, кто назвал Пифагора автором таблицы умножения, был неопифагореец, математик и теоретик музыки Никомах Герасский, живший в период примерно с 60 по 120 годы н.э. Тогдашнюю систему нумерации он причислил к ионийской, а также написал, что восходит она к самому Пифагору. Но никаких документальных доказательств этого, а также каких-либо описаний, как Пифагор придумал таблицу умножения, нет.</p>

<p>Уже в привычном нам виде квадрата, в сторонах которого стоят <a href="factor">множители</a>, а в местах их пересечения &ndash; произведения, таблица умножения появилась как раз во &laquo;Введении в арифметику&raquo; Никомаха Герасского. А вот самая старая греческая таблица умножения, сохранившаяся до наших дней на восковой табличке, датируется I веком н.э., и увидеть ее можно в Британском музее.</p>

<p><img src="/images/history/greek.jpg" alt="Cамая старая греческая таблица умножения в Британском музее"/></p>

<p>Исходя из этого, ученые расходятся во мнении о том, когда появилась таблица умножения и кто придумал этот инструмент. Факты, говорящие о том, что она может иметь другое происхождение (как те самые китайские бамбуковые полоски, которые существенно старше Пифагора), по сей день вызывают споры.</p>

<h2 id="3">Таблица умножения в Средневековье</h2>

<p>На самой заре эпохи Средневековья, в 493 году хронист и ученый-пасхалист Викторий Аквинанский предложил свою таблицу умножения. Она содержала 98 столбцов, была представлена римскими цифрами и давала произведение каждого числа от 2 до 50 раз. Строки в этой таблице представляли собой список чисел, который начинался с тысячи, убывал от сотен до ста, далее убывал от десятков до десяти, потом &ndash; от единиц до единицы, и в конце &ndash; до дроби 1/144.</p>

<p>В V веке другая таблица умножения, похожая на таблицу Никомаха, появилась в сочинении Боэция, а в VII веке еще одна такая же таблица встречается уже в учебнике арифметики армянского математика Анании из Ширака.</p>

<p>В то же время, есть данные о том, что дощечка с фрагментами записей, подтверждающих ведение подсчетов с помощью таблицы, была найдена при раскопках древнего японского города Нара, бывшего столицей Японии с 710 по 784 годы. Любопытно также, что иероглифы на этой дощечке очень напоминают древнекитайское письмо.</p>

<p>Другую похожую табличку нашли при раскопках японской столицы Хэйнан, относящейся к периоду истории Японии с 794 по 1185 годы. И ученые считают, что таблица умножения могла &laquo;перекочевать&raquo; из Китая в Японию, ведь между двумя этим государствами шла активная торговля. А еще исследователи полагают, что из Китая таблица могла попасть в Индию, после чего распространилась уже по Азии и Европе.</p>

<h2 id="4">Таблица умножения в Новое время</h2>

<p><img src="/images/history/nepier.jpg" alt="Таблица умножения в Новое время"/></p>

<p>В периоды Средневековья, Возрождения и Нового времени, вплоть до Новейшего времени, существенных изменений в таблице не происходило, но история таблицы умножения продолжалась. В источниках можно найти информацию о том, что в Европе первая таблица умножения впервые появилась в средневековой Англии, и, как и сейчас, представляла собой систему перемножения чисел на 12. Вопрос же о том, какова история возникновения таблицы умножения, был не так популярен.</p>

<p>В разные периоды (1168 год, 1484 год, 1489 год) в работах некоторых специалистов, таких как Никола Шюке, Иоганн Видман и другие, периодически появлялись треугольные и пирамидальные таблицы умножения.</p>

<p>В 16 веке энциклопедист Джон Непер создал свой способ умножения и деления с помощью специальных палочек с обозначенными на них цифрами. Позже их стали называть неперовыми палочками. Они существенно упростили работу людей с цифрами и пользовались популярностью вплоть до 19 века, позже став прообразом современной счетной линейки.</p>

<p>Не менее известен и метод решетчатого умножения (иногда его называют &laquo;китайской решеткой&raquo; или сеточным умножением). Он был распространен во многих культурах (к примеру, в Древней Греции и Индии), а смысл был в том, что для умножения двух многозначных чисел использовалась специальная секта, в которой все ячейки разбиты по диагонали. Сетка позволяла умножать большое количество цифр.</p>

<p>Кроме<strong> </strong>того, в 1820 году был опубликован труд &laquo;Философия арифметики&raquo; шотландского математика и физика Джона Лесли. В нем автор представил таблицу умножения до 99, которая позволяла умножить числа на пары цифр всего за один раз. Позже Лесли стал преподавать эту таблицу ученикам, и при этом рекомендовал заучивать ее до 50*50 (по другим данным, до 25*25).</p>

<p>Сегодня же практически везде используется уже ставшая обычной таблица умножения, заканчивающаяся на 9*9. Несколько непривычный для нас вариант существует в Англии, где до сих пор считают точно так же, как в Средневековье, т.е. таблица там заканчивается на 12*12. Это связано с английской измерительной системой, где есть футы и дюймы (1 фут = 12 дюймов); к тому же раньше в денежном обращении был шиллинг, равный 12 пенсам.</p>

<p>И еще одна несколько необычная таблица умножения распространена в Индии &ndash; там она заканчивается на 20*20. А в Китае применяется таблица меньшего размера, где нет первого столбца, поскольку единица считается мультипликативным тождеством.</p>

<h2 id="5">Таблица умножения в России и СССР</h2>

<p><img src="/images/history/russia.jpg" alt="Таблица умножения в России и СССР"/></p>


<p>Какова же история таблицы умножения в России? В каком году появилась? Кто положил начало ее использованию русскими людьми?</p>

<p>На Руси использовали крестьянский способ умножения, смысл которого сводился к тому, что первый множитель увеличивали в два раза, а второй в два раза уменьшали. И таким образом поступали до момента, пока второй множитель не становился равен одному. Строки, где правое число было четным, просто удалялись, а сумма левых чисел и оставшихся строк показывала искомый результат. При таком способе счета таблица умножения попросту не требовалась, а работать так можно было с любыми многозначными числами.</p>

<p>В России таблица умножения впервые появилась в 1682 году. Ее напечатали в первой русской книге по математике, которая называлась &laquo;Считание удобное, которым всякий человек, купующий или продающий, зело удобно изыскати может число всякие вещи&hellip;&raquo;. Это был своеобразный сборник таблиц с цифрами, и любой, кто занимался куплей или продажей, мог получить в руки инструмент для быстрого счета.</p>

<p>В этой книге можно было увидеть пары чисел от 1*1 до 100*100, а все записи велись славянскими цифрами. Примечательно, что это первое издание почти не пользовалось спросом, а вот второе, напечатанное в 1714 году уже гражданским шрифтом и индийскими цифрами, разошлось тиражом более 700 экземпляров, что было очень неплохо для того времени. Кстати, сегодня по одному образцу данной книги можно найти в Научной библиотеке МГУ и Российской государственной библиотеке.</p>

<p>В 1703 году свет увидел первый учебник по математике &laquo;Арифметика&raquo;, автором которого был математик Леонтий Филиппович Магницкий. И в этом учебнике уже можно было найти более понятные обывателю таблицы умножения и сложения. Представлены он были, конечно, не совсем в привычном для нас виде, но понять, что к чему, не составляло никакого труда.</p>

<p>Со временем по этой книге стали обучаться абсолютно все, а выдающийся русский ученый Михаил Васильевич Ломоносов назвал ее &laquo;вратами учености&raquo;. Несколько экземпляров труда Магницкого хранятся в Отделе редких книг и рукописей&nbsp;библиотеки Московского университета.</p>

<p>Когда же заучивание таблицы умножения стало в России обязательным, это оказалось революционным событием, впоследствии облегчившим как повседневные расчеты и вычисления, так и быт и работу людей в целом. Сегодня же без знания таблицы умножения представить свою жизнь попросту невозможно, а встретить ее можно на любой школьной тетрадке в клеточку.</p>




</Layout_article>
