---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="День таблицы умножения"
h1="День таблицы умножения"
description="Это мероприятие, которое проводится каждый год 2 октября. Главная цель Всемирного дня таблицы умножения: повод вспомнить таблицу умножения детей и взрослых."
keywords="день таблицы умножения, праздник, официальный, 2 октября"
url="tableday"
section="История и факты"
section_url="history"
img="tableday.jpg"
>



<h2>Зачем нужен этот день?</h2>

<p>Главная цель Всемирного дня таблицы умножения: повод вспомнить таблицу умножения детей и взрослых. Поэтому у тех, кто ее подзабыл, а это касается, в первую очередь, конечно же, школьников, есть все шансы наверстать упущенное.</p>

<p>Автором знаменитой таблицы, которая была <a href="/history/who/">впервые обнаружена</a> еще в Древнем Вавилоне, считается всё-таки древнегреческий математик Пифагор, в честь которого она и была названа на разных языках, включая русский, итальянский и французский.</p>

<p>Таблица умножения различается в разных странах и бывает не только на десять чисел. Например, в школах Индии, она заканчивается на 20, а в Англии - на 12. Таблица умножения на 99 чисел была составлена еще сто лет назад, но ее создатель, Джон Лесли, советовал учить числа только до 25. В российских школах значения традиционно доходят до 10&times;10.</p>

<p>И хоть способов заучивания таблицы умножения изобрели очень много, а все же самым популярным среди них остается всегда один и тот же - зубрежка!</p>

<p>В свое время введение заучиваемой наизусть таблицы умножения сделало революционированным устный и письменный счёт. До этого были использованы разные способы вычисления произведений однозначных чисел, которые прилично замедляли весь этот процесс и служили источником для дополнительных ошибок.&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p>В Советском Союзе таблицу умножения обычно было принято &laquo;задавать на лето&raquo; по окончании первого класса, а закрепляли ее на занятиях во втором классе, в возрасте 8 лет. В российских школах чаще всего <a href="/study/">таблицу умножения проходят </a>во втором классе. Что касается стандартов английского школьного образования, то там таблица умножения должна быть выучена к возрасту 11 лет.</p>

<h2>Как празднуется Всемирный День таблицы умножения?</h2>

<p>В Международном Дне таблицы умножения принимают участие ученики, учителя, родители и все желающие.</p>

<p>Школы России, Польши, Колумбии, Таиланда, США и многих других стран не одну неделю готовятся к предстоящему празднованию этого знаменательного события. Главным девизом мероприятия является, ставшая крылатой, фраза:</p>

<p style="text-align:center">&laquo;Младшие проверяют,<br />
насколько взрослые<br />
таблицу умножения знают&raquo;</p>

<p>День таблицы умножения &mdash; это очень веселое, полезное событие и очередной тематический день, посвященный таблице, которую с младшего школьного возраста знают все.</p>

<p>Сначала проводится определенная подготовка, в ходе которой все вспоминают таблицу в игровой форме: &laquo;Мрамор&raquo;, &laquo;Математические прогулки&raquo;, &laquo;Пароль дня&raquo;. А 2 октября эти знания по таблице проверяются с помощью экзаменов.</p>

<p>Взрослые в это время могут похвастаться своими знаниями в области решения сложнейших примеров, напрямую связанных с таблицей умножения, которые проводятся во время экзаменов. А вот экзаменаторами здесь выступают сами школьники.</p>

<p>Они создают специальные комиссии, находящиеся в школах и в спортзалах, а также экзаменационные передвижные патрули. С помощью экзаменационных листов дети проводят опросы обычных прохожих в магазинах и на улице. Также проверяются знания учителей и старших коллег в школе.</p>

<p>Участники в школах тянут экзаменационные вопросы, которые они должны решить в течение трех минут. Такие экзамены могут проходить как во время уроков, когда младшие школьники приходят для опросов в классы к старшим, так и на переменах.</p>

<p>Участники, правильно ответившие на 5 разных фактов о таблице, награждаются картой &laquo;Эксперта таблицы умножения&raquo;. Она является отличным сувениром для взрослых, а также прекрасным стимулом для дальнейшего обучения детей.</p>

<p>Также, каждый правильно ответивший участник, может принять участие в играх: &laquo;Королева скакалки&raquo; и &laquo;Футболист математик&raquo;. Они разыгрываются вместе с картами &laquo;Таблица умножения&raquo; Грабовского и являются дополнительной мотивацией для Всемирного Дня таблицы умножения, делая участие в мероприятии максимально привлекательным.</p>

<p>Все получившие именные сертификаты, имеют возможность принять участие в школьном математическо-логическом конкурсе, где учитель выбирает с определенного сайта шесть головоломок, которые должны быть решены во время урока, в течение 45 минут.</p>

<p>По окончании идет проверка результатов и в случае равного количества правильных ответов - сравнивается время, за которое они были решены. Чем меньше будет потрачено времени на задание, тем, соответственно, будет выше место.</p>

<p>В школах оформляются стенды, на которых размещаются интересные материалы о таблице умножения, ученики готовят различные реквизиты и плакаты, вспоминают таблицу во время школьных конкурсов и во время игр. Здесь же можно познакомиться со способами быстрого изучения таблицы, увидеть рисунки детей, а также посвященные ей стихи.</p>

<p>Также здесь есть и примеры, которые надо быстро решить, чтобы получить приз. Ученики готовят транспаранты, плакаты и лозунги, информирующие о проведении математического праздника. Все это является огромным стимулом для ребят &mdash; ведь это дает шанс получить звание &laquo;Эксперта таблицы умножения&raquo;.</p>

<p>Для учеников проводится &laquo;Блиц-опрос&raquo; в письменном виде на знание таблицы умножения. При этом каждый ребенок получает карту-задание, которая украшена символикой акции. Детям нужно вписать ответы на все табличные случаи умножения и деления.</p>

<p>После этого ребята участвуют в &laquo;Математическом серпантине&raquo;, который предполагает проверку знаний не только по таблице умножения, но и особых знаний, связанных с нулем и единицей. Ребятам здесь приходится вспоминать конкретный смысл действий на умножение и деление. Главный критерий этой работы - быстрота и правильность ее выполнения.</p>

<p>В таких акциях, посвященных Всемирному Дню Таблицы Умножения, могут также принимать участие и родители, для которых существует специально отдельно созданные сценарии проведения мероприятия.</p>

<p>Как говорил С. Соловейчик в романе &laquo;Учение с увлечением&raquo;: &laquo;Учение с увлечением &mdash; это вовсе не учение с развлечением. Школа &mdash; это не цирк, она не может развлекать и не должна этого делать. Школа &mdash; это серьезный, долгий, а иногда тяжелый умственный труд&raquo;.</p>

<p>Поэтому остается только добавить, что участие в таком масштабном мероприятии &mdash; это не развлечение, а серьезная и большая работа многих коллективов школ. И закончить сегодняшнюю статью хочется известными словами:</p>

<p style="text-align:center">Таблица умножения достойна уважения!<br />
Она всегда во всем права!<br />
Чтоб ни случилось в мире,<br />
А все же - будет дважды два<br />
По-прежнему четыре!</p>

<h2>Открытки к Всемирному дню таблицы умножения</h2>

<p>И конечно, этот материал не был бы полным без подборки открыток ко Всемирному дню таблицы умножения.</p>

<p><img src="/images/history/card1.jpg" alt="День таблицы умножения - открытка"/></p>

<p><img src="/images/history/card2.jpg" alt="Открытка на день таблицы умножения"/></p>

<p><img src="/images/history/card3.jpg" alt="Картинка на всемирный день таблицы умножения"/></p>

<p><img src="/images/history/card4.jpg" alt="Открытка в честь дня таблицы Пифагора"/></p>


</Layout_article>
