---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Кто придумал таблицу умножения"
h1="Кто придумал таблицу умножения"
description="Кто же этот человек, кто придумал таблицу умножения? Пифагор, Никомах, Александр Македонский или Владимир Ленин?"
keywords="кто придумал таблицу умножения, по математике, Пифагор, зачем придумали, где придумали, когда появилась таблица умножения"
url="who"
section="История и факты"
section_url="history"
img="who.jpg"
>


<p><strong>Содержание:</strong></p>

<ul>
	<li><a href="#1">Каменные таблицы в Вавилоне</a></li>
	<li><a href="#2">Бамбуковые полоски из древнего Китая</a></li>
	<li><a href="#3">Таблица Пифагора в Древней Греции</a></li>
</ul>

<p>Таблица умножения существовала еще 4000 лет назад в самых разных вариантах. Точный ее создатель не известен, но она имеет свои корни из древнего мира и относится к самым ранним цивилизациям.</p>

<p>Существует версия, что таблицу умножения придумали параллельно в разных концах планеты, поскольку с необходимостью производить подсчеты больших чисел люди в те времена сталкивались повсеместно.</p>

<p>Рассмотрим некоторые варианты.</p>

<h2 id="1">Каменные таблицы в Вавилоне</h2>

<img src="/images/history/vavilon.jpg" alt="Каменные таблицы в Вавилоне">


<p>При раскопках древних цивилизаций Вавилона были обнаружены сотни тысяч разных табличек, имеющих отношение к математике, которая в те времена была очень практичной для вавилонян, так как помогала им, в первую очередь, в торговых делах.</p>

<p>Многие документы были написаны в виде клиновидных иероглифов на глиняных табличках разного размера. Такие таблички имели форму прямоугольников, их было очень удобно держать в руке из-за небольших размеров, примерно 5х8 см.</p>

<p>Это некие тексты таблиц, с которыми успешно могут справляться те, кто освоил вавилонскую систему счисления. По сути &mdash; это самые первые известные примеры математических таблиц, которые являются полезными даже в наше время.</p>

<h3>Система счисления</h3>

<p>В Древнем Вавилоне существовала система счисления, имеющая некоторые особенности. Числа в ней представлены с основанием шестидесятеричной в системе местоимений. И это в те времена было очень важное изобретение, которое сохранилось до сих пор для измерения времени, углов, градусов, часов, а также минут и секунд.</p>

<p>На табличках изображены цифры от 1 до 59, а символ нуля отсутствует.</p>

<p>В таблицах умножения в центральных столбцах отображаются вавилонские числа от 1 до 20, плюс цифры - 30, 40, 50 и отсутствует десятичная точка.</p>

<img src="/images/history/babylon.jpg" alt="Система счисления в Вавилоне">

<p>Существовали таблицы в таких измерениях:</p>

<ul>
	<li>Десятикратные таблицы. Эта таблица умножения на 10 раз, где не учитывается множитель.</li>
	<li>Пятикратные таблицы на 5 раз.</li>
	<li>Таблица двенадцати раз. В этой таблице на 12 раз идет повторение множителя в каждой строке.</li>
</ul>

<h2 id="2">Бамбуковые полоски из древнего Китая</h2>

<img src="/images/history/china.jpg" alt="Бамбуковые полоски из древнего Китая">

<p>Есть предположение, что знаменитую таблицу умножения также могли придумать в Поднебесной. Эту версию подтверждает древнейшая находка, являющаяся своего рода очередным фрагментом таблицы.</p>

<p>Она была обнаружена в одной из южных провинций всего несколько лет назад. Предположительно, данная таблица в виде бамбуковых полосок, могла из Китая попасть в Индию с торговыми караванами, откуда с успехом распространилась по Европе и Азии.</p>

<p>Найденной матрице - около 2300 лет. Это старейшая в мире десятичная таблица умножения с основанием на 10. Представляет собой каллиграфические полоски из бамбука, собранные в правильном порядке, которые показывают таблицу умножения до 99.</p>

<p>Каждая полоска имеет 7-12 мм в ширину и 50 см в длину, на которой черной тушью нанесена вертикальная линия каллиграфии древнего Китая.</p>

<p>По мнению историков, данные отрезки бамбука содержат в себе до 65 древних текстов и являются одними из самых главных артефактов того временного периода.</p>

<p>Полоски из бамбука в количестве 21 штуки отличались от всех других, обнаруженных ранее таблиц, поскольку содержали в себе только цифры. Поэтому они также могли оказаться одной из первых таблиц умножения.</p>

<p>По словам ученых из Пекина, когда эти полоски расположены в правильном порядке, то в голове сразу возникает некая матричная структура, где крайний правый и верхний ряд содержат расположенные справа налево и, соответственно, сверху вниз такие же 19 чисел:</p>

<ol>
	<li>0.5;</li>
	<li>целые числа от 1 до 9;</li>
	<li>кратные 10 от 10 до 90.</li>
</ol>

<p>На древней таблице записи на пересечении каждой строки и столбца в точности также предоставляют результаты умножения чисел, как и в современной таблице умножения.</p>

<p>Такие таблицы могут оказать помощь в умножении любого целого или половинного числа от 0.5 до 99.5. При этом числа, не представленные напрямую, сперва необходимо преобразовать в серию сложений.</p>

<p>Это можно рассмотреть на данном примере: 22.5 х 35.5 есть возможность разбить на (20+2+0.5) х (30+5+0.5).</p>

<p>Это даст девять отдельных умножений: 20х30, 20х5, 20х0.5, 2х30.</p>

<p>Если все ответы суммировать между собой, то можно получить окончательный результат. Таким образом, это служит чем-то вроде древнего калькулятора.</p>

<h3>Зачем придумали такую таблицу?</h3>

<p>По мнению китайских исследователей из Пекина, в древности такие таблицы использовались чиновниками для расчетов площади земли, урожайности сельскохозяйственных культур и, соответственно, суммы положенных налогов.</p>

<p>Ученые уверены, что данную матрицу можно использовать даже для деления или получения квадратного корня. Если, конечно, в то время такие сложные задачи в принципе могли выполняться.</p>

<p>По словам специалистов, эта матрица является полностью уникальной в истории Китая, поскольку все обнаруженные ранее, даже самые известные китайские таблицы, содержали лишь короткие предложения, такие, как &ldquo;шесть восьмерок порождают сорок восемь&rdquo;, и имели самое простое умножение.</p>

<p>Данное же открытие представляет большой интерес&raquo;, - делится впечатлениями историк и специалист по математике из Нью-Йорка Джозеф Добен - &laquo;Это поистине самый ранний артефакт десятичной таблицы умножения в мире&raquo;.</p>

<p>Это определенным образом показывает, что сложнейшая арифметика в период Воюющих царств в древнем Китае была создана как для теоретических, так и для коммерческих целей.</p>

<h2 id="3">Таблица Пифагора в Древней Греции</h2>

<img src="/images/history/greek.jpg" alt="Таблица Пифагора в Древней Греции">

<p>Кто придумал таблицу умножения впервые - так и останется неизвестным, но ее приписывают древнегреческому математику Пифагору, жившему 570 до н. э. На итальянском, русском, французском и частично английском языках ее называют Таблицей Пифагора. Именно Пифагор является первым конкретным человеком, который смог ее четко описать. Поэтому именно он является законным основателем таблицы умножения.</p>

<p>Пифагор не оставил после себя ни одного письменного трактата. Все сведения о нем мы сегодня можем почерпнуть из его жизнеописаний, сделанных не ранее, чем через два столетия после его смерти.</p>

<p>Утверждение, что авторство принадлежит этому древнегреческому ученому, появилось благодаря последователю учения Пифагора &ndash; неопифагорейцу Никомаху, жившему на рубеже I и II веков (60&ndash;120 &nbsp;гг.) нашей эры.</p>

<p>По словам Никомаха, который записал таблицу в ионийской нумерации, она восходит к &laquo;самому Пифагору&raquo;. Поэтому греко-римский математик, являющийся последователем неопифагореизма, включил эту таблицу в свое Введение в арифметику, тогда как самая древняя сохранившаяся греческая таблица умножения находится на восковой табличке, имеющей дату 1 века н. э.</p>

<p>В настоящее время она находится в музее Британии.</p>



</Layout_article>
