---
import Layout_main from '../layouts/Layout_main.astro';
---

<Layout_main
title="Таблица умножения"
description="Этот сайт посвящён таблице умножения, способам её понять и выучить, мнемотехникам для запоминания и всему, что с ней связано."
keywords="аблица умножения, таблица умножения тренажёр, как выучить таблицу умножения, как быстро выучить таблицу умножения, таблица умножения распечатать, таблица умножения онлайн, таблица умножения 2 класс, таблица умножения 3 класс, легко и быстро, таблица умножения игра, на 4, на 7, на 6, на 8, на 9, на 5, наизусть, распечатать, математика, видео, фото"
url=""
 >

 <section class="top">
	<div class="wrapper">
		<div class="topdesc">
			<h1>Таблица умножения</h1>
			<p>Всё о таблице умножения и способах её запоминания.</p>
		</div>

		<div class="tablecontainer">
			<div class="mt-table-container"></div>
			<div class="mt-result-wrap cf"><span class="mt-results"></span></div>
		</div>

		<div class="mainchips">
			<a href="/train/" class="chip"><strong>🤖</strong><span>Тренажёры</span></a>
			<a href="/study/" class="chip"><strong>🎓</strong><span>Как выучить</span></a>
			<a href="/print/" class="chip"><strong>📃</strong><span>Распечатать</span></a>
			<a href="/games/" class="chip"><strong>🎲</strong><span>Игры</span></a>
			<a href="/factor/" class="chip"><strong>❎</strong><span>Множители</span></a>
			<a href="/types/" class="chip"><strong>🧮</strong><span>Виды</span></a>
			<a href="/history/" class="chip"><strong>🗿</strong><span>История и факты</span></a>
			<a href="/photo/" class="chip"><strong>📷</strong><span>Фото</span></a>
			<a href="/video/" class="chip"><strong>🎥</strong><span>Видео</span></a>
			<a href="/poetry/" class="chip"><strong>📖</strong><span>Стихи и песни</span></a>
		</div>

		<div class="mainchapers">
			<div class="mainchaperblock">
				<span><a href="/study/laws/">Законы умножения</a></span>
				<span><a href="/history/who/">Кто придумал таблицу умножения</a></span>
				<span><a href="/history/tableday/">День таблицы умножения</a></span>
				<span><a href="/print/cards/">Карточки</a></span>
			</div>
			<div class="mainchaperblock">
				<span><a href="/study/multiplication/">Что такое умножение</a></span>
				<span><a href="/study/slides/">Презентация</a></span>
				<span><a href="/study/fingers/">Умножение на пальцах</a></span>
				<span><a href="/study/why/">Зачем учить</a></span>
			</div>
			<div class="mainchaperblock">
				<span><a href="factor/20-30-100/">Умножение до 100</a></span>
				<span><a href="/music/">Музыкальные таблицы</a></span>
				<span><a href="/poetry/usachev/">Стихи Усачева</a></span>
				<span><a href="/types/china/">Китайское умножение</a></span>
			</div>	
		</div>


			
	</div>
</section>






<section class="articlewrap"><article temprop="articleBody">
	
	<h2 id="1">🤖 <a href="/train/">Тренажёры и приложения</a></h2>
	
	<p>В этом разделе мы собрали тренажёры, проверочные тесты и задания, которые можно проходить онлайн, чтобы тренировать навыки умножения.</p>
	
	<ul>
		<li><a href="/train/">Онлайн-тренажёр</a></li>
		<li><a href="/train/#1">Кому подходят тренажеры?</a></li>
		<li><a href="/train/#2">Как правильно повторять?</a></li>
		<li><a href="/train/#3">Что еще важно знать?</a></li>
		<li><a href="/train/#4">Как учить таблицу умножения?</a></li>
		<li><a href="/train/#5">Техники и лайфхаки для запоминания и проверки таблицы умножения</a></li>
		<li>Проверка знания таблицы умножения</li>
		<li>Задания на таблицу умножения</li>
		<li>Приложения</li>
		<li>Интерактивная таблица умножения</li>
		<li>Проверочные тесты</li>
	</ul>
	
	<h2 id="2">🎓 <a href="/study/">Как выучить</a></h2>
	
	<p>Для быстрого и лёгкого запоминания таблицы Пифагора существуют способы, приёмы и мнемотехники, которые вы сможете найти в специальном разделе на сайте.</p>
	
	<ul>
		<li><a href="/study/">Как выучить легко и быстро</a></li>
		<li><a href="/study/laws/">Законы умножения</a></li>
		<li><a href="/study/prop/">Свойства умножения</a></li>
		<li><a href="/study/multiplication/">Что такое умножение</a></li>
		<li><a href="/study/slides/">Презентация таблицы умножения</a></li>
		<li><a href="/study/fingers/">Таблица умножения на пальцах</a></li>
		<li><a href="/study/why/">Зачем учить таблицу умножения?</a></li>
		<li><a href="/study/threedays/">Книга Узоровой О.В. &laquo;Таблица умножения за 3 дня&raquo;</a></li>
		<li>Таблица умножения в игровой форме</li>
		<li>Мнемотехники</li>
		<li>Способы выучить таблицу умножения</li>
	</ul>
	
	<h2 id="3">📃 <a href="/print/">Распечатать</a></h2>
	
	<p>Часть родителей и педагогов предпочитают обучать детей таблице умножения с помощью печатных материалов: таблиц, карточек, мнемокарточек, самодельных игр. Это особенно актуально, если ребенок проводит слишком много времени в гаджетах.</p>
	
	<ul>
		<li><a href="/print/cards/">Карточки по таблице умножения</a></li>
		<li><a href="/print/#2">Таблица умножения</a></li>
		<li><a href="/print/#3">Примеры из таблицы умножения без ответов</a></li>
		<li><a href="/print/#4">Таблица умножения без ответов вразброс</a></li>
		<li><a href="/print/#5">Таблица умножения А4</a></li>
		<li><a href="/print/#55">Таблица умножения на 12</a></li>
		<li><a href="/print/#6">Сделай таблицу умножения</a></li>
		<li><a href="/print/#7">Игра на пальцы</a></li>
	</ul>
	
	<h2 id="4">🎲 <a href="/games/">Игры</a></h2>
	
	<p>Учить таблицу умножения можно и в игровой форме с помощью стихов, песен, раскрасок. Когда процесс обучения идёт играючи, удовольствие получает и ребёнок, и родитель или педагог.</p>
	
	<ul>
		<li><a href="/games/#1">Настольные игры</a></li>
		<li><a href="/games/#2">Приложения для Android и iOS</a></li>
		<li><a href="/games/#3">Компьютерные игры</a></li>
		<li><a href="/games/#4">Дополнительные инструменты</a></li>
		<li><a href="/games/monkey/">Игра &laquo;Monkey Multiplier&raquo;</a></li>
		<li>Игры для запоминания таблицы умножения</li>
		<li>Раскраска таблицы умножения</li>
	</ul>
	
	
	<h2 id="5">❎ <a href="/factor/">Множители</a></h2>
	
	<p>Чтобы запомнить таблицу Пифагора, удобно делить задачу на части, другими словами, учить умножения на конкретные множители по отдельности. Мы собрали материалы и тренажёры для каждого множителя на отдельной странице.</p>
	
	<ul>
		<li><a href="/factor/0/">Умножение на 0</a></li>
		<li><a href="/factor/1/">Умножение на 1</a></li>
		<li><a href="/factor/2/">Умножение на 2</a></li>
		<li><a href="/factor/3/">Умножение на 3</a></li>
		<li><a href="/factor/4/">Умножение на 4</a></li>
		<li><a href="/factor/5/">Умножение на 5</a></li>
		<li><a href="/factor/6/">Умножение на 6</a></li>
		<li><a href="/factor/7/">Умножение на 7</a></li>
		<li><a href="/factor/8/">Умножение на 8</a></li>
		<li><a href="/factor/9/">Умножение на 9</a></li>
		<li><a href="/factor/10/">Умножение на 10</a></li>
		<li><a href="/factor/11/">Умножение на 11</a></li>
		<li><a href="/factor/12/">Умножение на 12</a></li>
		<li><a href="/factor/20-30-100/">Умножение до 20, 30 и 100</a></li>
	</ul>
	
	<h2 id="6">🧮 <a href="/types/">Виды</a></h2>
	
	<p>Существует множество видов таблиц умножения. Мы подробно разбираем каждый по отдельности в данном разделе.</p>
	
	<ul>
		<li><a href="/types/#1">Китайская таблица умножения</a></li>
		<li><a href="/types/#2">Таблица умножения и деления</a></li>
		<li><a href="/types/#3">Древняя таблица умножения на фрагментах бамбуковых полосок</a></li>
		<li><a href="/types/#4">Таблица на костях Напьера</a></li>
		<li><a href="/types/#5">Таблица Пифагора</a></li>
		<li><a href="/types/#6">Древнерусское умножение</a></li>
		<li><a href="/types/#7">Таблица сокращенного умножения</a></li>
		<li><a href="/types/#8">Умножение на пальцах</a></li>
		<li><a href="/types/#9">Пирамида умножения</a></li>
		<li><a href="/types/#10">Арийское умножение</a></li>
		<li><a href="/types/#11">Ведический квадрат</a></li>
		<li><a href="/types/china/">Китайское умножение с линиями</a></li>
		<li><a href="/types/japan/">Японское умножение с кругами</a></li>
		<li><a href="/types/degree/">Умножение степеней</a></li>
		<li><a href="/types/fraction/">Умножение дробей</a></li>
		<li><a href="/types/reduction/">Сокращённое умножение</a></li>
		<li><a href="/types/column/">Умножение в столбик</a></li>
	</ul>
	
	<h2 id="7">🗿 <a href="/history/">История и факты</a></h2>
	
	<p>Самые старые из известных таблиц умножения использовались вавилонянами около 4000 лет назад. С тех пор таблицы умножения менялись, совершенствовались, переосмысливались. В этом разделе вы найдете много интересных фактов из истории таблиц умножения.</p>
	
	<ul>
		<li><a href="/history/">История таблицы умножения</a></li>
		<li><a href="/history/who/">Кто придумал таблицу умножения</a></li>
		<li><a href="/history/facts/">Интересные факты</a></li>
		<li><a href="/history/tableday/">День таблицы умножения - 2 октября</a></li>
		<li>Таблица Пифагора и таблица умножения</li>
		<li>В каком классе учат таблицу умножения?</li>
	</ul>
	
	<h2 id="10">📖 <a href="/poetry/">Стихи и песни</a></h2>
	
	<p>Мы предлагаем вам небольшую подборку стихов о таблице умножения от разных авторов, а также полезные советы в использовании этого метода для родителей и педагогов:</p>
	
	<ul>
		<li><a href="/poetry/">Стихи и песни о таблице умножения</a></li>
		<li><a href="/poetry/usachev/">Таблица умножения в стихах - Андрей Усачев</a></li>
		<li><a href="/poetry/kazarina/">Таблица умножения - Марина Казарина</a></li>
		<li><a href="/poetry/sobakin/">Таблица умножения - Тим Собакин</a></li>
		<li><a href="/poetry/trofimov/">Двойка за урок &ndash; беда - Владимир Трофимов</a></li>
		<li><a href="/poetry/prok/">Умножения таблицу - Юлия Прокопьева</a></li>
		<li><a href="/poetry/music/">Музыкальные таблицы умножения</a></li>
	</ul>
	
	<h2 id="8">📷 <a href="/photo/">Фото</a></h2>
	
	<p>В этом разделе мы собираем различные фотографии таблиц умножения, <a href="/photo/memes/">мемы</a>, гифки, ведь это тоже часть современной культуры изучения пифагоровой таблицы.</p>
	
	<ul>
		<li><a href="/photo/#1">Древние версии таблицы умножения на камнях</a></li>
		<li><a href="/photo/#2">Таблица умножения на папирусе в Древнем Китае</a></li>
		<li><a href="/photo/#3">Таблица на костях Непера</a></li>
		<li><a href="/photo/#4">Таблица Пифагора</a></li>
		<li><a href="/photo/#5">Древнерусская таблица умножения</a></li>
		<li><a href="/photo/#6">Машина Паскаля</a></li>
		<li><a href="/photo/#7">Арифмометры, помогающие умножать</a></li>
		<li><a href="/photo/#8">Таблица умножения на задней стороне тетради</a></li>
		<li><a href="/photo/#9">Как выглядела таблица умножения в СССР</a></li>
		<li><a href="/photo/#10">Как умножают в Китае</a></li>
		<li><a href="/photo/#11">Футболки с таблицей умножения</a></li>
		<li><a href="/photo/#12">Настольные игры для запоминания таблицы умножения</a></li>
		<li><a href="/photo/#13">Компьютерные игры</a></li>
		<li><a href="/photo/#14">Игры и приложения для смартфонов</a></li>
		<li><a href="/photo/#15">Кубики с таблицей умножения</a></li>
		<li><a href="/photo/#16">Распечатки для изучения таблиц умножения</a></li>
		<li><a href="/photo/#17">&laquo;Лягушка&raquo; игра на пальцы</a></li>
		<li><a href="/photo/#18">Круги для умножения</a></li>
		<li><a href="/photo/#19">Шпаргалки с таблицей умножения</a></li>
		<li><a href="/photo/memes/">Мемы с таблицей умножения</a></li>
	</ul>
	
	<h2 id="9">🎥 <a href="/video/">Видео</a></h2>
	
	<p>Изучать таблицу умножения, а также узнавать педагогические методики, помогающие с ней работать, можно и видеоформате. Для этого на сайте есть подборки видео роликов, посвященных данной теме.</p>
	
	<ul>
		<li><a href="/video/#1">Таблица умножения. Круто!</a></li>
		<li><a href="/video/#2">Устный счет. Как легко и быстро умножать в уме числа до 100 и до 1000</a></li>
		<li><a href="/video/#3">10 глупых вопросов математику</a></li>
		<li><a href="/video/#4">Можно ли доверять математике?</a></li>
		<li><a href="/video/#5">Лайфхак как быстро выучить таблицу умножения</a></li>
		<li><a href="/video/#6">Самые важные идеи математики</a></li>
		<li><a href="/video/#7">Как объяснить деление в столбик? Деление чисел уголком</a></li>
		<li><a href="/video/#8">Как стать лучше в математике</a></li>
		<li><a href="/video/#9">Как выучить таблицу умножения за 3 дня</a></li>
		<li><a href="/video/#10">Зачем нужна математика?</a></li>
		<li><a href="/poetry/music/">Музыкальные таблицы умножения</a></li>
	</ul>
</article></section> 

<style is:inline>
	.cf:before, .cf:after { content: " "; display: table;}
	.cf:after {  clear: both;}
	.tablecontainer {box-sizing:border-box;  max-width:1200px;  margin: 0 auto;  text-align: center;}
	.mt-heading {  margin: 0px 0px;  font-size: 2.5em;}
	.mt-table {  margin: 0 auto; box-shadow: 0 10px 80px rgba(110, 130, 150, 0.5);   border-radius: 10px;   overflow: hidden; width:94%; max-width:1200px; border-collapse: collapse;}
	.mt-tcell {  padding: 5px 12px; line-height:100%;  font-size: 12px; border:1px solid rgba(0,0,0,0.05); -webkit-transition: all .1s ease-in; transition: all .1s ease-in; cursor:pointer;}
	.mt-result-wrap {  margin: 20px 0;  min-height:40px;}
	.mt-result-wrap span { font-size: 20px; font-weight:700; color:#204ce8;}
	.mt-results {  padding: 0 0 0 5px;  text-align: left;  display:inline-block;  box-sizing:border-box;}
	.is-zone {  background-color: rgba(255, 0, 0, 0.05);}
	.is-zone-border {  background-color: rgba(255, 0, 0, 0.1);}
	.is-square {  background-color: rgb(32 136 232 / 80%); color:white; }
	.is-result, .is-data {  background-color: rgba(255, 0, 0, 0.8); color:white;}
	
	@media screen and (max-width: 800px) {
	.mt-tcell {  padding: 9px; line-height:100%;  font-size: 13px;  cursor: default;}
	
	}
</style >
<script  type="text/javascript">
	'use strict';
	
	var MultiplicationTable = function() {
	  this.resultContainer = document.querySelector('.mt-results');
	  this.tableData = [];
	  this.highlightedCells = [];
	
	  this.createNewElement = function(el, className) {
		var el = document.createElement(el);
		el.classList.add(className);
		return el;
	  }
	
	  this.distributeCells = function(table) {
		for (var row = 1; row < 11; row++) {
		  var createRow = this.createNewElement('tr', 'mt-trow');
		  var trow = [];
		  for (var cell = 1; cell < 11; cell++) {
			var createCell = this.createNewElement('td', 'mt-tcell');
			var resultText = row * cell;
			createCell.dataset.row = row;
			createCell.dataset.cell = cell;
			createCell.dataset.result = row * cell;
			createCell.setAttribute('title', resultText);
			createCell.innerHTML = row * cell;
			createRow.appendChild(createCell);
			trow.push(createCell);
			if (cell === row) {
			  createCell.classList.add('is-square');
			}
		  }
		  this.tableData.push(trow);
		  table.appendChild(createRow);
		}
	  }
	
	  this.createTable = function() {
		var table = this.createNewElement('table', 'mt-table');
		table.setAttribute('cellspacing', '0');
		this.distributeCells(table);
		return table;
	  }
	
	  this.render = function() {
		var container = document.querySelector('.mt-table-container');
		container.appendChild(this.createTable());
	  }
	
	  this.writeResult = function(row, cell) {
		this.resultContainer.innerText = row + ' × ' + cell + ' = ' + row * cell;
	  }
	
	  this.highlightCells = function(row, cell, el) {
		var arrayList = this.tableData,
		  rowNumber = row - 1,
		  cellNumber = cell - 1,
		  vertNum = arrayList[rowNumber][0],
		  horizNum = arrayList[0][cellNumber];
	
		el.classList.add('is-result');
		vertNum.classList.add('is-data');
		horizNum.classList.add('is-data');
		for (var i = 0; i < arrayList.length; i++) {
		  if (i <= rowNumber) {
			for (var j = 0; j < arrayList[i].length; j++) {
			  if (j <= cellNumber) {
				arrayList[i][j].classList.add('is-zone');
				if (j === cellNumber || i === rowNumber) {
				  arrayList[i][j].classList.add('is-zone-border');
				}
			  }
			  this.highlightedCells.push(arrayList[i][j]);
			}
		  }
		}
	  }
	
	  this.dimCells = function() {
		if (this.highlightedCells != 0) {
		  for (var i = 0; i < this.highlightedCells.length; i++) {
			this.highlightedCells[i].classList.remove('is-zone', 'is-zone-border', 'is-result', 'is-data');
		  }
		}
	  }
	
	  this.parseCellData = function(row, cell, el) {
		this.dimCells();
		this.highlightCells(row, cell, el);
	  }
	
	  this.displayResult = function(e) {
		if (e.target.nodeName.toLowerCase() === 'td') {
		  var row = e.target.dataset.row,
			cell = e.target.dataset.cell;
		  this.writeResult(row, cell);
		  this.parseCellData(row, cell, e.target);
		}
	  }
	
	  this.hideResult = function() {
		this.resultContainer.innerText = '';
		this.dimCells();
	  }
	
	  this.addEvents = function() {
		var table = document.querySelector('.mt-table');
		table.addEventListener('mouseover', this.displayResult.bind(this));
		table.addEventListener('mouseout', this.hideResult.bind(this));
	  }
	
	  this.init = function() {
		this.render();
		table.addEvents();
	  }
	};
	
	var table = new MultiplicationTable();
	
	table.init();
	</script>

</Layout_main>