<footer>
	<div class="wrapper">
		<div class="fmenu firstletterlogo"><a href="/">times<span>table</span>.com</a> © 2025</div>
		<div class="fmenu">
			<a class="fmenuitem" href="/about/">О проекте</a>
			<a class="fmenuitem" href="/docs/">Документы</a>
			<a class="fmenuitem" href="/contact/">Контакты</a>
		</div>
		<div class="allfootsocial">
			<a href="https://vk.com/timestable" class="footsocial" target="_blank" title="Мы Вконтакте"><img src="/images/0/social/vk.svg" alt="vk"></a>
			<a href="https://t.me/timestable_ru" class="footsocial" target="_blank" title="Мы в Телеграм"><img src="/images/0/social/telegram.svg" alt="telegram"></a>
			<a href="https://ok.ru/group/70000001528389" class="footsocial" target="_blank" title="Мы на Одноклассниках"><img src="/images/0/social/ok.svg" alt="ok"></a>
		</div>
	</div>
</footer>
<script type="text/javascript" src="/js/jquery.js"></script><script type="text/javascript" src="/js/main.js?1"></script>

<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(90352389, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/90352389" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->