---
import { Pages } from "../layouts/pages";

---

<header>
<div class="topleft">
<a class="logo" href="/" aria-label="timestable.ru"></a>
</div>
<div class="topright">
<div class="toprightmenu"><span class="topopen"></span><span class="topclose"></span></div>
<div class="topmenu">
<div class="topmenuwrap">

	<div class="topmenulink">
		<a href="/" class="headerlink"><strong>❎</strong><span>Главная</span></a>
		<a href="/train/" class="headerlink"><strong>🤖</strong><span>Тренажёры</span></a>
		<a href="/study/" class="headerlink"><strong>🎓</strong><span>Как выучить</span></a>
		<a href="/print/" class="headerlink"><strong>📃</strong><span>Распечатать</span></a>
		<a href="/games/" class="headerlink"><strong>🎲</strong><span>Игры</span></a>
		<a href="/factor/" class="headerlink"><strong>🔢</strong><span>Множители</span></a>
		<a href="/types/" class="headerlink"><strong>🧮</strong><span>Виды</span></a>
		<a href="/history/" class="headerlink"><strong>🗿</strong><span>История</span></a>
		<a href="/photo/" class="headerlink"><strong>📷</strong><span>Фото</span></a>
		<a href="/video/" class="headerlink"><strong>🎥</strong><span>Видео</span></a>
		<a href="/poetry/" class="headerlink"><strong>📖</strong><span>Стихи</span></a>
	</div>


</div>
</div>
</div>
</header>