---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Умножение на пальцах"
h1="Умножение на пальцах"
description="Умножение на пальцах &ndash; это простой метод вычисления произведения двух чисел в голове. Он может использоваться в том случае, когда числа не слишком велики и нужно быстро получить результат."
keywords="Умножение на пальцах, умножение на 9 на пальцах рук, мнемотехники умножения"
url="fingers"
section="Изучение"
section_url="study"
img="fingers.jpg"
>

<h2>Зачем уметь умножать на пальцах?</h2>

<p>Умножение на пальцах может использоваться в различных ситуациях, когда необходимо быстро произвести вычисление произведения двух чисел в голове, например:</p>

<ul>
	<li>В повседневной жизни &ndash; для вычисления цены товара или расходов и т.п.</li>
	<li>В школе &ndash; для быстрого вычисления простых математических выражений.</li>
	<li>В спорте &ndash; когда на соревнованиях необходимо быстро вычислить результат.</li>
</ul>

<p>В дополнение к перечисленному, умножение на пальцах также может использоваться:</p>

<ul>
	<li>В ситуациях, когда нет доступа к калькулятору или другому математическому инструменту.</li>
	<li>В случаях, когда необходимо быстро проверить результат вычислений, сделанных на калькуляторе или другим способом.</li>
	<li>В обучении математике в качестве простого и наглядного способа для понимания процесса умножения.</li>
</ul>

<p>А еще умножение на пальцах может быть полезным по следующим причинам:</p>

<ul>
	<li>Улучшение математических навыков: практика умножения на пальцах помогает улучшить навык вычислений в уме и ускоряет процесс вычисления.</li>
	<li>Развитие памяти: для умножения на пальцах нужно помнить последовательность позиций пальцев для разных чисел.</li>
	<li>Понимание процесса вычислений: визуализация процесса умножения на пальцах может помочь понять процесс умножения и улучшить понимание математики.</li>
</ul>

<p>Несмотря на то, что данный навык обычно демонстрируется и преподается детям, взрослым он тоже может пригодиться. Хотя бы по той простой причине, что умножение на пальцах происходит наглядно и заметно упрощает процесс вычислений.</p>

<p>Естественно, умножить на пальцах большие числа не получится, но примеры на 6, 7, 8 и 9 (при условии, что навык наработан) решаются практически моментально. Однако прежде, чем учиться умножать при помощи пальцев, необходимо запомнить несколько основ.</p>

<h2>Основы умножения на пальцах</h2>

<p>Скорее всего, вы помните эти основы, но освежить их в памяти не помешает никогда.</p>

<p>Самое главное для умножения на пальцах &ndash; это уметь складывать, а также знать таблицу умножения от 1 до 5 и <a href="/factor/10/">умножать на 10</a>. Это элементарные основы таблицы умножения, поэтому метод с пальцами для примеров на 2, 3, 4 и 5 не применяется.</p>

<p>Если вы учите методу ребенка, позаботьтесь о том, чтобы эти условия были выполнены. А решить остальные примеры (т.е. умножение на 6, 7, 8 и 9) вам помогут пальцы.</p>

<p>Расположите руки ладонями к себе и визуально пронумеруйте пальцы цифрами от 6 до 10. Алгоритм таков:</p>

<ul>
	<li>Мизинец &ndash; цифра &laquo;6&raquo;.</li>
	<li>Безымянный палец &ndash; цифра &laquo;7&raquo;.</li>
	<li>Средний палец &ndash; цифра &laquo;8&raquo;.</li>
	<li>Указательный палец &ndash; цифра &laquo;9&raquo;.</li>
	<li>Большой палец &ndash; цифра &laquo;10&raquo;.</li>
</ul>

<p>На начальном этапе для удобства можно пронумеровать пальцы соответствующими цифрами ручкой. Это поможет освоить методику намного быстрее, потому что в процессе пальцы обеих рук будут соприкасаться и будет видно, какие пальцы соединяются. И после такой подготовки можно начинать заниматься.</p>

<h2>Умножение на пальцах на 6, 7, 8 и 10</h2>

<p>Чтобы понять систему, давайте рассмотрим, как умножить 6 на 6, на 7, на 8, на 9 и на 10 поэтапно. Сначала расположите руки ладонями к себе, а далее следуйте подсказкам:</p>

<ul>
	<li>Чтобы умножить 6 на 6, соедините мизинцы обеих рук (мизинец, как мы помним, обозначает цифру &laquo;6&raquo;). Далее количество соединенных пальцев умножьте на 10, и получите 20. А количество свободных пальцев на каждой из рук (по четыре на каждой) умножьте друг на друга, и получите 16. Теперь сложите 20 и 16, и получите ответ 36.</li>
	<li>Чтобы умножить 6 на 7, соедините мизинец левой руки (цифра &laquo;6&raquo;) и безымянный палец правой руки (цифра &laquo;7&raquo;). Далее сложите количество соединенных пальцев (два) и пальцев, оставшихся под ними (один), и умножьте на 10, и получите 30. А количество свободных пальцев на каждой из рук (четыре слева и три справа) умножьте друг на друга, и получите 12. Теперь сложите 30 и 12, и получите ответ 42.</li>
	<li>Чтобы умножить 6 на 8, соедините мизинец левой руки (цифра &laquo;6&raquo;) и средний палец правой руки (цифра &laquo;8&raquo;). Далее сложите количество соединенных пальцев (два) и пальцев, оставшихся под ними (два), и умножьте на 10, и получите 40. А количество свободных пальцев на каждой из рук (четыре слева и два справа) умножьте друг на друга, и получите 8. Теперь сложите 40 и 8, и получите ответ 48.</li>
	<li>Чтобы умножить 6 на 9, соедините мизинец левой руки (цифра &laquo;6&raquo;) и указательный палец правой руки (цифра &laquo;9&raquo;). Далее сложите количество соединенных пальцев (два) и пальцев, оставшихся под ними (три), и умножьте на 10, и получите 50. А количество свободных пальцев на каждой из рук (четыре слева и один справа) умножьте друг на друга, и получите 4. Теперь сложите 50 и 4, и получите ответ 54.</li>
</ul>

<p>Сколько будет 6 на 10, думаем, отвечать не нужно. Если же очень хочется проделать вычисления на пальцах, действуйте по описанному алгоритму. Чтобы умножить 6 на 10, соедините мизинец левой руки (цифра &laquo;6&raquo;) и большой палец правой руки (цифра &laquo;10&raquo;). Далее сложите количество соединенных пальцев (два) и пальцев, оставшихся под ними (четыре), и умножьте на 10, и получите 60. А количество свободных пальцев на каждой из рук (четыре слева и ни одного справа) умножьте друг на друга, и получите 0. В итоге ваш ответ 60.</p>

<p>Умножение на 7 и 8 происходит точно по такому же принципу, и, освоив умножение на пальцах шестерки, вы не будете испытывать никаких сложностей с умножением остальных цифр. А умножение на 9 происходит по несколько иному алгоритму.</p>

<h2>Умножение на пальцах на 9</h2>

<p>Примеры на 9 часто кажутся самыми сложными, но с применением пальцев любые задачи с девяткой становятся очень простыми. Давайте рассмотрим поэтапно, как <a href="/factor/9/">умножить 9</a> на все цифры от 2 до 9.</p>

<p>Расположите руки перед собой, но уже ладонями от себя, а дальше останется просто загибать пальцы (при этом пальцы не нумеруются, но важно запомнить, что пальцы слева от загибаемого пальца обозначают десятки, а пальцы справа от него &ndash; единицы). Сам же алгоритм таков:</p>

<ul>
	<li>Чтобы умножить 9 на 2, загните безымянный палец левой руки. Слева останется один палец, а справа &ndash; восемь. Ваш ответ: 18.</li>
	<li>Чтобы умножить 9 на 3, загните средний палец левой руки. Слева останется два пальца, а справа &ndash; семь. Ваш ответ: 27.</li>
	<li>Чтобы умножить 9 на 4, загните указательный палец левой руки. Слева останется три пальца, а справа &ndash; шесть. Ваш ответ: 36.</li>
	<li>Чтобы умножить 9 на 5, загните большой палец левой руки. Слева останется четыре пальца, а справа &ndash; пять. Ваш ответ: 45.</li>
	<li>Чтобы умножить 9 на 6, загните большой палец правой руки. Слева останется пять пальцев, а справа &ndash; четыре. Ваш ответ: 54.</li>
	<li>Чтобы умножить 9 на 7, загните указательный палец правой руки. Слева останется шесть пальцев, а справа &ndash; три. Ваш ответ: 63.</li>
	<li>Чтобы умножить 9 на 8, загните средний палец правой руки. Слева останется семь пальцев, а справа &ndash; два. Ваш ответ: 72.</li>
	<li>Чтобы умножить 9 на 9, загните безымянный палец правой руки. Слева останется восемь пальцев, а справа &ndash; один. Ваш ответ: 81.</li>
</ul>

<p>С умножением 9 на 10 дело обстоит точно так же: чтобы умножить 9 на 10, загните мизинец правой руки. Слева останется девять пальцев, а справа &ndash; ни одного. Ваш ответ: 90.</p>

<p>Кстати, если вам понравился такой способ умножения на пальцах, можете попробовать освоить им таблицу умножения на 6, 7 и 8. Например, если вам нужно умножить 7 на 8, расположите руки ладонями к себе (как в случае с умножением на 6, 7 и 8, рассмотренном выше) и согните пальцы, обозначающие 7 на левой руке и 8 на правой руке, а также пальцы под ними. Затем посчитайте сумму согнутых пальцев (десятки) и умножьте друг на друга количество прямых пальцев на левой и на правой руке (единицы). Получится 56.</p>

<p>Как вы видите, умножение на пальцах &ndash; это очень просто, и освоить его может даже ребенок. Зато в жизни оно может пригодиться в самых неожиданных обстоятельствах. А еще оно является прекрасной тренировкой для мозга и способствует улучшению его нейропластичности. Для ребенка же оно послужит еще и тренировкой координации и мелкой моторики. Поэтому осваивать метод умножения на пальцах очень полезно и для улучшения математических навыков, и для здоровья.</p>


<div itemscope itemtype="http://schema.org/FAQPage">
<h2>❓Вопросы и ответы</h2>

<p>А предлагаем вам познакомиться с ответами на часто задаваемые вопросы.</p>

<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Для чего используется умножение на пальцах?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Умножение на пальцах используется для простого и быстрого вычисления произведений простых чисел от 6 до 10. При этом есть несколько методик умножения на пальцах, при которых используются разные варианты нумерации пальцев, а также вариант без нумерации.</span></p>

</div>


<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Что нужно знать, чтобы научиться умножать на пальцах?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Чтобы научиться умножать на пальцах, нужно уметь складывать, знать таблицу умножения до 5 и умножать на 10. Поэтому, если методу обучается ребенок, сначала он должен запомнить первую часть таблицы &ndash; эти знания пригодятся при дальнейших вычислениях на пальцах.</span></p>

</div>


<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Можно ли назвать умножение на пальцах самым быстрым методом умножения?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Умножение на пальцах является одним из самых быстрых способов вычисления простых произведений. Если отработать навык до автоматизма, простые примеры можно решать буквально в доли секунд.</span></p>

</div>


<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Для каких типов вычислений умножение на пальцах не подходит?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Умножение на пальцах не подходит для сложных (например, <a href="/factor/20-30-100/">умножение чисел более 20, 30 и 100</a>) и специфических вычислений.</span> С помощью него не получится умножать цифры от 10 и тем более производить такие сложные операции, как вычисление квадратных корней или тригонометрических функций.</p>

</div>


<div itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
<h3 itemprop="name">Может ли умножение на пальцах заменить калькулятор?</h3>

<p itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer"><span itemprop="text">Нет, умножение на пальцах не может полностью заменить <a href="https://ecalc.ru/simple/">калькулятор</a>, потому что оно не подходит для сложных вычислений и операций с крупными числами.</span> Калькулятор является более точным и надежным способом вычисления.</p>

</div>
</div>


</Layout_article>
