---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Законы умножения"
h1="Законы умножения"
description="Узнайте про переместительный, сочетательный и распределительный законы умножения с примерами."
keywords="законы умножения, переместительный, сочетательный, распределительный"
url="laws"
section="Изучение"
section_url="study"
img="laws.png"
>


<p><strong>Содержание</strong></p>

<ul>
	<li><a href="#1">3 закона ключевых закона</a></li>
	<li><a href="#2">Переместительный</a></li>
	<li><a href="#3">Сочетательный </a></li>
	<li><a href="#4">Распределительный </a></li>
</ul>

<h2 id="1">3 закона ключевых закона</h2>

<p>В математике существует несколько видов законов умножения, которые необходимо неукоснительно соблюдать:</p>

<ul>
	<li>Переместительный или коммуникативный закон: b &times; а = а &times; b.</li>
	<li>Сочетательный или ассоциативный закон: а &times; (b &times; c) = а &times; b &times; c.</li>
	<li>Распределительный или дистрибутивный закон, относительно сложения: аd + bd + cd = (а + b + c) &times; d.</li>
</ul>

<p>Рассмотрим эти законы более подробно.</p>

<h2 id="2">Переместительный закон умножения</h2>

<p>Переместительный закон умножения говорит, что от перемены мест множителей произведение не меняется.</p>

<p>Другими словами, если множитель и множимое поменять местами, то их произведение останется таким же и никак не поменяется. В общем виде переместительное свойство умножения будет выглядеть следующим образом:</p>

<p class="formula">a &times; b = b &times; a</p>

<p>Давайте проверим на примере, действительно ли это так и есть?</p>

<p>Умножим сначала 5&times;2, а потом, наоборот, 2&times;5:</p>

<p>5 &times; 2 = 10<br />
2 &times; 5 = 10</p>

<p>В итоге, в том и в другом случае мы получаем один ответ 10 &mdash; поэтому между выражениями 5&times;2 и 2&times;5 мы можем смело поставить = (знак равенства).</p>

<p>5 &times; 2 = 2 &times; 5<br />
10 = 10</p>

<p>В чем заключается переместительное свойство умножения?</p>

<p>Переместительное свойство по-другому называется коммутативное, commutative &ndash; то есть то, что может меняться (лат.)</p>

<p>Поэтому, когда мы меняем в действиях порядок сомножителей, то произведение при этом никак не будет меняться.</p>

<p>Существует коммутативность умножения, когда при перестановке сомножителей произведение не меняется.</p>

<p>Также существует коммутативность сложения, когда от перестановки двух слагаемых сумма тоже никак не будет меняться.</p>

<h2 id="3">Сочетательный закон умножения</h2>

<p>Сочетательный закон умножения по-другому называется ассоциативным, association &ndash; то есть то, что соединяется (лат).</p>

<p>Сочетательный закон умножения говорит о том, что для того, чтобы умножить произведение двух чисел на какое-то третье число, то первое число можно умножить на произведение второго и третьего чисел.</p>

<p>Умножение числа a на произведение из чисел b и c будет равносильным умножению произведения чисел a и b на число c.</p>

<p>Для примера приведем простую формулировку в буквенном виде:</p>

<p class="formula">a &times; (b &times; c) = (a &times; b) &times; c</p>

<p>a, b, c здесь будут любыми натуральными числами.</p>

<p>Сочетательный закон, как правило, работает для трех и более натуральных чисел.</p>

<p>Разберем еще один полезный и нужный закон в математике.</p>

<p>Сочетательный закон умножения:</p>

<p>Если наше выражение будет состоять из нескольких сомножителей, то их произведение не будет зависеть от порядка действий. Другими словами, вы можете умножать числа абсолютно в любом порядке &mdash; как вам больше нравится - так и умножайте.</p>

<p>Например, возьмем такое выражение:</p>

<p>2 &times; 3 &times; 4</p>

<p>Его можно вычислить в любом порядке. Для начала давайте перемножим между собой числа два и три, а затем полученный результат умножим на 4:</p>

<p>2 &times; 3 = 6<br />
6 &times; 4 = 24<br />
2 &times; 3 &times; 4 = 24</p>

<p>А теперь попробуем это действие решить по-другому:</p>

<p>Сначала перемножим числа три и четыре, а затем результат умножим на два:</p>

<p>3 &times; 4 = 12<br />
2 &times; 12 = 24<br />
2 &times; 3 &times; 4 = 24</p>

<p>Ответ будет таким же.</p>

<p>Это говорит о том, что между выражениями (2 &times; 3) &times; 4 и 2 &times; (3 &times; 4) мы можем поставить = (знак равенства), так как эти выражения по своему значению между собой абсолютно равны.</p>

<p>(2 &times; 3) &times; 4 = 2 &times; (3 &times; 4)</p>

<p>6 &times; 4 = 2 &times; 12<br />
24 = 24</p>

<p>Для a, b и c (любых натуральных чисел) будет верным такое равенство:</p>

<p>a &times; b &times; с = (a &times; b) &times; с = a &times; (b &times; с).</p>

<p>Например, нам необходимо вычислить: 5 &times; 6 &times; 7 &times; 8.</p>

<p>Метод решения:</p>

<p>Поскольку данное выражение мы можем вычислять в любом порядке, то давайте вычислим его слева направо:</p>

<p>5 &times; 6 = 30<br />
30 &times; 7 = 210<br />
210 &times; 8 = 1680<br />
5 &times; 6 &times; 7 &times; 8 = 1680</p>

<h2 id="4">Распределительный закон умножения</h2>

<p>Распределительный закон умножения гласит:</p>

<ol>
	<li>Для того, чтобы одно число умножить на сумму чисел, нам нужно это число сначала отдельно умножить на каждое слагаемое и после этого сложить все полученные произведения.</li>
	<li>Для того, чтобы сумму чисел умножить на число, необходимо отдельно каждое слагаемое умножить на число, после чего все полученные произведения необходимо сложить.</li>
</ol>

<p>Другими словами, при помощи этого распределительного закона умножения можно умножить как сумму на число, так и любое число на сумму.</p>

<p>Как отразить распределительный закон умножения с помощью переменных?</p>

<p class="formula">(a + b) &times; c = a &times; c + b &times; c</p>

<p>Выражение, находящееся в скобках (a + b) &mdash; называется множимым.</p>

<p>А переменная с в данном случае будет являться множителем, поскольку они соединены между собой знаком умножения.</p>

<p>Давайте рассмотрим следующий пример: (3 + 5) &times; 2.</p>

<p>В первую очередь мы будем выполнять действие в скобках: (3 + 5) = 8.</p>

<p>В основном выражении (3 + 5) &times; 2 нам необходимо заменить выражение в скобках на цифру восемь: 8 &times; 2 = 16.</p>

<p>Мы получаем в ответе &laquo;16&raquo;.</p>

<p>Этот же пример мы можем решить с помощью распределительного закона умножения. Для этого мы возьмем каждое слагаемое в скобках и умножим его на два, а потом сложим между собой полученные результаты:</p>

<p>(3 + 5) &times; 2 = 3 &times; 2 + 5 &times; 2<br />
3 &times; 2 = 6<br />
5 &times; 2 = 10<br />
6 + 10 = 16</p>

<p>И здесь мы понимаем, что по правилу переместительного закона умножения от перемены мест множителя и множимого само произведение меняться не будет.</p>

<p>Если, например поменять местами множимое (a + b) и множитель c, то мы получим выражение c &times; (a + b). Тогда получится, что мы умножаем переменную c на сумму (a + b). И здесь, для этого действия мы можем пользоваться распределительным законом умножения.</p>

<p>Мы будем умножать переменную на каждое слагаемое в скобках:</p>

<p>c &times; (a + b) = c &times; a + c &times; b</p>

<h3>Пример № 1</h3>

<p>Нам нужно решить: 5 &times; (3 + 2).</p>

<p>Как будет выглядеть решение?</p>

<p>Мы умножим цифру пять на каждое слагаемое, которое находится в скобках, по очереди и после этого сложим полученные результаты:</p>

<p>5 &times; (3 + 2) = 5 &times; 3 + 5 &times; 2 = 15 + 10 = 25</p>

<p>В ответе получаем: 25</p>

<h3>Пример № 2</h3>

<p>Попробуем найти значение выражения: 2 &times; (5 + 2).</p>

<p>Как будем решать?</p>

<p>Возьмем цифру два и умножим ее на каждое слагаемое в скобках по очереди, после чего полученные результаты сложим вместе:</p>

<p>2 &times; (5 + 2) = 2 &times; 5 + 2 &times; 2 = 10 + 4 = 14.</p>

<p>В ответе получаем: 4.</p>

<p>Если в действии в скобках будет не сумма, а разность, то сначала будем умножать множимое на каждое число, которое находится в скобках. А после этого возьмем первое полученное число и вычтем из него второе число.</p>

<h3>Пример № 3</h3>

<p>Будем решать: 4 &times; (6 &minus; 2).</p>

<p>Порядок решения:</p>

<p>Умножаем цифру четыре на каждое число, которое находится в скобках. И после этого из полученного первого числа будем отнимать второе число:</p>

<p>4 &times; (6 &minus; 2) = 4 &times; 6 &minus; 4 &times; 2 = 24 &minus; 8 = 16</p>

<p>В ответе получим: 16.</p>


</Layout_article>
