---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Умножение"
h1="Умножение"
description="Разбираем простым языком, что такое умножение."
keywords="умножение, что такое, множитель, множимое, произведение"
url="multiplication"
section="Изучение"
section_url="study"
img="multiplication.jpg"
>

<h2>Что такое умножение?</h2>

<p>Давайте представим, что вам нужно купить 182 шариковых ручки по 7 рублей. Сколько вам за них придется заплатить? Так сразу на этот вопрос ответить трудно, поэтому на помощь придет такое арифметическое действие, как умножение.</p>

<p class="opredelenie"><strong>Умножение</strong> &mdash; это математическая операция над двумя разными аргументами, называемыми множителем и сомножителем.</p>

<p>В некоторых случаях первый аргумент именуют множимым, а второй - множителем. То, что получится в результате умножения - называется произведением.</p>

<p>Впервые умножение предназначалось для натуральных чисел, как многократное сложение.</p>

<p>Например, чтобы перемножить а &times; b, нужно сложить b чисел а:</p>

<p class="formula">а &times; b = a + a + &middot;&middot;&middot; + a (b раз)</p>

<p>Значительно позже умножение распространилось на рациональные, вещественные, комплексные и целые виды методом систематического обобщения.</p>

<p>Сегодня в математике умножение определяется не только для чисел, но и для других математических объектов. Оно имеет конкретный смысл разных свойств и определений.</p>

<p>Также умножение &mdash; это коммутативная операция, то есть, это порядок записи чисел-множителей, которые не влияют на результат самого умножения.</p>

<p>Умножение &mdash; это такое действие, которое обычно заменяет сложение одинаковых слагаемых.</p>

<p>При обозначении умножения используются специальные символы ∙ - точка, знак * - звезда, и знак косого крестика х, который ставится при умножении в столбик.</p>

<h2>Составляющие умножения</h2>

<p>В умножении есть 2 главных составляющих элемента.</p>

<h3>Множитель</h3>

<p>В умножении первое число называется множителем, оно обычно показывает первое условие задачи и второе число - множимое, которое показывает второе условие.</p>

<p>Первый множитель означает слагаемое, а второй обычно указывает на количество слагаемых.</p>

<p>При увеличении множителя, как правило, произведение увеличивается, а при уменьшении, наоборот, уменьшается. Данное свойство позволяет, например, сравнить несколько произведений, не произведя при этом никаких вычислений.</p>

<p>Множитель &mdash; это число, на которое умножают.</p>

<p>К примеру, посмотрите на запись ниже:</p>

<p>4 &times; 3</p>

<p>4 &mdash; это множимое, а 3 является множителем.</p>

<h3>Множимое</h3>

<p>Множимое &mdash; это число, которое умножают. Оно указывает количество одинаковых слагаемых.</p>

<p>Множимое и множитель по-другому еще называются множителями или сомножителями.</p>

<p>Произведением называется число, которое обычно получается в результате действия умножения.</p>

<h2>Свойства умножения</h2>

<p><strong>1. Переместительное свойство</strong> говорит о том, что от перестановки множителей произведение никогда не меняется:</p>

<ul>
	<li>5 &times; 6 = 30</li>
	<li>6 &times; 5 = 30</li>
</ul>

<p>Таким образом, 5 &times; 6 = 6 &times; 5</p>

<p><strong>2. Сочетательное свойство</strong> говорит о том, что два соседних множителя всегда можно заменить на их произведение:</p>

<p class="formula">(4 &times; 2) &times; 3 = 4 &times; (2 &times; 3)</p>

<p><strong>3. Распределительное свойство</strong> говорит о том, что при умножении суммы на число можно каждое слагаемое умножить на него в отдельности, после чего полученные результаты сложить:</p>

<p class="formula">(3 + 10) &times; 7 = 3 &times; 7 + 10 &times; 7 = 91</p>

<h2>Примеры и задания</h2>

<p>Попробуйте себя проверить:</p>

<h3>Задание 1</h3>

<p>Нужно найти суммы, которые можно заменить произведениями и произвести эту замену.</p>

<p>1. 5 + 5 + 5<br />
2. 4 + 6 + 1<br />
3. с + с + с + с<br />
4. 87 + 87 + 87 + 87 + 87<br />
5. k + k + k</p>

<p class="btnopen">Посмотреть ответы</p>

<p class="blockopen">1. 5 + 5 + 5 = 5 &times; 3<br />
3. с + с + с +с = с &times; 4<br />
4. 87 + 87 + 87 + 87 + 87 = 87 &times; 5<br />
5. k + k + k = k &times; 3</p>

<h3>Задание 2</h3>

<p>Первый множитель равен 9 и второй множитель равен 3. Найдите выражение и запишите его значение.</p>

<p class="btnopen">Ответ</p>

<p class="blockopen">9 &times; 3 = 9 + 9 + 9 = 27</p>

<h3>Задание 3</h3>

<p>Сравните произведения, не выполняя при этом вычислений:</p>

<p>1. 15 &times; 6 и 12 &times; 3<br />
2. 209 &times; 2 и 3 &times; 210<br />
3. а &times; 5 и а &times; 8<br />
4. a &times; b и a &times; c (c &lt; b)</p>

<p class="btnopen">Узнать ответы</p>

<p class="blockopen">1. 15 &times; 6 &gt; 12 &times; 3<br />
2. 209 &times; 2 &lt; 3 &times; 210<br />
3. а &times; 5 &lt; а &times; 8<br />
4. a &times; b &gt; a &times; c (c &lt; b)</p>



</Layout_article>
