---
import Layout_article from '../../layouts/Layout_article.astro'
---

<Layout_article
title="Правила и свойства умножения"
h1="Правила и свойства умножения"
description="Узнайте про основные принципы умножение, которые упростят вам дальнейшее изучение математики."
keywords="правила умножения, свойства умножения, переместительный, сочетательный, распределительный"
url="prop"
section="Изучение"
section_url="study"
img="prop.jpg"
>

<h2>Что такое умножение?</h2>

<p class="opredelenie"><b>Умножение</b> является арифметическим действием, в котором принимают участие два аргумента - множитель и сомножитель. В некоторых случаях первый аргумент принято называть множимым, а второй - множителем. Число, которое получается в результате умножения, называется произведением.</p>

<p>Впервые в истории умножение для натуральных чисел было определено, как многократное сложение. Чтобы умножить число а на число b, необходимо сложить b чисел a.</p>

<p class="formula">a &times; b= а + а + ...+ а (b раз)</p>

<p>Позже умножение разделилось на рациональное, целое, вещественное, комплексное и некоторые другие виды чисел, согласно систематическому обобщению.</p>

<p>Сегодня в математике умножение имеет конкретный смысл, различные свойства и определения для разных математических объектов, а не только для определения чисел.</p>

<p>Умножение чисел между собой &mdash; это конкретная коммутативная операция, другими словами &mdash; это определенный порядок записи множителей-чисел, который никак не влияет на сам результат умножения.</p>

<p>Например, при умножении цифр 5 и 3 запись может выглядеть, как 3 &times; 5, так и 5 &times; 3 (произносится, как трижды пять и пятью три). В том и другом случае результатом вычисления будет являться число 15.</p>

<p>Давайте проверим эти действия через сложение:</p>

<p>5 + 5 + 5 = 15<br />
3 + 3 + 3 + 3 = 15</p>

<p>Умножение матриц, векторов, кватернионов, множеств и т. д (т. е, нечисловых математических, физических и абстрактных величин) не всегда может являться коммутативной операцией. И здесь, при умножении физических величин будет важную роль играть их размерность.</p>

<p>В задачу общей алгебры, в частности теории колец и групп, всегда входит изучение общих свойств операции.</p>

<h2>Что такое произведение в математике?</h2>

<p>Произведением называется результат умножения. Умножаемые числа называются множителями и сомножителями. А под умножением подразумевается краткая запись суммы одинаковых слагаемых.</p>

<p>Например:</p>

<p>Когда мы видим значение 5 &times; 3, то имеется в виду, что нужно 5 сложить между собой три раза, другими словами, это обычная краткая запись для 5 + 5 + 5.</p>

<h3>Запись произведения</h3>

<p>Умножение может обозначаться крестиком &laquo;&times;&raquo;, точкой &laquo;&middot;&raquo; и звездочкой &laquo;*&raquo;:</p>

<p class="formula">5 &times; 3<br />
5 * 3<br />
5 &middot; 3</p>

<p>Все обозначения одинаковы по своей сути и говорят об одном и том же действии.</p>

<p>Но иногда знак умножения в виде точки могут намеренно пропускать, если умножение идёт не на число, а на буквенную переменную и постоянную.</p>

<p>Например, вместо 5 &times; x обычно пишут 5х.</p>

<p>Если в действии есть несколько сомножителей, то вместо них можно поставить многоточие. Допустим, произведение целых чисел от 1 до 100 будет выглядеть таким образом:</p>

<p class="formula">1 &times; 2 &times; 3 &times; 4 &times;&hellip;&times; 97 &times; 98 &times; 99 &times; 100</p>

<h3>Что такое множимое?</h3>

<p>В математических действиях множимое является первым числом или величиной, которое умножается на множитель.</p>

<h3>Что такое множитель?</h3>

<p>Множителем называется то число, которое показывает сколько раз следует повторять слагаемым какое-то другое число (множимое), чтобы получилось произведение.</p>

<h2>Свойства умножения</h2>

<p>В умножении существуют разные свойства: переместительное, сочетательное и распределительное.</p>

<p><strong>По переместительному свойству: </strong>от перестановки разных множителей произведение остается неизменным.</p>

<p>Например: 5 &times; 2 = 10 и 2 &times; 5 = 10.</p>

<p>Соответственно, 5 &times; 2 = 2 &times; 5.</p>

<p><strong>По сочетательному свойству: </strong>два соседних множителя можно заменить произведением.</p>

<p>Например: (3 &times; 2) &times; 5 = 3 &times; (2 &times; 5).</p>

<p><strong>По распределительному свойству </strong>при умножении суммы на число можно умножать на него в отдельности каждое слагаемое, и потом складывать полученные результаты.</p>

<p>Например: (5 + 10) &times; 6 = 5 &times; 6 + 10 &times; 6 = 90.</p>

<h3>Другие свойства</h3>

<p>Чтобы умножить сумму на какое-то число, сначала необходимо выполнить сложение, а потом полученный результат умножить на число.</p>

<p>Например: (4 + 9) &times; 5 = 13 &times; 5 = 65.</p>

<p>Чтобы умножить число на произведение, нужно сначала сделать умножение в скобках, а затем умножить на полученный результат.</p>

<p>Например: 2 &times; (5 &times; 3) = 2 &times; 15 = 30.</p>

<p>Чтобы умножить число на сумму, сначала необходимо выполнить сложение, а потом умножить число на результат, который получился.</p>

<p>Например: 6 &times; (2 + 4) = 6 &times; 6 = 36.</p>

<p>Если при умножении хотя бы один множитель будет равным нулю, то и само произведение также будет равно нулю.</p>

<p>Например, для любых чисел a, b, c будет верным такое равенство: 0 &times; a &times; b &times; c = 0.</p>

<p>Таким образом, при умножении любого числа на 0, мы будем брать это число 0 раз, т. е, мы не будем брать его не разу, а значит, в результате ничего и не получится.</p>

<p>В случае, когда мы умножаем ноль на любое число, мы будем находить сумму нулей, но она, как известно, равна 0.</p>

<p>При умножении любого целого числа на единицу в результате всегда получится то же самое число. Другими словами, при умножении на единицу умножаемое число никогда не изменяется.</p>

<p>Например: а &times; 1 = а.</p>

<p>Если в произведении двух чисел один из сомножителей будет единицей, то произведение будет равным второму сомножителю:</p>

<p>a &times; 1 = 1 &times; a = a.</p>

<p>Так как при умножении любого числа на единицу это число берется только один раз, то в результате можно получить только это же число.</p>

<p>А если мы умножаем единицу на любое число, например, 1 &times; 9, то мы будем находить сумму девяти единиц, другими словами, то количество единиц, из которых и состоит данное число.</p>

<p>Поэтому сумма этих единиц будет равна данному числу:</p>

<p>1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 = 9.</p>

<p>Умножение многозначного числа на однозначное</p>

<p>Чтобы умножить многозначное на однозначное число, необходимо умножить это однозначное число на количество единиц в разряде многозначного числа, после чего все полученные результаты сложить.</p>

<p>Например, нам следует умножить: 985 &times; 4.</p>

<p>Мы будем складывать число 985 четыре раза: 985 + 985 + 985 + 985.</p>

<p>Нам нужно каждое из слагаемых 985 представить в виде суммы его разрядных слагаемых: 900 + 85 + 5.</p>

<p>Само выражение будет выглядеть следующим образом:</p>

<p>900 + 80 + 5 + 900 + 80 + 5 + 900 + 80 + 5 + 900 + 80 +5.</p>



</Layout_article>
